<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide" style="background:#fffffa">
  <div class="small-dialog-header">
    <img style="max-width:180px" src="https://lh3.googleusercontent.com/hlcLdauNL9UiLa3K4wF5ZPNpHzi50R26y61Ahx7oRMbUNgujN-1SmeC_3zG4EHLBH5WnRhQ1ZS19KF_xcWqkTKoENw=s360" />
  </div>

  <div id="modal-container" class="sign-in-form style-1">
    <ul class="tabs-nav">
      <li><a id="tab-login" href="#tab1">Log In</a></li>
      <li><a id="tab-register" href="#tab2">Register</a></li>
    </ul>

    <div class="tabs-container alt">
      <div class="tab-content" id="tab1" style="display: none;">
        <form method="post" class="login">

          <div class="input-row">
            <div class="input-label">Email</div>
            <div class="input-container">
              <input id="input-login-email" type="text" />
            </div>
          </div>

          <div class="input-row">
            <div class="input-label">Password</div>
            <div class="input-container">
              <input id="input-login-password" type="text" />
            </div>
          </div>

          <input id="input-login" style="width:100%" type="submit" class="button border fw margin-top-10 width-100" name="login" value="Log In" />
        </form>
      </div>

      <!-- Register -->
      <div class="tab-content" id="tab2" style="display: none;">
        <form method="post" class="register">
          <div class="input-row">
            <div class="input-label">Name</div>
            <div class="input-container">
              <input id="input-register-name" placeholder="First and Last Name" type="text" />
            </div>
          </div>

          <div class="input-row">
            <div class="input-label">Email</div>
            <div class="input-container">
              <input id="input-register-email" placeholder="email@example.com" type="text" />
            </div>
          </div>

          <div class="input-row">
            <div class="input-label">Password</div>
            <div class="input-container">
              <input id="input-register-password" placeholder="***" type="password" />
            </div>
          </div>

          <input style="width:100%" id="input-register" type="submit" class="button border fw margin-top-10" name="register" value="Register" />
        </form>
      </div>
    </div>
  </div>
</div>


<div id="premium-dialog" class="zoom-anim-dialog mfp-hide" style="background:#fffffa">
  <div class="small-dialog-header">
    <img style="max-width:180px" src="https://lh3.googleusercontent.com/hlcLdauNL9UiLa3K4wF5ZPNpHzi50R26y61Ahx7oRMbUNgujN-1SmeC_3zG4EHLBH5WnRhQ1ZS19KF_xcWqkTKoENw=s360" />
  </div>

  <form method="post" class="login">
    <div class="input-row">
      <div class="input-label">Email</div>
      <div class="input-container">
        <input id="input-login-email" type="text" />
      </div>
    </div>

    <div class="input-row">
      <div class="input-label">Password</div>
      <div class="input-container">
        <input id="input-login-password" type="text" />
      </div>
    </div>

    <input id="input-login" style="width:100%" type="submit" class="button border fw margin-top-10 width-100" name="login" value="Log In" />
  </form>
</div>
