<div id="footer" class="footer-dark margin-top-80">
	<div class="container">
		<div class="row padding-bottom-40">
			<div class="col-md-6 col-sm-6">
				<img class="footer-logo" src="https://lh3.googleusercontent.com/DacvMRc4I_Zq0hENs6RyqlUcgQqY_jBdcLHvQckcpk3ZecgvzctF9_GnemZE3nCtnWFoY8g5C6gnCmccsMFP7aJi=s140" alt="Vertex 360">
				<br><br>
				<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
			</div>

			<div class="col-md-3 col-sm-6">
				<ul class="footer-links">
					<li><a href="/?selected=faq">FAQ</a></li>
					<li><a href="/templates">Templates</a></li>
					<li><a href="/?selected=how+it+works">How It Works</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="col-md-3 col-sm-12">
				<ul class="footer-links">
					<li><a href="/?selected=faq">Developers</a></li>
					<li><a href="/templates">Documentation</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="row">{{>copyright}}</div>
	</div>
</div>
