<div id="footer" class="footer-dark margin-top-80">
	<div class="container">
		<div class="row padding-bottom-40">
			<div class="col-md-5 col-sm-12">
				<img class="footer-logo" src="https://lh3.googleusercontent.com/LARXvti0sZzR_lskYdL2sIZnIFaAMDu5KyyoZQCrRbFhVIHfno2OBNouNnEMkfnbqEYECqGfWzIFS6yGDZA8sBbw3g=s140" alt="Vertex 360">
				<br><br>
				<p>
					Vertex 360 is a cloud-based development platform that makes it easy to create beautiful, professional websites. Promote your business, work, or just test out new ideas. Vertex 360 has everything you need to create a customized, high-quality free website.
				</p>
			</div>

			<div class="col-md-2 col-sm-12 col-xs-12 col-md-offset-1">
				<ul class="footer-links margin-top-30" style="width:100%">
					<li><a href="/?selected=faq">FAQ</a></li>
					<li><a href="/templates">Templates</a></li>
					<li><a href="/community">Community</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="col-md-4 col-sm-12 col-xs-12">
				<h3 class="margin-top-30" style="color:#fff">Newsletter</h3>
				<form id="add-comment" class="add-comment">
	        <div class="input-row margin-left-0">
	          <div class="input-container margin-left-0">
	            <input placeholder="Email" id="input-newsletter-email" type="text" />
	          </div>
	        </div>

	        <div style="text-align:right">
	          <button id="btn-newsletter-subscribe" class="button">Sign Up!</button>
	        </div>
	        <div class="clearfix"></div>
	      </form>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="row">{{>copyright}}</div>
	</div>
</div>
