<!--navigation-->
<nav style="height:72px;border-bottom:1px solid #ddd" class="navbar navbar-expand-md navbar-light bg-white fixed-top sticky-navigation">
	<div class="container">
		<a class="navbar-brand mx-auto" href="/">
				<img class="logo" src="https://lh3.googleusercontent.com/hlcLdauNL9UiLa3K4wF5ZPNpHzi50R26y61Ahx7oRMbUNgujN-1SmeC_3zG4EHLBH5WnRhQ1ZS19KF_xcWqkTKoENw=s320" />
		</a>
		<button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
						data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span data-feather="grid"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
						<li class="nav-item">
								<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item">
								<a class="nav-link" href="/templates">Templates</a>
						</li>
						<li class="nav-item">
								<a class="nav-link" href="/blog">Blog</a>
						</li>
						<li id="login-container" class="nav-item">
								<a data-toggle="modal" data-target="#login-modal" style="border-radius:6px;color:#fff" class="nav-link btn btn-primary" href="#">Login</a>
						</li>
				</ul>
		</div>
	</div>
</nav>
