<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    Vertex 360
    <div id="btn-account-container">
      <a class="btn btn-info" href="/me">My Account</a>
    </div>
  </div>
</nav>
