<header id="header-container" class="fixed fullwidth">
	<div id="header" class="not-sticky">
		<div class="container mobile-nav">

			<div class="left-side">
				<div id="logo">
					<a href="/">
            <img src="https://lh3.googleusercontent.com/hlcLdauNL9UiLa3K4wF5ZPNpHzi50R26y61Ahx7oRMbUNgujN-1SmeC_3zG4EHLBH5WnRhQ1ZS19KF_xcWqkTKoENw=s320" alt="Vertex 360">
          </a>
				</div>

				<div class="mmenu-trigger margin-bottom-0">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

			</div>


			<div id="nav-menu" class="right-side hidden-xs">
				<div class="header-widget" class="hidden-xs hidden-sm hidden-md">
          <nav id="navigation" class="style-1">
  					<ul id="responsive">
  						<li><a href="/community?selected=templates">Templates</a></li>
							<li class="hidden-xs"><a id="nav-faq" href="/?selected=faq">FAQ</a></li>
							<li><a id="nav-faq" href="/community">Community</a></li>
							<li class="hidden-xs"><a id="nav-login" href="#sign-in-dialog" class="popup-with-zoom-anim">Login</a></li>
  					</ul>
  				</nav>
          <div id="login-container" class="hidden-xs hidden-sm">
  					<a id="btn-login" href="#sign-in-dialog" class="button with-icon popup-with-zoom-anim">JOIN <i class="sl sl-icon-login" style="padding-left:4px"></i></a>
          </div>
				</div>
			</div>

      {{>auth}}
		</div>
	</div>
</header>
