<div id="add-review" class="add-review-box" style="background:#fff">
  <h3 class="listing-desc-headline margin-bottom-20">Newsletter</h3>
  <hr />
  <p class="margin-top-20">Subscribe to our newsletter to make sure you don’t miss anything.</p>

  <div class="row">
    <div class="col-lg-6 col-md-6">

      <form id="add-comment" class="add-comment">
        <fieldset>
          <label>Name:</label>
          <input id="input-newsletter-name" type="text" style="background:#fffffa" />
          <label>Email:</label>
          <input id="input-newsletter-email" type="text" style="background:#fffffa" />
        </fieldset>

        <button id="btn-newsletter-subscribe" class="button">Sign Up!</button>
        <div class="clearfix"></div>
      </form>
    </div>

    <div class="col-lg-6 col-md-6">
      <div style="text-align:right">
        <img src="https://lh3.googleusercontent.com/l3BFy86lCQ5OL-yWD-7MHa_7fCH6T5W2q0LeDy0vRPCSZZK8NwjBRteoX4aNV_RRRwMFwUo3N7avntE5YEMFAo4Y=s260-c" />
      </div>
    </div>

  </div>
</div>
