<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="{{{cdn}}}/medium/js/vendor.min.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script type="text/javascript" src="{{{cdn}}}/scripts/googleauth.js"></script>
<script type="text/javascript" src="{{{cdn}}}/scripts/auth.js"></script>
{{#renderAnalytics}}{{>analytics}}{{/renderAnalytics}}
