<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
</head>

<body style="padding-top:70px">
  {{>nav}}

	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<h1>account page</h1>
			<hr />
      <p>
        {{user.username}}<br />
        {{user.email}}<br />
        <a href="#">Log Out</a>
      </p>
      <h3>Sites</h3>
      <ol>
        {{#sites}}
        <li><a href="/admin/{{slug}}">{{name}}</a></li>
        {{/sites}}
      </ol>
		</div>

	</div>

  <script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/mustache.js"></script>
  <script type="text/javascript">

  </script>
</body>
</html>
