<!DOCTYPE html>
<head>
  {{>head}}
  <style>
    .list-box-listing-img {
      max-width: 96px !important;
    }

    .my-profile textarea {
      max-height: 120px;
    }
  </style>
</head>

<body>

<div id="wrapper">
  {{>nav}}

<div class="clearfix"></div>

<div id="dashboard">
	<a href="#" class="dashboard-responsive-nav-trigger">
    <i class="fa fa-reorder"></i> Dashboard Navigation
  </a>

	<div class="dashboard-nav">
		<div class="dashboard-nav-inner">
			<ul data-submenu-title="Account">
				<li id="list-item-profile"><a class="sidebar-menu-option" href="#"><i class="sl sl-icon-settings"></i> Profile</a></li>
				<li id="list-item-sites"><a class="sidebar-menu-option" href="#"><i class="sl sl-icon-envelope-open"></i> Sites</a></li>
			</ul>
		</div>
	</div>

	<div class="dashboard-content">

		<div class="row">

			<div class="col-lg-9 col-md-9">
        <div id="content-profile" class="dashboard-list-box margin-top-0">
					<h4 class="gray">Profile Details</h4>
					<div class="dashboard-list-box-static">

            <div class="row">
              <div class="col-lg-8">
                <div class="my-profile">
    							<label>First Name</label>
    							<input id="input-profile-firstName" style="background:#fffffa" value="{{user.firstName}}" type="text" />

                  <label>Last Name</label>
    							<input id="input-profile-lastName" style="background:#fffffa" value="{{user.lastName}}" type="text" />

                  <label>Username</label>
    							<input id="input-profile-username" style="background:#fffffa" value="{{user.username}}" type="text" />

    							<label>Bio</label>
    							<textarea id="input-profile-bio" style="background:#fffffa" name="notes" cols="30" rows="6">{{user.bio}}</textarea>
    						</div>
              </div>

              <div class="col-lg-4">
                <div class="edit-profile-photo">
    							<img src="images/user-avatar.jpg" alt="">
    						</div>
                <div class="photoUpload">
                    <span><i class="fa fa-upload"></i> Upload Photo</span>
                    <input type="file" class="upload btn btn-success" />
                </div>
              </div>


            </div>





						<button id="btn-update-profile" class="button margin-top-15">Update Profile</button>
					</div>
				</div>

				<div id="content-sites" class="dashboard-list-box margin-top-0">
					<h4 class="gray">Manage Your Sites</h4>
					<ul>
            {{#sites}}
						<li>
							<div class="list-box-listing">
								<div class="list-box-listing-img">
                  <a target="_blank" href="https://{{slug}}.vertex360.co">
                    <img src="{{image}}=s512-c" alt="Vertex 360 | {{name}}" />
                  </a>
                </div>
								<div class="list-box-listing-content">
									<div class="inner">
										<h3><a target="_blank" href="https://{{slug}}.vertex360.co">{{name}}</a></h3>
										<span>{{template.category}}</span>
									</div>
								</div>
							</div>
							<div class="buttons-to-right" style="bottom:0%;top:unset;opacity:1.0">
                <a target="_blank" href="https://{{slug}}.vertex360.co" class="button"><i class="sl sl-icon-share-alt"></i> View Site</a>
								<a href="/admin/pages/{{slug}}" class="button"><i class="sl sl-icon-close"></i> Pages</a>
                <a href="/admin/cms/{{slug}}" class="button"><i class="sl sl-icon-close"></i> CMS</a>
							</div>
						</li>
            {{/sites}}
					</ul>
				</div>

			</div>

      {{>footer}}
		</div>
	</div>

</div>

</div>

  <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
  <script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
  <script type="text/javascript">
    (function(){
      Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side

      var data = window.__PRELOADED__
      var user = data.user
      var selected = data.selected
      var sidebarMenu = ['list-item-profile', 'list-item-sites']

      var reloadUI = function(){
        if (selected == 'profile'){
          $('#content-sites').css('display', 'none')
          $('#content-profile').css('display', '')
        }

        if (selected == 'sites'){
          $('#content-profile').css('display', 'none')
          $('#content-sites').css('display', '')
        }

        sidebarMenu.forEach(function(listItem){
          var selectedListItem = 'list-item-'+selected
          if (listItem == selectedListItem)
            $('#'+listItem).addClass('active')
          else
            $('#'+listItem).removeClass('active')
        })
      }

      $('.sidebar-menu-option').each(function(i, el){
        $(this).click(function(event){
          if (event)
            event.preventDefault()

          // console.log('TEST: ' + event.target.text)
          selected = event.target.text.trim().toLowerCase()
          reloadUI()
        })
      })

      $('#login-container').html('<a href="/me" class="button">My Account</a>')
      $('#btn-update-profile').click(function(event){
        if (event)
          event.preventDefault()

        if (user == null)
          return

        var updatedProfile = {
          id: user.id,
          firstName: $('#input-profile-firstName').val().trim().toLowerCase(),
          lastName: $('#input-profile-lastName').val().trim().toLowerCase(),
          username: $('#input-profile-username').val().trim(),
          bio: $('#input-profile-bio').val()
        }

        $.ajax({
          url: '/account/update',
          type: 'POST',
          data: updatedProfile,
          success: function(response, status, xhr){
            if (response.confirmation != 'success'){
              alert('Error - ' + response.message)
              return
            }

            alert('Profile Successfully Updated')
          },
          error: function(xhr, status, err){
            alert('Error - ' + err.message)
          }
        })
      })

      reloadUI()
    })()
  </script>
</body>
</html>
