<!DOCTYPE html>
<head>
  {{>head}}

  <style>
      #btn-join {
        width: 100%;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        border-radius: 6px;
      }
  </style>
</head>

<body>

<div id="wrapper">
  {{>nav}}
  <div class="clearfix"></div>

<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3 class="headline centered margin-bottom-45">
					Blog
					<span>Discover top-rated local businesses</span>
				</h3>

        <div id="listing-reviews" class="listing-section">
  				<section class="comments listing-reviews">
  					<ul>
              {{#posts}}
  						<li>
                <div class="avatar"><img src="{{{author.image}}}=s120-c" alt="Vertex 360"></div>
                <div class="comment-content"><div class="arrow-comment"></div>
                  <div class="comment-by">
                    <h3 class="margin-top-0">
                      <a href="/post/{{slug}}">{{title}}</a>
                    </h3>
                    <span class="date">{{dateString}}</span></div>
                    <p><a href="/post/{{slug}}">{{preview}}</a></p>

                  <div>
                    <a href="/post/{{slug}}"><img src="{{{image}}}=s260" alt="Vertex 360"></a>
                  </div>
                </div>
  						</li>
              {{/posts}}

  						<li>
  							<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt=""> </div>
  							<div class="comment-content"><div class="arrow-comment"></div>
  								<div class="comment-by">John Doe <div class="comment-by-listing">on <a href="#">Tom's Restaurant</a></div> <span class="date">May 2017</span>
  									<div class="star-rating" data-rating="4"><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star empty"></span></div>
  								</div>
  								<p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
  							</div>
  						</li>

  						<li>
  							<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt=""></div>
  							<div class="comment-content"><div class="arrow-comment"></div>
  								<div class="comment-by">Kathy Brown <div class="comment-by-listing">on <a href="#">Burger House</a></div> <span class="date">June 2017</span>
  									<div class="star-rating" data-rating="5"><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span></div>
  								</div>
  								<p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>

  								<div class="review-images mfp-gallery-container">
  									<a href="images/review-image-02.jpg" class="mfp-gallery"><img src="images/review-image-02.jpg" alt=""></a>
  									<a href="images/review-image-03.jpg" class="mfp-gallery"><img src="images/review-image-03.jpg" alt=""></a>
  								</div>
  							</div>
  						</li>

  						<li>
  							<div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt=""> </div>
  							<div class="comment-content"><div class="arrow-comment"></div>
  								<div class="comment-by">John Doe <div class="comment-by-listing">on <a href="#">Hotel Govendor</a></div> <span class="date">May 2017</span>
  									<div class="star-rating" data-rating="5"><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span></div>
  								</div>
  								<p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
  							</div>

  						</li>
  					 </ul>
  				</section>

  			</div>

			</div>
		</div>

    <div class="row">

      {{#posts}}
      <div class="col-md-4">
        <a href="/post/{{slug}}" class="listing-item-container">
          <div class="listing-item">
            <img src="{{image}}=s512-c" alt="Vertex 360 | {{title}}">
            <div class="listing-item-content" style="padding-right:12px">
              <span class="tag">{{dateString}}</span>
              <h3>{{title}}</h3>
              <span style="font-size:14px;line-height:18px">{{preview}}</span>
            </div>
          </div>
          <div class="star-rating">
            <img style="width:32px;border-radius:50%;margin-right:4px" src="{{{author.image}}}=s260-c" />
            <small style="text-transform:capitalize">{{author.firstName}} {{author.lastName}}</small>
          </div>
        </a>
      </div>
      {{/posts}}

    </div>
	</div>

</section>


<!-- Info Section -->
<div class="container">

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="headline centered margin-top-80">
				Lightning Fast Web Design
				<span class="margin-top-25">Get up and running with a professional new website in under an hour.</span>
			</h2>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Retouching"></i>
				<h3>Web Design Made Easy</h3>
				<p>No coding required! No tinkering with confusing editors, drag &amp; drop tools, or complicated features for "beginners".</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Gears"></i>
				<h3>Powerful Features</h3>
				<p>Easily interact with your customers with email subscriber lists, image hosting and blog support.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="im im-icon-Coin"></i>
				<h3>Free To Start</h3>
				<p>Vertex websites are free to start. Once you are ready to connect your site to a custom domain, our plans begin at only $5.</p>
			</div>
		</div>
	</div>


  <div class="row">
		<div class="col-md-6 col-md-offset-3">
      <a id="btn-join" href="/templates" class="button with-icon margin-top-40">Get Started</a>
		</div>
	</div>


</div>

{{>footer-dark}}
</div>

<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>

</body>
</html>
