<!DOCTYPE html>
<head>
  {{>head}}
  <style>
    .message-by {
      margin-left: 50px !important;
    }

    .user-link {
      padding: 0px !important;
      display: inherit !important;
      color: #37b6bd !important;
    }

    .post-preview {
      margin-bottom: 24px;
      display: flex;
    }

    .post-preview p {
      font-weight: 400;
      line-height: 20px;
    }

    .post-preview span {
      margin: 8px;
      font-weight: 600;
      color: #000;
    }

    .post-preview small {
      color: #999;
      font-weight: 200;
      font-size: 12px;
    }

    .post-preview img {
      float: left;
      width: 44px;
      margin-right: 12px;
      border-radius: 50%;
    }

    .text-green {
      color: #0f949b;
    }

    .text-blue {
      color: blue;
    }

    .message-bubble input {
      border: none !important;
      box-shadow: none !important;
      background: #f6f6f6;
      height: 30px;
      margin: 0px;
      padding: 0px;
    }

    .message-bubble textarea {
      font-size:14px;
      font-weight:200;
      min-height:72px;
      resize:none;
      border:none;
      background:#f6f6f6;
      box-shadow:none;
      padding:0px;
      margin-bottom: 0px !important;
    }

    .message-bubble button {
      padding:0px 9px;
      border-radius:3px;
      margin:0px;
    }

    .message-avatar img {
      width: 44px !important;
      height: 44px  !important;
    }

    .vote-box {
      text-align: center;
      max-width: 30px;
      line-height: 16px
    }

    .submit-button-container {
      text-align: right;
    }

    .submit-button-container button {
      padding: 0px 9px;
      border-radius: 3px;
      margin: 0px;
    }

    .comment-by small {
      color: #999;
      font-weight: 400;
      font-size: 12px;
    }

    .comment-by span {
      margin: 8px;
      font-weight: 600;
      color: #000;
    }

    .small-button {
      flex:1;
      text-align: center;
      font-size: 14px;
      margin: 0px;
      padding: 8px !important;
      border-radius: 4px !important;
    }
  </style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
  {{>nav}}
  <div class="clearfix"></div>

  <div id="dashboard">
  	<div class="dashboard-nav hidden-xs">
  		<div class="dashboard-nav-inner">

  			<ul data-submenu-title="Community">
  				<li id="sidebar-forum" class="active"><a href="#"><i class="sl sl-icon-bubbles"></i> Forum</a></li>
  				<li id="sidebar-blog"><a href="#"><i class="sl sl-icon-book-open"></i> Blog</a></li>
  			</ul>

  		</div>
  	</div>

  	<div class="dashboard-content mobile-container">
  		<div class="row">

  			<!-- Listings -->
  			<div class="col-lg-8 col-md-8">

  				<div class="messages-container margin-top-0">
  					<div class="messages-headline">
              <h4 id="selected-header">FORUM</h4>
  					</div>

  					<div class="messages-container-inner">

  						<!-- Message Content -->
  						<div id="container-forum" class="message-content">

                {{#profile}}
                <div class="message-bubble margin-bottom-60 hidden-xs">
  								<div class="message-avatar">
                    <img id="comment-avatar" src="" alt="" />
                  </div>
  								<div class="message-text" style="margin-left:60px">
                    <input id="input-comment-title" type="text" placeholder="Title" />
                    <textarea id="input-comment-text"  placeholder="Enter your comment or link (https://www.example.com)"></textarea>
                    <div class="submit-button-container">
                      <button id="btn-submit-comment" class="button">Submit post</button>
                    </div>
                  </div>
  							</div>
                {{/profile}}

                {{#comments}}
                <div class="post-preview">
                  <a class="hidden-xs" href="/profile/{{profile.slug}}">
                    <img src="{{{profile.image}}}=s96-c" alt="Vertex 360 | {{profile.username}}" />
                  </a>
                  <p style="flex:1">
                    {{#isLink}}
                    <a class="text-green" target="_blank" href="{{url}}">{{title}} <small><i class="margin-left-10 sl sl-icon-share-alt"></i> ({{domain}})</small></a>
                    {{/isLink}}
                    {{^isLink}}
                    <a class="text-green" href="/comments/{{slug}}">{{title}}</a>
                    {{/isLink}}
                    <br />
                    <small>
                      by
                      <a class="text-blue" href="/profile/{{profile.slug}}">{{profile.username}}</a>
                      <span>·</span>{{dateString}}
                      <span>·</span><a class="text-blue" href="/comments/{{slug}}">{{numReplies}} comments</a>
                    </small>
                  </p>
                  <div class="vote-box">
                    <a id="upvote-{{id}}" href="#"><i class="sl sl-icon-arrow-up"></i></a>
                    <div id="score-{{id}}">{{votes.score}}</div>
                    <a id="downvote-{{id}}" href="#"><i class="sl sl-icon-arrow-down"></i></a>
                  </div>
                </div>
                {{/comments}}

  						</div>
  						<!-- Message Content -->

              <section id="container-blog" class="message-content">
      					<ul style="list-style-type:none;padding-left:0px">
                  {{#posts}}
      						<li>
                    <div class="margin-bottom-60">
                      <div class="comment-by">
                        <h4 class="margin-top-0 margin-bottom-0">
                          <a style="color:#37b6bd" href="/post/{{slug}}">{{title}}</a>
                        </h4>
                        <small>
                          by
                          <a class="text-blue" href="/profile/{{author.slug}}">{{author.username}}</a>
                          <span>·</span>{{dateString}}
                        </small>
                      </div>
                      <a style="float:right;margin-left:12px" href="/post/{{slug}}"><img style="max-width:120px" src="{{{image}}}=s220-c" alt="Vertex 360"></a>
                      <p style="min-height:115px"><a href="/post/{{slug}}">{{preview}}</a><a style="color:red" href="/post/{{slug}}"> read more</a></p>
                    </div>
      						</li>
                  {{/posts}}
      					 </ul>
      				</section>

  					</div>
  				</div>
  			</div>

        <div class="col-lg-4 col-md-4 hidden-xs">
          {{#profile}}
          <div id="profile-card" class="dashboard-list-box margin-top-0" style="position:fixed;width:310px;">
            <h4 class="gray">Profile</h4>
            <div class="dashboard-list-box-static">
              <a href="/profile/{{profile.slug}}">
                <img style="border-radius:50%" src="{{{profile.image}}}=s96-c">
              </a>
              <br /><br />
              <small>Profile</small>
              <h4 class="padding-left-0 margin-bottom-20 padding-top-0 padding-bottom-10">
                <a style="text-transform:capitalize" href="/profile/{{profile.slug}}">{{profile.firstName}} {{profile.lastName}}</a>
              </h4>
              <p style="font-size:14px;line-height:20px">{{profile.bio}}</p>
              <a href="/profile/{{profile.slug}}" class="button btn-view">View Full Profile</a>
            </div>
          </div>
          {{/profile}}

          {{^profile}}
          <div class="dashboard-list-box margin-top-0" style="position:fixed;width:310px;">
            <h4 class="gray">Register or Login</h4>
            <div class="dashboard-list-box-static">
              <div class="input-container margin-left-0">
                <input id="input-profile-firstName" type="text" placeholder="Email" />
              </div>

              <div class="input-container margin-left-0">
                <input id="input-profile-lastName"type="text" placeholder="Password" />
              </div>

              <hr />
              <div style="display:flex">
                <button class="button small-button margin-right-10">LOG IN</button>
                <button class="button small-button">JOIN</button>
              </div>
            </div>
          </div>
          {{/profile}}

          <div id="create-template-form" class="dashboard-list-box margin-top-0" style="position:fixed;width:310px;display:none">
            <h4 class="gray">Create Template</h4>
            <div class="dashboard-list-box-static">

              <div class="input-container margin-left-0">
                <input id="input-template-name" type="text" placeholder="Name">
              </div>

              <div class="input-container margin-left-0">
                <input id="input-template-description" type="text" placeholder="Description (optional)">
              </div>

              <div class="input-container margin-left-0">
                <select id="input-template-category">
                  <option value="base">Base</option>
                  <option value="resume">Resume</option>
                  <option value="landing">Landing</option>
                  <option value="portfolio">Portfolio</option>
                </select>
              </div>

              <hr>
              <a href="#" id="btn-create-template" class="button btn-view">Create Template</a>
            </div>
          </div>
        </div>

        {{>copyright}}
  		</div>
  	</div>

  </div>
</div>

  <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
  <script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
  <script type="text/javascript" src="{{{cdn}}}/dist/js/community.min.js"></script>
  {{#cdn}}{{>analytics}}{{/cdn}}
</body>
</html>
