<!DOCTYPE html>
<head>
  {{>head}}
  <style>
    .message-by {
      margin-left: 50px !important;
    }

    .user-link {
      padding: 0px !important;
      display: inherit !important;
      color: #37b6bd !important;
    }

    .post-preview {
      margin-bottom: 24px;
      display: flex;
    }

    .post-preview p {
      font-weight: 400;
      line-height: 20px;
    }

    .post-preview span {
      margin: 8px;
      font-weight: 600;
      color: #000;
    }

    .post-preview small {
      color: #999;
      font-weight: 200;
      font-size: 12px;
    }

    .post-preview img {
      float: left;
      width: 44px;
      margin-right: 12px;
      border-radius: 50%;
    }

    .text-green {
      color: #0f949b;
    }

    .text-blue {
      color: blue;
    }

    .message-bubble input {
      border: none !important;
      box-shadow: none !important;
      background: #f6f6f6;
      height: 30px;
      margin: 0px;
      padding: 0px;
    }

    .message-bubble textarea {
      font-size:14px;
      font-weight:200;
      min-height:72px;
      resize:none;
      border:none;
      background:#f6f6f6;
      box-shadow:none;
      padding:0px;
      margin-bottom: 0px !important;
    }

    .message-bubble button {
      padding:0px 9px;
      border-radius:3px;
      margin:0px;
    }

    .message-avatar img {
      width: 44px !important;
      height: 44px  !important;
    }

    .vote-box {
      text-align: center;
      max-width: 30px;
      line-height: 16px
    }

    .submit-button-container {
      text-align: right;
    }

    .submit-button-container button {
      padding: 0px 9px;
      border-radius: 3px;
      margin: 0px;
    }

    .comment-by small {
      color: #999;
      font-weight: 200;
      font-size: 12px;
    }

    .comment-by span {
      margin: 8px;
      font-weight: 600;
      color: #000;
    }
  </style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
  {{>nav}}
  <div class="clearfix"></div>

  <div id="dashboard">
  	<div class="dashboard-nav hidden-xs">
  		<div class="dashboard-nav-inner">

  			<ul data-submenu-title="Main">
  				<li id="sidebar-forum" class="active"><a href="#"><i class="sl sl-icon-bubbles"></i> Forum</a></li>
  				<li id="sidebar-blog"><a href="#"><i class="sl sl-icon-book-open"></i> Blog</a></li>
  			</ul>

  		</div>
  	</div>

  	<div class="dashboard-content">
  		<div class="row">

  			<!-- Listings -->
  			<div class="col-lg-8 col-md-8">

  				<div class="messages-container margin-top-0">
  					<div class="messages-headline">
              <h4 id="selected-header">FORUM</h4>
  					</div>

  					<div class="messages-container-inner">

  						<!-- Message Content -->
  						<div id="container-forum" class="message-content">
                <div class="message-bubble margin-bottom-60">
  								<div class="message-avatar">
                    <img id="comment-avatar" src="" alt="" />
                  </div>
  								<div class="message-text" style="margin-left:60px">
                    <input id="input-comment-title" type="text" placeholder="Title" />
                    <textarea id="input-comment-text"  placeholder="Enter your comment or link (https://www.example.com)"></textarea>
                    <div class="submit-button-container">
                      <button id="btn-submit-comment" class="button">Submit post</button>
                    </div>
                  </div>
  							</div>

                {{#comments}}
                <div class="post-preview">
                  <div style="flex:1">
                    <a href="/profile/{{profile.slug}}">
                      <img src="{{{profile.image}}}=s96-c" alt="" />
                    </a>
                    <p>
                      {{#isLink}}
                      <a class="text-green" target="_blank" href="{{url}}">{{title}} <small><i class="margin-left-10 sl sl-icon-share-alt"></i> ({{domain}})</small></a>
                      {{/isLink}}
                      {{^isLink}}
                      <a class="text-green" href="/comments/{{slug}}">{{title}}</a>
                      {{/isLink}}
                      <br />
                      <small>
                        by
                        <a class="text-blue" href="/profile/{{profile.slug}}">{{profile.username}}</a>
                        <span>·</span>{{dateString}}
                        <span>·</span><a class="text-blue" href="/comments/{{slug}}">{{numReplies}} comments</a>
                      </small>
                    </p>
                  </div>
                  <div class="vote-box">
                    <a href="#"><i class="sl sl-icon-arrow-up"></i></a>
                    <div id="score-{{id}}">{{votes.score}}</div>
                    <a href="#"><i class="sl sl-icon-arrow-down"></i></a>
                  </div>
                </div>
                {{/comments}}

  						</div>
  						<!-- Message Content -->

              <section id="container-blog" class="message-content">
      					<ul style="list-style-type:none">
                  {{#posts}}
      						<li>
                    <div class="margin-bottom-60">
                      <div class="comment-by">
                        <h4 class="margin-top-0 margin-bottom-0">
                          <a style="color:#37b6bd" href="/post/{{slug}}">{{title}}</a>
                        </h4>
                        <small>
                          by
                          <a class="text-blue" href="/profile/{{author.slug}}">{{author.username}}</a>
                          <span>·</span>{{dateString}}
                        </small>
                      </div>
                      <a style="float:right;margin-left:12px" href="/post/{{slug}}"><img style="max-width:120px" src="{{{image}}}=s220-c" alt="Vertex 360"></a>
                      <p style="min-height:115px"><a href="/post/{{slug}}">{{preview}}</a><a style="color:red" href="/post/{{slug}}"> read more</a></p>
                    </div>
      						</li>
                  {{/posts}}
      					 </ul>
      				</section>

  					</div>

  				</div>

  			</div>

        {{>copyright}}
  		</div>
  	</div>

  </div>
</div>

  <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
  <script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
  <script>
    (function(){
      var data = window.__PRELOADED__
      var user = data.user
      var sidebarItems = ['forum', 'blog']
      var selected = 'forum'
      var isFetching = false

      var reloadUI = function(){
        $('#selected-header').html(selected.toUpperCase())
        sidebarItems.forEach(function(item){
          if (item == selected)
            $('#sidebar-'+item).addClass('active')
          else
            $('#sidebar-'+item).removeClass('active')

          if (selected == 'forum'){
            $('#container-blog').hide()
            $('#container-forum').show()

          }

          if (selected == 'blog'){
            $('#container-forum').hide()
            $('#container-blog').show()
          }
        })
      }


      sidebarItems.forEach(function(item){
        $('#sidebar-'+item).click(function(event){
          if (event)
            event.preventDefault()

          if (item == selected)
            return

          selected = item
          console.log('SELECT: ' + item)
          reloadUI()
        })
      })

      var expression = /https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi
      var regex = new RegExp(expression)
      var isUrl = function(str){
        return str.match(regex) ? true : false
      }

      var scrapeUrl = function(url){
        if (isUrl(url) == false) // invalid URL
          return

        if (isFetching == true)
          return

        isFetching = true
        $.ajax({
          url: '/account/scrape?url='+url,
          type: 'GET',
          data: null,
          success: function(response){
            console.log('SCRAPE: ' + JSON.stringify(response))
            isFetching = false
            if (response.confirmation != 'success'){
              return
            }

            var metaData = response.data
            $('#input-comment-title').val(metaData.title)

          },
          error: function(response){
            console.log('ERROR: ' + JSON.stringify(response))
            isFetching = false
          }
        })
      }

      var extractHostname = function(url) {
          var hostname = (url.indexOf("//") > -1) ? url.split('/')[2] : hostname = url.split('/')[0]
          hostname = hostname.split(':')[0] //find & remove port number
          hostname = hostname.split('?')[0] //find & remove "?"
          return hostname
      }

      if (user != null){
        $('#comment-avatar').attr('src', user.image+'=s120-c')
      }

      $('#input-comment-text').on('change keyup paste', function(){
          var text = $('#input-comment-text').val()
          if (isUrl(text) == false)
            return

          if ($('#input-comment-title').val().length > 0) // title already set
            return

          console.log('Scrape URL: ' + text)
          scrapeUrl(text)
      })

      $('#btn-submit-comment').click(function(event){
        if (event)
          event.preventDefault()

        if (user == null){
          alert('Please log in or register to submit a comment.')
          return
        }

        var text = $('#input-comment-text').val()
        var domain = ''
        if (isUrl(text)==true)
          domain = extractHostname(text)

        var comment = {
          profile: JSON.stringify({id:user.id, firstName:user.firstName, lastName:user.lastName, username:user.username, image:user.image, slug:user.slug}),
          title: $('#input-comment-title').val(),
          text: text,
          url: (isUrl(text)==true) ? text : '',
          domain: domain
        }

        if (comment.title.length == 0){
          alert('Please enter a title for your comment')
          return
        }

        if (comment.text.length == 0){
          alert('Please enter text for your comment')
          return
        }

        if (isFetching == true)
          return

        isFetching = true
        $.ajax({
          url: '/api/comment',
          type: 'POST',
          data: comment,
          success: function(response){
            if (response.confirmation != 'success'){
              alert('Error - ' + response.message)
              return
            }
            // console.log('COMMENT CREATED: ' + JSON.stringify(response))
            window.location.href = '/comments/'+response.result.slug
          },
          error: function(response){
            isFetching = false
          }
        })
      })

      reloadUI()
    })()
  </script>
</body>
</html>
