<!DOCTYPE html>
<head>
  {{>head}}
  <style>
    .message-by {
      margin-left: 50px !important;
    }

    .user-link {
      padding: 0px !important;
      display: inherit !important;
      color: #37b6bd !important;
    }

    .post-preview {
      margin-bottom: 24px;
      display: flex;
    }

    .post-preview p {
      font-weight: 400;
      line-height: 20px;
    }

    .post-preview span {
      margin: 8px;
      font-weight: 600;
      color: #000;
    }

    .post-preview small {
      color: #999;
      font-weight: 200;
      font-size: 12px;
    }

    .post-preview img {
      float: left;
      width: 44px;
      margin-right: 12px;
      border-radius: 50%;
    }

    .text-green {
      color: #0f949b;
    }

    .text-blue {
      color: blue;
    }

    .message-bubble input {
      border: none !important;
      box-shadow: none !important;
      background: #f6f6f6;
      height: 30px;
      margin: 0px;
      padding: 0px;
    }

    .message-bubble textarea {
      font-size:14px;
      font-weight:200;
      min-height:80px;
      resize:none;
      border:none;
      background:#f6f6f6;
      box-shadow:none;
      padding:0px;
    }

    .message-bubble button {
      padding:0px 9px;
      border-radius:3px;
      margin:0px;
    }

    .message-avatar img {
      width: 44px !important;
      height: 44px  !important;
    }

    .vote-box {
      text-align: center;
      max-width: 30px;
      line-height: 16px
    }
  </style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
  {{>nav}}

  <div class="clearfix"></div>

  <div id="dashboard">
  	<a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>

  	<div class="dashboard-nav">
  		<div class="dashboard-nav-inner">

  			<ul data-submenu-title="Main">
  				<li class="active"><a href="#"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
  				<li><a href="#"><i class="sl sl-icon-envelope-open"></i> Messages</a></li>
  				<li><a href="#"><i class="fa fa-calendar-check-o"></i> Bookings</a></li>
  			</ul>

  		</div>
  	</div>

  	<div class="dashboard-content">
  		<div class="row">

  			<!-- Listings -->
  			<div class="col-lg-8 col-md-8">

  				<div class="messages-container margin-top-0">
  					<div class="messages-headline">
              <div class="layout-switcher" style="text-align:right">
    						<a href="#" class="grid active"><i class="fa fa-th"></i></a>
    						<a href="#" class="list"><i class="fa fa-align-justify"></i></a>
    					</div>
  					</div>

  					<div class="messages-container-inner">

  						<!-- Message Content -->
  						<div class="message-content">
                <div class="message-bubble margin-bottom-60">
  								<div class="message-avatar">
                    <img id="comment-avatar" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" />
                  </div>
  								<div class="message-text" style="margin-left:60px">
                    <input id="input-comment-title" type="text" placeholder="Title" />
                    <textarea id="input-comment-text"  placeholder="Enter your comment..."></textarea>
                    <div style="text-align:right"><button id="btn-submit-comment" class="button">Submit post</button></div>
                  </div>
  							</div>

                {{#comments}}
                <div class="post-preview">
                  <div style="flex:1">
                    <a href="/profile/{{profile.slug}}">
                      <img src="{{{profile.image}}}=s96-c" alt="" />
                    </a>
                    <p>
                      <a class="text-green" href="/comments/{{slug}}">{{title}}</a>
                      <br />
                      <small>
                        by
                        <a class="text-blue" href="/profile/{{profile.slug}}">{{profile.username}}</a>
                        <span>·</span>3 hours ago
                        <span>·</span>10 comments
                      </small>
                    </p>
                  </div>
                  <div class="vote-box">
                    <a href="#"><i class="sl sl-icon-arrow-up"></i></a>
                    <div>11</div>
                    <a href="#"><i class="sl sl-icon-arrow-down"></i></a>
                  </div>
                </div>
                {{/comments}}

  						</div>
  						<!-- Message Content -->

  					</div>

  				</div>

  			</div>

        {{>copyright}}
  		</div>
  	</div>

  </div>
</div>

  <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
  <script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
  <script>
    (function(){
      var data = window.__PRELOADED__
      var user = data.user
      console.log('USER == ' + JSON.stringify(user))

      if (user != null){
        $('#comment-avatar').attr('src', user.image+'=s120-c')

      }

      $('#btn-submit-comment').click(function(event){
        if (event)
          event.preventDefault()

        if (user == null){
          alert('Please log in or register to submit a comment.')
          return
        }

        var comment = {
          profile: JSON.stringify({id:user.id, firstName:user.firstName, lastName:user.lastName, username:user.username, image:user.image, slug:user.slug}),
          title: $('#input-comment-title').val(),
          text: $('#input-comment-text').val()
        }

        if (comment.title.length == 0){
          alert('Please enter a title for your comment')
          return
        }

        if (comment.text.length == 0){
          alert('Please enter text for your comment')
          return
        }

        $.ajax({
          url: '/api/comment',
          type: 'POST',
          data: comment,
          success: function(response){
            if (response.confirmation != 'success'){
              alert('Error - ' + response.message)
              return
            }

            // console.log('COMMENT CREATED: ' + JSON.stringify(response))
            window.location.href = '/comments/'+response.result.slug
          },
          error: function(response){

          }
        })
      })
    })()
  </script>
</body>
</html>
