<!DOCTYPE html>
<head>
  {{>head}}
  <style>
    .template-tag {
      background: #f9f9f9;
      padding: 1px 4px;
      line-height: 16px;
      border-radius: 4px;
      border: 1px solid #ededed;
      font-size: 11px !important;
      margin-right: 4px;
      text-transform: lowercase;
    }

    #launch-template-container a {
      width: 100%;
      padding: 20px;
      text-align: center;
      font-size: 20px;
      border-radius: 6px;
    }

    .ex-icon {
      background:red;
      height:20px;
      width:20px;
      font-size:14px
    }

    .faq-answer img {
      margin-top: 16px;
    }
  </style>
</head>

<body>

<div id="wrapper">
  {{>nav}}

<div class="clearfix"></div>

<div class="fs-container hidden-xs"> <!-- Desktop View -->
	<div class="fs-inner-container content">
		<div class="fs-content">

			<section class="search" style="background:#3e5492;color:#fff">
        <h2 style="color:#fff">Professional Websites. Fast.</h2>
        <p>
          Create fully-featured professional websites in minutes. Select a template
          below to get started.
        </p>
			</section>

  		<section class="listings-container margin-top-30">
  			<div class="row fs-listings">

  				{{#templates}}
  				<div class="col-lg-12 col-md-12">
  					<div class="listing-item-container list-layout">
  						<a href="#" class="listing-item template-preview" id="{{index}}">

  							<div class="listing-item-image">
  								<img src="{{image}}=s640" alt="Vertex 360">
  							</div>

  							<div class="listing-item-content">

  								<div class="listing-item-inner" style="padding-right:0px;left:20px">
  									<h3>{{name}}</h3>
  									<span>{{template.category}}</span>
                    <div class="profile-row">
                      {{#tags}}<span class="template-tag">{{.}}</span>{{/tags}}
  									</div>
  								</div>

  							</div>
  						</a>
  					</div>
  				</div>
          {{/templates}}
  			</div>

        <div class="row fs-listings">
          {{>copyright}}
        </div>
  		</section>

		</div>
	</div>
	<div id="selected-template-container" class="fs-inner-container map-fixed" style="overflow:scroll">
    <div id="selected-template" class="blog-post" style="margin-top:0px"></div>
    <a style="display:none" id="btn-show-modal" href="#sign-in-dialog" class="popup-with-zoom-anim">test</a>
	</div>
</div>

<div class="fs-container hidden-md hidden-lg"> <!-- Mobile View -->
  <img src="https://lh3.googleusercontent.com/ZrN5Nhga-8cd9ju47rv8l6lYlrF4Hu12R-rov72-0qIT1k1fGCl4Bn0KZRMt0An1PbkUiSHefxR_4oqvqL4nqOZB1Q=s1024" alt="Vertex 360">
  <div class="post-content">
    <h3><a href="#">Lightning Fast Web Design</a></h3>
    <ul class="post-meta">
      <li>No Coding Required</li>
      <li>FREE to start</li>
    </ul>

    <p class="margin-top-0 margin-bottom-40">
      Get up and running with a gorgeous new website in under an hour.
    </p>

    <hr class="margin-bottom-40" />

    <img style="width:80%;border:1px solid #ededed" src="https://lh3.googleusercontent.com/f25J1JMUTLjI-9GZvqTzyJEZmMbJYjiCIIq04V5cFoD7bnKcMi44fOVrZ50-vin0R25Iw21zPh6D_T8NeQtIxOAF=s1024" />
    <h3 class="margin-top-40">Web Design Made Easy</h3>
    <p class="margin-top-0 margin-bottom-40">
      Simply input your content and walk away - no coding required! No more tinkering with
      confusing editors, drag &amp; drop tools, or ridiculously complicated features for
      <em>"beginners"</em>. On Vertex 360, simply input your text and images and move on
      with your life, business, more important stuff.
    </p>

    <hr class="margin-bottom-40" />

    <img style="width:80%" src="https://lh3.googleusercontent.com/IRk0higW6nSjtBG_8lzhNpU7Pi6yzguo1J7Thkwlj4biYpqB63uZ-IAfeQN9nJS1QiokjVnYrgVBYvkcdpDFKGk-rmU=s1024" />
    <h3 class="margin-top-40">Powerful Features</h3>
    <p class="margin-top-0 margin-bottom-40">
      Easily interact with your customers with email subscriber lists, image hosting and blog support.
      <ul class="listing-features checkboxes margin-top-0 margin-bottom-20">
        <li>CMS (blog, users, etc)</li>
        <li><em><b>Automatic SSL</b></em></li>
        <li>Accept Credit Cards</li>
        <li>Subscriber Forms</li>
        <li>Download Source Code</li>
        <li><em><b>Custom Domains</b></em></li>
        <li><em><b>Site Analytics</b></em></li>
        <li>Collaboration Option</li>
        <li>Email Support</li>
      </ul>
      <em><b>Premium Feature</b></em>
    </p>

    <hr class="margin-bottom-40" />

    <img class="margin-left-20 margin-bottom-20" style="width:44%;float:right;" src="https://lh3.googleusercontent.com/brSHk-ZDAbE4ktT20RjeEAF_N6PsrtIdFvN98PzbHsFwpWsmEoXcoq0liYvY1_YbzT6WaE5eUIINd8euMESFFQu4=s512" />
    <h3 class="margin-top-40">Free to Start</h3>
    <p class="margin-top-0 margin-bottom-40">
      Vertex websites are free to start and come with a robust set of features
      out of the box. Once you are ready to connect your site to a custom domain,
      our afforable plans begin at only $5 per month.
      <table class="table table-striped" style="border:1px solid #ededed;background:#fffffa">
        <thead>
          <tr>
            <td style="padding:12px">&nbsp;</td>
            <td style="padding:12px"><b>Basic</b><br /><small>Free</small></td>
            <td style="padding:12px"><b>Premium</b><br /><small>$5/month</small></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Unlimited Test Sites</td>
            <td><i class="verified-icon margin-left-10"></i></td>
            <td><i class="verified-icon margin-left-10"></i></td>
          </tr>
          <tr>
            <td>CMS (for blog, subscribers, etc)</td>
            <td><i class="verified-icon margin-left-10"></i></td>
            <td><i class="verified-icon margin-left-10"></i></td>
          </tr>
          <tr>
            <td>Downloadable Code</td>
            <td><i class="verified-icon margin-left-10"></i></td>
            <td><i class="verified-icon margin-left-10"></i></td>
          </tr>
          <tr>
            <td>Custom Domain</td>
            <td><span class="qtyTotal ex-icon margin-left-10">x</span></td>
            <td><i class="verified-icon margin-left-10"></i></td>
          </tr>
          <tr>
            <td>Automatic SSL</td>
            <td><span class="qtyTotal ex-icon margin-left-10">x</span></td>
            <td><i class="verified-icon margin-left-10"></i></td>
          </tr>
        </tbody>
      </table>
    </p>

    <img class="margin-top-40" style="border:1px solid #ededed" src="https://lh3.googleusercontent.com/oM_ki-DpaYHK6gkL7gRR0QOGpjP_z0naDT2gRRJb6cn9NCGu7uNGakjdzUScj1J9_kB8OLImvW4KPlbGpP8CWX-Pbg=s320" />
    <h3 class="margin-top-20">Join our Slack Channel!</h3>
    <p class="margin-top-0 margin-bottom-40">
      Join our Slack channel to ask questions, stay up to date with new features, templates,
      and learn more about Vetex 360!. To join, click <a style="color:red" target="_blank" href="https://join.slack.com/t/vertex360/shared_invite/enQtNTg4ODY2MzY3MTIyLTdlNzNjY2RmOGIyYjIxYzZkNmQ5ZDVhNWNhNWU0ZjJiY2U1Mjg2OWU4NjMzY2YwOGVlZjU2YjQ1MjMzNWI3NGM">HERE</a>.
    </p>

    <a id="btn-get-started" href="#sign-in-dialog" style="border-radius:4px;width:100%;text-align:center;letter-spacing:3px" class="button with-icon popup-with-zoom-anim">JOIN VERTEX 360</i></a>
  </div>
</div>


</div>

<!-- Wrapper / End -->
<script type="text/template" id="tpl-launch-template">
  <div style="text-align:center">
    <h3 style="margin-bottom:0px;margin-top:0px">Launch Site</h3>
    <p style="margin-bottom:16px;color:#888">Launch this template on your account.</p>
    <img style="width:260px;margin-bottom:16px" src="<% image %>=s512" />
    <input id="input-site-name" type="text" placeholder="Your Site Name" />
    <div id="btn-launch-container">
      <a style="margin-top:4px;width:100%" id="btn-clone-template" href="#" class="button with-icon">Launch This Template <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</script>

<script type="text/template" id="tpl-faq">
  <div>
    <img src="https://lh3.googleusercontent.com/IWUouz6uPWLofipKuaHh219C5AdniATu6C85bd6DGogdQlJ1M8BAFk6uZx-Q10pVlgYMHrRuZC5V83P_g5XGv21_bRI=s1024" alt="Vertex 360">
  	<div class="post-content">
  		<h3>Frequently Asked Questions</h3>
      <%#faq%>
      <h4 class="margin-top-40">Q: <% question %></h4>
      <p class="margin-top-0 margin-bottom-50 faq-answer">A: <%{answer}%></p>
      <%/faq%>
  	</div>
  </div>
</script>

<script type="text/template" id="tpl-how-it-works">
  <div>
    <img src="https://lh3.googleusercontent.com/ZrN5Nhga-8cd9ju47rv8l6lYlrF4Hu12R-rov72-0qIT1k1fGCl4Bn0KZRMt0An1PbkUiSHefxR_4oqvqL4nqOZB1Q=s1024" alt="Vertex 360">
  	<div class="post-content">
  		<h3><a href="#">Lightning Fast Web Design</a></h3>
  		<ul class="post-meta">
  			<li>No Coding Required</li>
        <li>FREE to start</li>
  		</ul>

      <p class="margin-top-0 margin-bottom-40">
        Get up and running with a gorgeous new website in under an hour.
      </p>

      <hr class="margin-bottom-40" />

      <img style="width:80%;border:1px solid #ededed" src="https://lh3.googleusercontent.com/f25J1JMUTLjI-9GZvqTzyJEZmMbJYjiCIIq04V5cFoD7bnKcMi44fOVrZ50-vin0R25Iw21zPh6D_T8NeQtIxOAF=s1024" />
      <h3 class="margin-top-40">Web Design Made Easy</h3>
      <p class="margin-top-0 margin-bottom-40">
        Simply input your content and walk away - no coding required! No more tinkering with
        confusing editors, drag &amp; drop tools, or ridiculously complicated features for
        <em>"beginners"</em>. On Vertex 360, simply input your text and images and move on
        with your life, business, more important stuff.
      </p>

      <hr class="margin-bottom-40" />

      <img style="width:80%" src="https://lh3.googleusercontent.com/IRk0higW6nSjtBG_8lzhNpU7Pi6yzguo1J7Thkwlj4biYpqB63uZ-IAfeQN9nJS1QiokjVnYrgVBYvkcdpDFKGk-rmU=s1024" />
      <h3 class="margin-top-40">Powerful Features</h3>
      <p class="margin-top-0 margin-bottom-40">
        Easily interact with your customers with email subscriber lists, image hosting and blog support.
        <ul class="listing-features checkboxes margin-top-0 margin-bottom-20">
  				<li>CMS (blog, users, etc)</li>
  				<li><em><b>Automatic SSL</b></em></li>
  				<li>Accept Credit Cards</li>
  				<li>Subscriber Forms</li>
  				<li>Download Source Code</li>
          <li><em><b>Custom Domains</b></em></li>
          <li><em><b>Site Analytics</b></em></li>
          <li>Collaboration Option</li>
          <li>Email Support</li>
  			</ul>
        <em><b>Premium Feature</b></em>
      </p>

      <hr class="margin-bottom-40" />

      <img class="margin-left-20 margin-bottom-20" style="width:44%;float:right;" src="https://lh3.googleusercontent.com/brSHk-ZDAbE4ktT20RjeEAF_N6PsrtIdFvN98PzbHsFwpWsmEoXcoq0liYvY1_YbzT6WaE5eUIINd8euMESFFQu4=s512" />
      <h3 class="margin-top-40">Free to Start</h3>
      <p class="margin-top-0 margin-bottom-40">
        Vertex websites are free to start and come with a robust set of features
        out of the box. Once you are ready to connect your site to a custom domain,
        our afforable plans begin at only $5 per month.
        <table class="table table-striped" style="border:1px solid #ededed;background:#fffffa">
          <thead>
            <tr>
              <td style="padding:12px">&nbsp;</td>
              <td style="padding:12px"><b>Basic</b><br /><small>Free</small></td>
              <td style="padding:12px"><b>Premium</b><br /><small>$5/month</small></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Unlimited Test Sites</td>
              <td><i class="verified-icon margin-left-10"></i></td>
              <td><i class="verified-icon margin-left-10"></i></td>
            </tr>
            <tr>
              <td>CMS (for blog, subscribers, etc)</td>
              <td><i class="verified-icon margin-left-10"></i></td>
              <td><i class="verified-icon margin-left-10"></i></td>
            </tr>
            <tr>
              <td>Downloadable Code</td>
              <td><i class="verified-icon margin-left-10"></i></td>
              <td><i class="verified-icon margin-left-10"></i></td>
            </tr>
            <tr>
              <td>Custom Domain</td>
              <td><span class="qtyTotal ex-icon margin-left-10">x</span></td>
              <td><i class="verified-icon margin-left-10"></i></td>
            </tr>
            <tr>
              <td>Automatic SSL</td>
              <td><span class="qtyTotal ex-icon margin-left-10">x</span></td>
              <td><i class="verified-icon margin-left-10"></i></td>
            </tr>
          </tbody>
        </table>
      </p>

      <img class="margin-top-40" style="border:1px solid #ededed" src="https://lh3.googleusercontent.com/oM_ki-DpaYHK6gkL7gRR0QOGpjP_z0naDT2gRRJb6cn9NCGu7uNGakjdzUScj1J9_kB8OLImvW4KPlbGpP8CWX-Pbg=s320" />
      <h3 class="margin-top-20">Join our Slack Channel!</h3>
      <p class="margin-top-0 margin-bottom-40">
        Join our Slack channel to ask questions, stay up to date with new features, templates,
        and learn more about Vetex 360!. To join, click <a style="color:red" target="_blank" href="https://join.slack.com/t/vertex360/shared_invite/enQtNTg4ODY2MzY3MTIyLTdlNzNjY2RmOGIyYjIxYzZkNmQ5ZDVhNWNhNWU0ZjJiY2U1Mjg2OWU4NjMzY2YwOGVlZjU2YjQ1MjMzNWI3NGM">HERE</a>.
      </p>

      <%#showGetStarted%>
      <a id="btn-get-started" href="#sign-in-dialog" style="border-radius:4px;width:100%;text-align:center;letter-spacing:3px" class="button with-icon popup-with-zoom-anim">JOIN VERTEX 360</i></a>
      <%/showGetStarted%>
  	</div>
  </div>
</script>

<script type="text/template" id="tpl-selected-template">
  <div class="selected-template">
    <img src="<% image %>=s1024" alt="Vertex 360">
    <div class="post-content">
      <a id="btn-launch-template-2" href="#sign-in-dialog" class="button with-icon popup-with-zoom-anim" style="float:right">Launch This Template</a>
      <h3><a class="capitalize" href="#"><% name %></a></h3>
      <ul class="post-meta">
        <li class="capitalize"><% template.category %></li>
        <li class="capitalize">Free</li>
        <li>
          <a target="_blank" href="https://<% slug %>.vertex360.co" style="color:#37b6bd;">Example</a>
          <i class="sl sl-icon-share-alt" style="padding-left:4px;color:#37b6bd;"></i>
        </li>
      </ul>
      <hr />
      <p><%{description}%></p>
      <h4 style="margin-top:20px">Screenshots</h4>
      <%#images %>
      <div class="screenshot"><img src="<% . %>" /></div>
      <%/images %>

      <hr />
      <div id="launch-template-container">
        <a id="btn-launch-template" href="#sign-in-dialog" class="button with-icon popup-with-zoom-anim">Launch This Template <i class="sl sl-icon-login"></i></a>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
<script type="text/javascript" src="{{{cdn}}}/dist/js/home.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-134997115-1', 'auto');
  ga('send', 'pageview');
</script>

</body>
</html>
