<!DOCTYPE html>
<head>
  {{>head}}
</head>

<body>

<div id="wrapper">
  {{>nav}}

<div class="clearfix"></div>

<div class="fs-container">

	<div class="fs-inner-container content">
		<div class="fs-content">

			<section class="search bg-yellow">
        <h2>Professional Websites. Fast.</h2>
        <p>
          Create fully-featured professional websites in minutes. Select a template
          below to get started.
        </p>
			</section>

  		<section class="listings-container margin-top-30">
  			<div class="row fs-listings">

  				{{#templates}}
  				<div class="col-lg-12 col-md-12">
  					<div class="listing-item-container list-layout">
  						<a href="#" class="listing-item template-preview" id="{{index}}">

  							<div class="listing-item-image">
  								<img src="{{image}}=s360-c" alt="">
  							</div>

  							<div class="listing-item-content">

  								<div class="listing-item-inner" style="padding-right:0px">
  									<h3>{{name}}</h3>
  									<span>{{template.category}}</span>
                    <div class="profile-row">
                      <img class="profile-icon" src="{{profile.image}}=s64-c" />
  										<span>{{profile.username}}</span>
  									</div>
  								</div>

  							</div>
  						</a>
  					</div>
  				</div>
          {{/templates}}
  			</div>

        <div class="row fs-listings">
          {{>footer}}
        </div>
  		</section>

		</div>
	</div>
	<div id="selected-template-container" class="fs-inner-container map-fixed" style="overflow:scroll">
    <div id="selected-template" class="blog-post" style="margin-top:0px"></div>
	</div>
</div>


</div>
<!-- Wrapper / End -->

<script type="text/template" id="tpl-selected-template">
  <div class="post-content selected-template">
    <img src="<% image %>=s1024" alt="Vertex 360">
    <h3><a class="capitalize" href="#"><% name %></a></h3>
    <ul class="post-meta">
      <li class="capitalize"><% template.category %></li>
      <li class="capitalize">Free</li>
      <li>
        <a target="_blank" href="https://<% slug %>.vertex360.co" style="color:#37b6bd;">Example</a>
        <i class="sl sl-icon-share-alt" style="padding-left:4px;color:#37b6bd;"></i>
      </li>
    </ul>
    <hr />
    <p><%{description}%></p>
    <h4 style="margin-top:20px">Screenshots</h4>
    <%#images %>
    <div class="screenshot"><img src="<% . %>" /></div>
    <%/images %>

    <hr />
    <p style="margin-bottom:16px">Launch this template on your account.</p>
    <div id="launch-template-container" style="width:50%">
      <input id="input-site-name" type="text" placeholder="Your Site Name" />
      <div id="btn-launch-container">
        <a style="margin-top:4px" id="btn-clone-template" href="#" class="button with-icon">Use This Template <i class="fa fa-angle-right"></i></a>
      </div>
    </div>

  </div>
</script>

<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
<script>
  (function(){
    Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side

    var data = window.__PRELOADED__
    var templates = data.templates // this is an array
    var selected = data.selected
    var user = data.user

    // the following 2 click handlers need to be added to any new page as well:
    $('#nav-login').click(function(){
      $('#tab-login').click()
    })

    $('#btn-login').click(function(){
      $('#tab-register').click()
    })

    var postRequest = function(url, data, completion){
      $.ajax({
        url: url,
        type: 'POST',
        data: data,
        success: function(response, status, xhr){
          if (response.confirmation != 'success'){
            completion(response, null) // 'data' is the error object here.
            return
          }

          completion(null, response)
        },
        error: function(xhr, status, err){
          completion(err, null)
        }
      })
    }

    // checks if a template is ready when cloning:
    var checkTemplate = function(siteSlug){
      var body = {template:siteSlug}
      postRequest('/account/check-template', body, function(err, response){
        if (err){
          console.log('TEMPLATE NOT READY: ')
          setTimeout(function(){
            checkTemplate(siteSlug)
          }, 4000)
          return
        }

        // console.log('CHECK TEMPLATE: ' + JSON.stringify(response))
        if (response.confirmation != 'success'){
          alert('Error - ' + response.message)
          return
        }

        window.location.href = '/me?selected=sites' // redirect to account page
      })
    }

    var launchTemplate = function(){
      if (user == null){
        alert('Please log in or register to clone this site.')
        return
      }

      var body = {
        name: $('#input-site-name').val().trim(), // this needs to be entered by the user,
        source: selected.id // ID of the template being copied
        // source: template.id // ID of the template being copied
      }

      if (body.name.length == 0){
        alert('Please enter a name for your site')
        return
      }

      $('#btn-launch-container').html("<img style='width:100px' src='https://storage.turbo360.co/vertex360-cms-4hujkc/loader.gif' /><br /><em>Launching your site...</em>")
      postRequest('/account/launch-template', body, function(err, response){
        if (err){
          alert('Error: ' + err.message)
          return
        }

      // console.log('SITE LAUNCHED: ' + JSON.stringify(response))
        setTimeout(function(){
          checkTemplate(response.data.slug)
        }, 4000)
      })
    }

    if (user == null){
      $('#input-register').click(function(event){
        if (event)
          event.preventDefault()

        var visitor = {
          fullName: $('#input-register-name').val(),
          email: $('#input-register-email').val(),
          password: $('#input-register-password').val()
        }

        if (visitor.fullName.length == 0){
          alert('Please enter your NAME')
          return
        }

        if (visitor.email.length == 0){
          alert('Please enter your EMAIL')
          return
        }

        if (visitor.password.length == 0){
          alert('Please enter your PASSWORD')
          return
        }

        postRequest('/account/register', visitor, function(err, response){
          if (err){
            alert(err.message)
            return
          }

          window.location.href = '/me'
        })
      })

      $('#input-login').click(function(event){
        if (event)
          event.preventDefault()

        var visitor = {
          email: $('#input-login-email').val(),
          password: $('#input-login-password').val()
        }

        if (visitor.email.length == 0){
          alert('Please enter your EMAIL')
          return
        }

        if (visitor.password.length == 0){
          alert('Please enter your PASSWORD')
          return
        }

        postRequest('/account/login', visitor, function(err, response){
          if (err){
            alert(err.message)
            return
          }

          window.location.href = '/me'
        })
      })
    }
    else {
      $('#login-container').html('<a href="/me" class="button">My Account</a>')
    }

    var reloadUI = function(){
      $('#selected-template-container').animate({
         scrollTop: 0
      }, 'slow');

      var tpl = $('#tpl-selected-template').html()
      $('#selected-template').html(Mustache.render(tpl, selected))
      $('#btn-clone-template').click(function(event){
        if (event)
          event.preventDefault()

        // TODO: check if user logged in. if so, don't do this:
        if (user == null)
          document.getElementById('btn-login').click()
        else {
          // console.log('LAUNCH TEMPLATE')
          launchTemplate()
        }
      })
    }

    $('.template-preview').each(function(i, el){
      $(this).click(function(event){
        if (event)
          event.preventDefault()

        var template = templates[this.id]
        if (template.id == selected.id)
          return

        selected = template
        reloadUI()
      })
    })

    reloadUI()
  })()
</script>

</body>
</html>
