<!DOCTYPE html>
<head>
  {{>head}}

  <meta property="og:title" content="Vertex 360 | Powerful Website Builder. Easy, Fast, Professional." />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://www.vertex360.co" />
	<meta property="og:image" content="https://lh3.googleusercontent.com/ZM_FCvAPcwUXd3NZJNpvA-t8jb4RQkkjVAKNXYk_SQHV155T-W36Ghos9W7iiTyxaiKzXl9Z2XhaABotatD3HomhAQ=s260-c" />
	<meta property="og:image:width" content="260px" />
	<meta property="og:image:height" content="260px" />
	<meta property="og:description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />
</head>

<body>

<div id="wrapper">
  {{>nav}}
  <div class="clearfix"></div>
  <!-- Header Container / End -->

  <!-- Revolution Slider -->
  <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

  <!-- 5.0.7 auto mode -->
  	<div id="rev_slider_4_1" class="rev_slider home fullwidthabanner" style="display:none;" data-version="5.0.7">
  		<ul>

  			<!-- Slide  -->
  			<li data-index="rs-1" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

  				<!-- Background -->
  				<img src="https://lh3.googleusercontent.com/0Co0OXmwgTOYDQNRHqD0rYl2R8MsKgz3CEAWmUfIi-JbMLnFhHTSKl3J3dGzEdHBVxswJlXlU5L0cDIvhLtAfo8mLQ=s2048" alt="Vertex 360" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">

  				<!-- Caption-->
  				<div class="tp-caption custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
  					id="slide-1-layer-2"
  					data-x="['left','left','left','left']"
  					data-hoffset="['0','40','40','40']"
  					data-y="['middle','middle','middle','middle']" data-voffset="['0']"
  					data-width="['740','740', 740','420','320']"
  					data-height="auto"
  					data-whitespace="nowrap"
  					data-transform_idle="o:1;"
  					data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
  					data-transform_out=""
  					data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
  					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
  					data-start="1000"
  					data-responsive_offset="on">

  					<!-- Caption Content -->
  					<div class="R_title margin-bottom-15"
  					id="slide-2-layer-1"
  					data-x="['left','center','center','center']"
  					data-hoffset="['0','0','40','0']"
  					data-y="['middle','middle','middle','middle']"
  					data-voffset="['-40','-40','-20','-80']"
  					data-fontsize="['42','36', '32','36','22']"
  					data-lineheight="['70','60','60','45','35']"
  					data-width="['740','740', 740','420','320']"
  					data-height="none" data-whitespace="normal"
  					data-transform_idle="o:1;"
  					data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
  					data-transform_out="opacity:0;s:300;"
  					data-start="600"
  					data-splitin="none"
  					data-splitout="none"
  					data-basealign="slide"
  					data-responsive_offset="off"
  					data-responsive="off"
  					style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600;">Build Professional Websites. Fast.</div>

  					<div class="caption-text">Get up and running with a gorgeous new website in under an hour.<br />No coding knowledge required. No confusing tools - we promise.</div>
  					<a href="#" class="button medium">Learn More</a>
  				</div>
  			</li>
  		</ul>
  		<div class="tp-static-layers"></div>

  	</div>
  </div>
  <!-- Revolution Slider / End -->

<!-- Info Section -->
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				How It Works
			</h2>
      <p style="font-size:18px" class="margin-top-25 text-center">
        Simply input your content and walk away - no coding required!
        No more messing with confusing editors, drag & drop tools, or
        ridiculously complicated features for "beginners". On Vertex 360,
        simply input your text and images and move on with your life,
        business, family - more important stuff.
      </p>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Code-Window"></i>
				<h3>Choose a Template</h3>
        <p>
          Select from our growing list of professional templates across several industries. Check back regularly for new templates.
        </p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-File-Edit"></i>
				<h3>Enter Your Content</h3>
        <p>
          Add your own text, images, and social media. Most templates also support CMS data such as blogs, users, and newsletter subscribers.
        </p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="im im-icon-Sunglasses-Smiley2"></i>
				<h3>Profit!</h3>
				<p>
          That's it! Get back to going what you do best - growing your business. Vertex 360 is all about simplicity without compromise.
        </p>
			</div>
		</div>
	</div>

  <div class="row margin-top-20">
  <div class="col-md-12 centered-content">
    <a href="/templates" class="button">
      VIEW ALL TEMPLATES
    </a>
  </div>
  </div>

  <div class="row margin-top-50">
		<div class="col-md-8 col-md-offset-2">
      <iframe width="100%" height="415" src="https://www.youtube.com/embed/1NY1rqokhLg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>


</div>
<!-- Info Section / End -->


<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					Featured Templates
					<span>Discover top-rated local businesses</span>
				</h3>
			</div>

			<div class="col-md-12">
				<div class="simple-slick-carousel dots-nav">

        {{#templates}}
				<div class="carousel-item">
					<a href="/template/{{slug}}" class="listing-item-container">
						<div class="listing-item">
							<img src="{{{image}}}=s512-c" alt="Vertex 360">

							<div class="listing-item-content">
								<span class="tag">{{template.category}}</span>
								<h3>{{name}}</h3>
								<span>964 School Street, New York</span>
							</div>
						</div>
						<div class="star-rating" data-rating="3.5">
							<div class="rating-counter">(12 reviews)</div>
						</div>
					</a>
				</div>
        {{/templates}}

				</div>
			</div>
		</div>
	</div>

</section>
<!-- Fullwidth Section / End -->


<!-- Recent Blog Posts -->
<section class="fullwidth margin-top-30 padding-top-75 padding-bottom-75" data-background-color="#fff">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					Tutorials
				</h3>
			</div>
		</div>

		<div class="row">

			{{#posts}}
			<div class="col-md-4">
				<a href="/post/{{slug}}" class="blog-compact-item-container">
					<div class="blog-compact-item">
						<img src="{{{image}}}=s1024" alt="Vertex 360">
						<div class="blog-compact-item-content">
							<ul class="blog-post-tags">
								<li>{{dateString}}</li>
							</ul>
							<h3>{{title}}</h3>
							<p>{{preview}}</p>
						</div>
					</div>
				</a>
			</div>
      {{/posts}}

			<div class="col-md-12 centered-content">
				<a href="/community?selected=blog" class="button margin-top-10">
          VIEW MORE
        </a>
			</div>

		</div>

	</div>
</section>
<!-- Recent Blog Posts / End -->

<section class="fullwidth margin-top-30 padding-top-75 padding-bottom-75" data-background-color="#fff">
  <div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="pricing-container margin-top-10">

      <!-- Plan #1 -->
        <div class="plan">
          <div class="plan-price">
            <h3 class="margin-bottom-0">Basic</h3>
            <span class="value padding-top-10">Free</span>
            <span class="period margin-top-10">Forever</span>
          </div>

          <div class="plan-features">
            <ul>
              <li>One Site</li>
              <li>Automatic SSL</li>
              <li>Custom Domain</li>
              <li>Built-in CMS</li>
              <li>$5 per Additional Site</li>
            </ul>
            <a id="btn-join-basic" class="button border popup-with-zoom-anim" href="#sign-in-dialog">Get Started</a>
          </div>
        </div>

        <!-- Plan #3 -->
        <div class="plan">
          <div class="plan-price" style="background:red">
            <h3 style="color:#fff" class="margin-bottom-0">Pro</h3>
            <span style="color:#fff" class="value padding-top-10">$10</span>
            <span style="color:#fff" class="period margin-top-10">Per Month</span>
          </div>

          <div class="plan-features">
            <ul>
              <li>5 Sites</li>
              <li>Automatic SSL</li>
              <li>Custom Domain</li>
              <li>Built-in CMS</li>
              <li>$5 per Additional Site</li>
            </ul>
            <a class="button border" href="#">Get Started</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</section>


  {{>footer-dark}}
</div>
<!-- Wrapper / End -->


<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>

<!-- REVOLUTION SLIDER SCRIPT -->
<script type="text/javascript" src="{{{cdn}}}/scripts/themepunch.tools.min.js"></script>
<script type="text/javascript" src="{{{cdn}}}/scripts/themepunch.revolution.min.js"></script>

<script type="text/javascript">
	var tpj=jQuery;
	var revapi4;
	tpj(document).ready(function() {
		if(tpj("#rev_slider_4_1").revolution == undefined){
			revslider_showDoubleJqueryError("#rev_slider_4_1");
		}
    else{
			revapi4 = tpj("#rev_slider_4_1").show().revolution({
				sliderType:"standard",
				jsFileLocation:"scripts/",
				sliderLayout:"auto",
				dottedOverlay:"none",
				delay:9000,
				navigation: {
					keyboardNavigation:"off",
					keyboard_direction: "horizontal",
					mouseScrollNavigation:"off",
					onHoverStop:"on",
					touch:{
						touchenabled:"on",
						swipe_threshold: 75,
						swipe_min_touches: 1,
						swipe_direction: "horizontal",
						drag_block_vertical: false
					}
					,
					bullets: {
				enable:false,
				hide_onmobile:true,
				hide_under:600,
				style:"hermes",
				hide_onleave:true,
				hide_delay:200,
				hide_delay_mobile:1200,
				direction:"horizontal",
				h_align:"center",
				v_align:"bottom",
				h_offset:0,
				v_offset:32,
				space:5,
				tmp:''
					}
				},
				viewPort: {
					enable:true,
					outof:"pause",
					visible_area:"80%"
			},
			responsiveLevels:[1200,992,768,480],
			visibilityLevels:[1200,992,768,480],
			gridwidth:[1180,1024,778,480],
			gridheight:[580,500,500,500],
			lazyType:"none",
			parallax: {
				type:"mouse",
				origo:"slidercenter",
				speed:2000,
				levels:[2,3,4,5,6,7,12,16,10,25,47,48,49,50,51,55],
				type:"mouse",
			},
			shadow:0,
			spinner:"off",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
		}
	});	/*ready*/
</script>
<script type="text/javascript" src="{{{cdn}}}/dist/js/revolution.min.js"></script>

{{#renderAnalytics}}{{>analytics}}{{/renderAnalytics}}
</body>
</html>
