<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vertex 360 | Websites for the Modern Digital Age</title>
    <meta name="description" content="Vertex 360 launches websites for influencers, YouTubers, content creators, podcasters or anyone who want to expand their online brand." />

    <meta property="og:title" content="Vertex 360 | Websites for the Modern Digital Age" />
  	<meta property="og:type" content="article" />
  	<meta property="og:url" content="https://www.vertex360.co" />
  	<meta property="og:image" content="https://lh3.googleusercontent.com/ZM_FCvAPcwUXd3NZJNpvA-t8jb4RQkkjVAKNXYk_SQHV155T-W36Ghos9W7iiTyxaiKzXl9Z2XhaABotatD3HomhAQ=s260-c" />
  	<meta property="og:image:width" content="260px" />
  	<meta property="og:image:height" content="260px" />
  	<meta property="og:description" content="Vertex 360 launches websites for influencers, YouTubers, content creators, startups, podcasters or anyone who want to expand their online brand." />

    {{>head}}

    <style>
        .logo {
            width: 160px;
        }

      .timeline .media {
        position: relative;
        padding-left: 18px;
      }
      .timeline .media:after {
        content: '';
        position: absolute;
        border-radius: 4px;
        top: 10px;
        left: 41px;
        width: 6px;
        height: 100%;
        background-color: #eaeaea;
        z-index: -1;
      }
      .timeline .media:last-child:after {
        background-color: transparent;
      }

      .btn-get-started {
        width: 100%;
        border-radius: 4px;
      }

      .bg-green {
        background: #56b48c;
        border-color: #56b48c;
      }

      .price-card {
        border-radius:4px;
      }

      .price-card-body {
        padding:2rem;
        background:#fff;
        text-align:center;
      }

      .price-card-body ul {
        list-style-type:none;
        padding-left:16px;
        font-size:18px;
        line-height:32px
      }

      .icon-box {
        background: #eaeaea;
        padding: 9px;
        border-radius: 50%;
      }

      @media (max-width: 568px){
        .mobile-header {
          font-size: 2.2rem;
        }

        .hidden-xs {
          display: none !important;
        }
      }
	</style>
</head>
    <body>
        {{>nav}}

        <!--hero header-->
        <section class="py-5 py-md-7" id="home" style="background:#688ac7">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 my-md-auto mb-5 mb-md-0 text-center text-md-left">
                        <h1 class="display-4 mt-2 mb-1 text-white" style="font-size:2.5rem">
                          Websites For the Modern Digital Age
                        </h1>
                        <p class="text-white lead mt-4">Vertex 360 launches websites for influencers, YouTubers, content creators, startups, podcasters or anyone who want to expand their online brand.</p>
                        <a href="/templates" class="mt-1 btn d-inline-flex flex-row align-items-center text-white btn-lg bg-success hidden-xs">
                            Get Started
                        </a>
                    </div>
                    <div class="col-md-6 text-center">
                        <a href="/templates">
                          <small class="text-white">Chloe Template</small>
                          <img src="https://lh3.googleusercontent.com/XtArYh3DbNYgV25qBYPdPspKI9DQjAfCYMPl65JEKuFq8br_PRxDW8SqECKuOUZ-tz5hNyVij7L90xwACcomP6bWHg=s1024" class="d-block mx-auto" alt="Vertex 360" />
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- features section -->
        <section class="py-6" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <h1 class="dot-circle text-center mobile-header">
                          More Than Just a Blog
                        </h1>
                        <div class="row mt-6">
                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0 mr-3">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="video" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">YouTube Video Transcription</h5>
                                        <span class="text-muted">
                                          Your YouTube subscribers can now also <em>read</em> your videos through our video transcription feature. See <a target="_blank" href="https://www.katyaawar.me/video/how-i-got-into-college-pc12cq">HERE</a> for an example.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0 mr-3">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="speaker" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Podcast Player</h5>
                                        <span class="text-muted">
                                          Stream your podcast episodes directly from your own site by simply linking the RSS feed and choosing a template with a podcast player.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0 mr-3">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="bell" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Subscriber Notifcation</h5>
                                        <span class="text-muted">
                                          Keep your subscribers up to date each time you upload a new podcast episode, YouTube video transcript and more.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0 mr-3">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="file" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Blog</h5>
                                        <span class="text-muted">
                                          Of course, all Vertex 360 sites come installed with standard blog functionality with RSS feeds and a simple admin dashboard.
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0 mr-3">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="dollar-sign" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Store (coming soon!)</h5>
                                        <span class="text-muted">
                                          Get Merch? Sell your merch, e-books, courses, and more on Vertex 360. We don't take commission (other than standard credit card fees).
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0 mr-3">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="bar-chart-2" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Built-in Analytics (coming soon!)</h5>
                                        <span class="text-muted">
                                          To grow, you need to know what content generates the most traffic.
                                          Vertex 360 sites come installed with all the analytics you need to make the right decisions.
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                  <div class="col-md-10 mx-auto text-center">
                    <a href="/templates" class="btn btn-primary btn-lg page-scroll btn-get-started bg-green mt-4">GET STARTED</a>
              		</div>
              	</div>

            </div>
        </section>

        <!-- about / reviews section -->
        <section class="pb-6" id="about">
            <div class="container">
                <hr class="mt-5"/>
                <div class="row my-5">
                    <div class="col-md-6 order-2 order-md-1 my-md-auto">
                        <h1>Professional Design</h1>
                        <p class="text-muted lead">
                          Your website represents your brand. Strongly convey your brand with our
                          sleek, modern and professional templates. Your fans will be impressed with the
                          sophisticated look of your site and new visitors will have a great first impression.
                        </p>
                    </div>
                    <div class="col-md-6 order-1 order-md-2">
                        <div class="text-center">
                          <small><em><a target="_blank" style="color:blue" href="https://www.samoanraider.com/">SamoanRaider.com</a></em></small>
                        </div>
                        <img src="https://lh3.googleusercontent.com/An_nigymPg0b0by0iCQC12kk_LkSggJg-OYlQKOpQRkasEChChfhQJaO5mbJoerutcHvRRRVPuJJjxFAMu-jc14Apg=s1024" class="img-fluid d-block mx-auto" alt="iMac"/>
                    </div>
                </div>

                <div class="row mt-7">
                    <div class="col-md-6">
                      <div class="text-center">
                        <small><em>CMS Admin Console</em></small>
                      </div>
                        <img src="https://lh3.googleusercontent.com/At6y2BkhC30Bo8giKp1sqmxJDlwrXZtLFIttDoCyotJe7WEEAlymf8cffPrOuIgxzdph_ucU2O2EnzyBUfo5UKgg=s1024" class="img-fluid d-block mx-auto" alt="Vertex 360"/>
                    </div>
                    <div class="col-md-6 my-md-auto">
                        <h1>Easy Maintenance</h1>
                        <p class="text-muted lead">
                          Simply input your content and walk away - no coding required! No messing with confusing editors, drag & drop tools, or ridiculously complicated features for "beginners". On Vertex 360, your website is built for speed and simplicity so you can focus on growing your audience!
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <section class="py-5" id="process">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto text-center">
                        <h1>How It Works</h1>
                        <p class="lead">
                          Setting up a website on Vertex 360 is super sipmle.
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6 timeline">
                        <div class="media pb-5">
                            <div class="icon-box mt-1">
                                <div class="icon-box-inner small-xs text-primary">
                                  <img style="width:32px;" src="https://lh3.googleusercontent.com/_pjan6kTm0-LYLLGf8KDGtfjnuNaMI8tAC6DraDvF_QaraA38QkXHach0-MCDGJEddH4qtyYoUbbtutSmd8t_oH5vw" />
                                </div>
                            </div>
                            <div class="media-body ml-3">
                                <h5>Choose a Template</h5>
                                <p class="text-muted">Select from our growing list of professional templates across several industries. <a style="color:red;box-shadow:none" href="/templates">View templates</a>.</p>
                            </div>
                        </div>
                        <div class="media pb-5">
                            <div class="icon-box mt-1">
                                <div class="icon-box-inner small-xs text-primary">
                                  <img style="width:32px;" src="https://lh3.googleusercontent.com/7K5JWBiZ52LbjuVnQJaKt6tFZpdhjUw9Z-6iMyclANPP8ix-rDoz6Uck69HX0T4S_-2e1ZzDnn3i3yxXek735ragKA" />
                                </div>
                            </div>
                            <div class="media-body ml-3">
                                <h5>Enter Your Content</h5>
                                <p class="text-muted">Add your own text, images, and social media. Connect your YouTube channel, Podcast RSS feed, or Instagram account.</p>
                            </div>
                        </div>
                        <div class="media pb-5">
                            <div class="icon-box mt-1">
                                <div class="icon-box-inner small-xs text-primary">
                                  <img style="width:32px;" src="https://lh3.googleusercontent.com/c9yp9QZCM6WXwTGcbmLFBLpS6-5R2NqiKZsIuUtFh6qCnXGSzEIiNqxT9_7LllmxhmKBTGDHGyvv5hnaj2EN062u" />
                                </div>
                            </div>
                            <div class="media-body ml-3">
                                <h5>Profit!</h5>
                                <p class="text-muted">That's it! Get back to doing what you do best - creating great content and growing your audience.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                      <img style="max-width:100%" src="https://lh3.googleusercontent.com/Er12rzFFB31q-4s9Gkyug6oSKAsswcpkbH183WPmp0XvPjNSplCTvLl45NMM5VaOQ-LzjkCZWNNXNGAMXkQ9PQZ-xQ" />
                    </div>

                </div>
            </div>
        </section>

        <!--pricing section-->
        <section style="background:#f9f9f9" class="pt-6" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto text-center">
                      <h1>Get Started Free</h1>
                      <p class="text-muted lead">
                        Vertex 360 is free to start.
                        <br />
                        Some features are premium but anyone can start for free.
                      </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="row pricing-table mt-5 mb-6">

                          <div class="col-lg-6 mx-auto">
                              <div class="card price-card">
                                  <div class="card-body text-center" style="padding:2rem 2rem;background:#5662b4">
                                    <h1 class="text-white">Free</h1>
                                    <p class="text-light" style="font-weight:200">Forever</p>
                                  </div>
                                  <div class="price-card-body">
                                    <ul>
                                      <li>One Site</li>
                                      <li>Built-in CMS</li>
                                      <li>Automatic SSL</li>
                                      <li>Custom Domain</li>
                                      <li>$5 per Additional Site per Month</li>
                                    </ul>

                                    <a style="background:#03a87c;color:#fff !important" class="nav-link mt-5" href="#" data-toggle="modal" data-target="#register-modal">JOIN VERTEX</a>
                                  </div>
                              </div>
                          </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{>footer}}
        {{>auth}}

        <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
        <script type="text/javascript" src="{{{cdn}}}/scripts/vertex-lib.js"></script>
        <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>
        <script type="text/javascript" src="{{{cdn}}}/snap/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{{cdn}}}/snap/js/popper.min.js"></script>
        <script type="text/javascript" src="{{{cdn}}}/snap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{{cdn}}}/snap/js/feather.min.js"></script>
        <script type="text/javascript" src="{{{cdn}}}/snap/js/slick.min.js"></script>
        <script type="text/javascript" src="{{{cdn}}}/snap/js/scripts.js"></script>
        <script type="text/javascript" src="{{{cdn}}}/scripts/referrer.js"></script>

        <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
        <script>
          (function(){
            var data = window.__PRELOADED__
            $('#btn-learn-more').click(function(event){
              if (event)
                event.preventDefault()

              $('html, body').animate({
                  scrollTop: $("#how-it-works").offset().top
              }, 1000)
            })

            if (data.stripe==null)
              return

            var stripeStyle = {
              base: {
                color: '#32325d',
                lineHeight: '18px',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                  color: '#aab7c4'
                }
              },
              invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
              }
            }

            var stripeMgr = Stripe(data.stripe)
            var card = stripeMgr.elements().create('card', {style: stripeStyle}) // Create an instance of the card Element.
            card.mount('#card-element') // Add an instance of the card Element into the `card-element` <div>.

            // Handle real-time validation errors from the card Element.
            card.addEventListener('change', function(event){
              var displayError = document.getElementById('card-errors')
              displayError.textContent = (event.error) ? event.error.message : ''
            })

            $('#input-register-premium').click(function(event){
              if (event)
                event.preventDefault()

              if ($('#input-premium-password').val().length == 0){
                alert('Please enter your PASSWORD')
                return
              }

              var visitor = {
                name: $('#input-premium-name').val(),
                email: $('#input-premium-email').val().trim(),
                address_line1: $('#input-address-street').val().trim(),
                address_city: $('#input-address-city').val().trim(),
                address_country: $('#input-address-country').val().trim()
              }

              console.log('PREMIUM Register: ' + JSON.stringify(visitor))
              if (visitor.email.length == 0){
                alert('Please enter your EMAIL')
                return
              }

              if (visitor.address_line1.length == 0){
                alert('Please enter your ADDRESS')
                return
              }

              if (visitor.address_city.length == 0){
                alert('Please enter your CITY')
                return
              }

              stripeMgr.createToken(card, visitor)
          		.then(result => {
          			if (result.error) { // Inform the user if there was an error.
          				const errorElement = document.getElementById('card-errors')
          				errorElement.textContent = result.error.message
          				return
          			}

          			// this.setState({isLoading: false})
          			console.log('TOKEN: ' + JSON.stringify(result.token))
                // TOKEN: {"id":"tok_1Ec1OwC5b8QCRB75s0gRulGY","object":"token","card":{"id":"card_1Ec1OvC5b8QCRB75VGbMWCWU","object":"card","address_city":"new york","address_country":"US","address_line1":"76 east 7th street","address_line1_check":"unchecked","address_line2":null,"address_state":null,"address_zip":"10003","address_zip_check":"unchecked","brand":"Visa","country":"US","cvc_check":"unchecked","dynamic_last4":null,"exp_month":3,"exp_year":2022,"funding":"debit","last4":"6856","metadata":{},"name":"denny kwon","tokenization_method":null},"client_ip":"173.73.93.73","created":1558319938,"email":"dennykwon2@gmail.com","livemode":true,"type":"card","used":false}

          			// Send the token to your server.
          			// this.props.submitCallback(result.token, visitor)
                var token = result.token
                var params = {
            			stripeToken: token.id,
            			email: token.email,
            			name: token.card.name,
            			description: token.email+' - Vertex Pro Member'
            		}

                window.vertexLib.postRequest('/account/create-stripe-customer', params, function(err, response){
                  if (err){
                    alert('ERROR - ' + err)
                    return
                  }

                  //create new profile with name, email, password
                  window.vertexLib.postRequest('/account/register', {fullName:visitor.name, email:visitor.email, password:visitor.password, accountType:'pro'}, function(err2, response2){
                    if (err2){
                      alert('ERROR - ' + err2)
                      return
                    }

                    window.location.href = '/me'
                  })
                })

          			return
          		})
          		.catch(err => {
          			console.log('ERROR: ' + err.message)
          		})
            })
          })()
        </script>

        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
        <script type="text/javascript" src="{{{cdn}}}/scripts/googleauth.js"></script>
        <script type="text/javascript" src="{{{cdn}}}/scripts/auth.js"></script>
    </body>
</html>
