<!DOCTYPE html>
<head>
  {{>head}}

  <meta property="og:title" content="Vertex 360 | Powerful Website Builder. Easy, Fast, Professional." />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://www.vertex360.co" />
	<meta property="og:image" content="https://lh3.googleusercontent.com/ZM_FCvAPcwUXd3NZJNpvA-t8jb4RQkkjVAKNXYk_SQHV155T-W36Ghos9W7iiTyxaiKzXl9Z2XhaABotatD3HomhAQ=s260-c" />
	<meta property="og:image:width" content="260px" />
	<meta property="og:image:height" content="260px" />
	<meta property="og:description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />
</head>

<body>

<div id="wrapper">
  {{>nav}}
  <div class="clearfix"></div>
  <!-- Header Container / End -->


<div class="main-search-container" data-background-image="https://lh3.googleusercontent.com/IWUouz6uPWLofipKuaHh219C5AdniATu6C85bd6DGogdQlJ1M8BAFk6uZx-Q10pVlgYMHrRuZC5V83P_g5XGv21_bRI=s2048" style="max-height:500px">
	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h2>Professional Websites. Fast.</h2>
					<h4>Create fully-featured professional websites in minutes</h4>

				</div>
			</div>
		</div>

	</div>
</div>

<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				Categories
				<span>Check out our templates across a variety of categories</span>
			</h3>
		</div>

	</div>
</div>


<!-- Categories Carousel -->
<div class="fullwidth-carousel-container margin-top-25">
	<div class="fullwidth-slick-carousel category-carousel">

    <!-- Item -->
		<div class="fw-carousel-item">
			<div class="category-box-container">
				<a href="#" class="category-box" data-background-image="https://lh3.googleusercontent.com/PhXbSqJFxRJ8pwxdwd-NXm_D0i1gHCw_Z6Xacz699h53YcyyVJZ7-3k40dX-lIMnN_kUyP5288m1yEDTPZH4NAuneg">
					<div class="category-box-content">
						<h3>Resume</h3>
						<span>67 templates</span>
					</div>
					<span class="category-box-btn">Browse</span>
				</a>
			</div>
		</div>

		<!-- Item -->
		<div class="fw-carousel-item">
			<div class="category-box-container">
				<a href="#" class="category-box" data-background-image="https://lh3.googleusercontent.com/tOTfAZyD6h4TrnRD_L2EcjFnqAaPokiCKmJleu6JMghlJLZeYPq77HSRbq6qAh9AnzeJ7z1Bv220hH5_fN65vGMxw6Y">
					<div class="category-box-content">
						<h3>Restaurant</h3>
						<span>67 templates</span>
					</div>
					<span class="category-box-btn">Browse</span>
				</a>
			</div>
		</div>

		<!-- Item -->
		<div class="fw-carousel-item">
			<div class="category-box-container">
				<a href="#" class="category-box" data-background-image="https://lh3.googleusercontent.com/s3bpe7xXO561pGCzJdUyF35t_vopjoc1iVGmN5Sbt3wxyXM6DcgRm_PPwQf6YYbIuS5F2IiZ_P3e2rHFvhLESj_B">
					<div class="category-box-content">
						<h3>Fitness</h3>
						<span>27 templates</span>
					</div>
					<span class="category-box-btn">Browse</span>
				</a>
			</div>
		</div>

		<!-- Item -->
		<div class="fw-carousel-item">
			<div class="category-box-container">
				<a href="#" class="category-box" data-background-image="https://lh3.googleusercontent.com/Qjamm9WtrLx3GphaqkxpH9EJMeTEdg-7EOJSJ_sHKH_sSR-63xBf6tRew8um4bHw4k42HSA3AItfKFODiFkD30m9Ig">
					<div class="category-box-content">
						<h3>Realtor</h3>
						<span>22 templates</span>
					</div>
					<span class="category-box-btn">Browse</span>
				</a>
			</div>
		</div>

    <!-- Item -->
		<div class="fw-carousel-item">
			<div class="category-box-container">
				<a href="#" class="category-box" data-background-image="https://lh3.googleusercontent.com/cl7Q23mDhdH2rL7E1C8ruw9mojuQ8OKsoszhJumoQu81HVJYvqgLOuQq3iyGMLSSHqsM-un_fz_dWlUvF6w5xmBIYFE">
					<div class="category-box-content">
						<h3>Lessons</h3>
						<span>22 templates</span>
					</div>
					<span class="category-box-btn">Browse</span>
				</a>
			</div>
		</div>

		<!-- Item -->
		<div class="fw-carousel-item">
			<div class="category-box-container">
				<a href="#" class="category-box" data-background-image="https://lh3.googleusercontent.com/Ruprmo7dbJiSee0WqCEUf6S2egek-gYJT7Noi5ooJa7GctfNKNSeRy76k0rYbuQiIRrZcUYx8Ur-OGRVsyjyDhQM3A">
					<div class="category-box-content">
						<h3>Landing Page</h3>
						<span>130 templates</span>
					</div>
					<span class="category-box-btn">Browse</span>
				</a>
			</div>
		</div>

	</div>
</div>
<!-- Categories Carousel / End -->


<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					Examples
					<span>Discover top-rated local businesses</span>
				</h3>
			</div>

			<div class="col-md-12">
				<div class="simple-slick-carousel dots-nav">

				<!-- Listing Item -->
				<div class="carousel-item">
					<a href="listings-single-page.html" class="listing-item-container">
						<div class="listing-item">
							<img src="/images/listing-item-01.jpg" alt="">

							<div class="listing-item-content">
								<span class="tag">Eat & Drink</span>
								<h3>Tom's Restaurant <i class="verified-icon"></i></h3>
								<span>964 School Street, New York</span>
							</div>
							<span class="like-icon"></span>
						</div>
						<div class="star-rating" data-rating="3.5">
							<div class="rating-counter">(12 reviews)</div>
						</div>
					</a>
				</div>
				<!-- Listing Item / End -->

				<!-- Listing Item -->
				<div class="carousel-item">
					<a href="listings-single-page.html" class="listing-item-container">
						<div class="listing-item">
							<img src="/images/listing-item-02.jpg" alt="">
							<div class="listing-item-details">
								<ul>
									<li>Friday, August 10</li>
								</ul>
							</div>
							<div class="listing-item-content">
								<span class="tag">Events</span>
								<h3>Sticky Band</h3>
								<span>Bishop Avenue, New York</span>
							</div>
							<span class="like-icon"></span>
						</div>
						<div class="star-rating" data-rating="5.0">
							<div class="rating-counter">(23 reviews)</div>
						</div>
					</a>
				</div>
				<!-- Listing Item / End -->

				<!-- Listing Item -->
				<div class="carousel-item">
					<a href="listings-single-page.html" class="listing-item-container">
						<div class="listing-item">
							<img src="/images/listing-item-03.jpg" alt="">
							<div class="listing-item-details">
								<ul>
									<li>Starting from $59 per night</li>
								</ul>
							</div>
							<div class="listing-item-content">
								<span class="tag">Hotels</span>
								<h3>Hotel Govendor</h3>
								<span>778 Country Street, New York</span>
							</div>
							<span class="like-icon"></span>
						</div>
						<div class="star-rating" data-rating="2.0">
							<div class="rating-counter">(17 reviews)</div>
						</div>
					</a>
				</div>
				<!-- Listing Item / End -->

				</div>

			</div>

		</div>
	</div>

</section>
<!-- Fullwidth Section / End -->


<!-- Info Section -->
<div class="container">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				How It Works
				<span class="margin-top-25">
          Explore some of the best tips from around the world from our partners and friends.
          Discover some of the most popular templates in Sydney.
        </span>
			</h2>
		</div>
	</div>

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Map2"></i>
				<h3>Find Interesting Place</h3>
				<p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Mail-withAtSign"></i>
				<h3>Contact a Few Owners</h3>
				<p>Maecenas pulvinar, risus in facilisis dignissim, quam nisi hendrerit nulla, id vestibulum metus nullam viverra porta purus.</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="im im-icon-Checked-User"></i>
				<h3>Make a Reservation</h3>
				<p>Faucibus ante, in porttitor tellus blandit et. Phasellus tincidunt metus lectus sollicitudin feugiat pharetra consectetur.</p>
			</div>
		</div>
	</div>

</div>
<!-- Info Section / End -->


<!-- Recent Blog Posts -->
<section class="fullwidth border-top margin-top-70 padding-top-75 padding-bottom-75" data-background-color="#fff">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h3 class="headline centered margin-bottom-45">
					Tutorials
				</h3>
			</div>
		</div>

		<div class="row">
			<!-- Blog Post Item -->
			<div class="col-md-4">
				<a href="pages-blog-post.html" class="blog-compact-item-container">
					<div class="blog-compact-item">
						<img src="/images/blog-compact-post-01.jpg" alt="">
						<span class="blog-item-tag">Tips</span>
						<div class="blog-compact-item-content">
							<ul class="blog-post-tags">
								<li>22 August 2017</li>
							</ul>
							<h3>Hotels for All Budgets</h3>
							<p>Sed sed tristique nibh iam porta volutpat finibus. Donec in aliquet urneget mattis lorem. Pellentesque pellentesque.</p>
						</div>
					</div>
				</a>
			</div>
			<!-- Blog post Item / End -->

			<!-- Blog Post Item -->
			<div class="col-md-4">
				<a href="pages-blog-post.html" class="blog-compact-item-container">
					<div class="blog-compact-item">
						<img src="/images/blog-compact-post-02.jpg" alt="">
						<span class="blog-item-tag">Tips</span>
						<div class="blog-compact-item-content">
							<ul class="blog-post-tags">
								<li>18 August 2017</li>
							</ul>
							<h3>The 50 Greatest Street Arts In London</h3>
							<p>Sed sed tristique nibh iam porta volutpat finibus. Donec in aliquet urneget mattis lorem. Pellentesque pellentesque.</p>
						</div>
					</div>
				</a>
			</div>
			<!-- Blog post Item / End -->

			<!-- Blog Post Item -->
			<div class="col-md-4">
				<a href="pages-blog-post.html" class="blog-compact-item-container">
					<div class="blog-compact-item">
						<img src="/images/blog-compact-post-03.jpg" alt="">
						<span class="blog-item-tag">Tips</span>
						<div class="blog-compact-item-content">
							<ul class="blog-post-tags">
								<li>10 August 2017</li>
							</ul>
							<h3>The Best Cofee Shops In Sydney Neighborhoods</h3>
							<p>Sed sed tristique nibh iam porta volutpat finibus. Donec in aliquet urneget mattis lorem. Pellentesque pellentesque.</p>
						</div>
					</div>
				</a>
			</div>
			<!-- Blog post Item / End -->

			<div class="col-md-12 centered-content">
				<a href="#" class="button border margin-top-10">
          View All Tutorials
        </a>
			</div>

		</div>

	</div>
</section>
<!-- Recent Blog Posts / End -->

  {{>footer-dark}}
</div>
<!-- Wrapper / End -->


<script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>

</body>
</html>
