<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vertex 360 | Powerful Website Builder. Easy, Fast, Professional.</title>
    <meta name="description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />
    <link rel="icon" href="https://lh3.googleusercontent.com/5SVrpLI9utkuVJbQb48cpD3tar59mgWaWSAM73Ghj8dxFJMD2UOzkhO5ptWDd2uV2eqgSvDCSa-Ad8aOrygXx6nv=s32-c" type="image/png" />

    <meta property="og:title" content="Vertex 360 | Powerful Website Builder. Easy, Fast, Professional." />
  	<meta property="og:type" content="article" />
  	<meta property="og:url" content="https://www.vertex360.co" />
  	<meta property="og:image" content="https://lh3.googleusercontent.com/ZM_FCvAPcwUXd3NZJNpvA-t8jb4RQkkjVAKNXYk_SQHV155T-W36Ghos9W7iiTyxaiKzXl9Z2XhaABotatD3HomhAQ=s260-c" />
  	<meta property="og:image:width" content="260px" />
  	<meta property="og:image:height" content="260px" />
  	<meta property="og:description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />


    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/css/blue.css" id="theme-color">
		<style>
			.logo {
				width: 160px;
			}

      /*timeline */
      .timeline .media {
        position: relative;
      }
      .timeline .media:after {
        content: '';
        position: absolute;
        border-radius: 4px;
        top: 10px;
        left: 41px;
        width: 6px;
        height: 100%;
        background-color: #f8f9fa;
        z-index: -1;
      }
      .timeline .media:last-child:after {
        background-color: transparent;
      }
		</style>
</head>
    <body>
				<!--navigation-->
				<nav style="height:72px" class="navbar navbar-expand-md navbar-light bg-white fixed-top sticky-navigation">
				  <div class="container">
				    <a class="navbar-brand mx-auto" href="/">
				        <img class="logo" src="https://lh3.googleusercontent.com/hlcLdauNL9UiLa3K4wF5ZPNpHzi50R26y61Ahx7oRMbUNgujN-1SmeC_3zG4EHLBH5WnRhQ1ZS19KF_xcWqkTKoENw=s320" />
				    </a>
				    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
				            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				        <span data-feather="grid"></span>
				    </button>
				    <div class="collapse navbar-collapse" id="navbarCollapse">
				        <ul class="navbar-nav ml-auto">
				            <li class="nav-item">
				                <a class="nav-link page-scroll" href="#about">About</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link page-scroll" href="#services">Services</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link page-scroll" href="#process">Templates</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link page-scroll" href="#blog">Blog</a>
				            </li>
                    <li class="nav-item">
				                <a style="border-radius:6px;color:#fff" class="nav-link page-scroll btn btn-primary" href="#">Join</a>
				            </li>
				        </ul>
				    </div>
				  </div>
				</nav>

        <!--hero header-->
        <section class="py-5 py-md-7" id="home" style="background:#f9f9f9">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 my-md-auto mb-5 mb-md-0 text-center text-md-left">
                        <span class="text-uppercase text-muted small-xl">Welcome to Vertex 360</span>
                        <h1 class="display-4 mt-2 mb-5">The Easiest Website Builder. Period.</h1>
                        <a href="/templates" class="btn btn-primary d-inline-flex flex-row align-items-center text-white btn-lg">
                            Get Started
                        </a>
                    </div>
                    <div class="col-md-6 play-wrapper">
                        <img src="https://lh3.googleusercontent.com/lZYasjr1FhWpyFTXk1RRbPnEDnvDEcjQYOcVlhOKWAzMuzJNTWl7HwBUN_Bs3RNQdAVaDpPbbQQxywuEErGchBbGkg=s1024" class="img-fluid d-block mx-auto" alt="MacBook" />
                    </div>
                </div>
            </div>
        </section>

        <!-- features section -->
        <section class="py-6" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <h2 class="dot-circle">Build fully featured, professional websites in minutes.</h2>
                        <div class="row mt-6">
                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="layers" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">No Coding</h5>
                                        <span class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="zap" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Professional Templates</h5>
                                        <span class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="users" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Content Management System</h5>
                                        <span class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="command" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Custom Domain</h5>
                                        <span class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0">
                                      <div class="icon-box-inner small-xs text-primary">
                                          <span data-feather="users" width="30" height="30"></span>
                                      </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Collaborate</h5>
                                        <span class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-5">
                                <div class="media">
                                    <div class="icon-box mt-0 ml-0">
                                        <div class="icon-box-inner small-xs text-primary">
                                            <span data-feather="headphones" width="30" height="30"></span>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">Download Source Code</h5>
                                        <span class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                  <div class="col-md-8 mx-auto text-center">
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/1NY1rqokhLg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              		</div>
              	</div>

                <div class="row mt-4">
                    <div class="col-md-6 mx-auto text-center">
                        <a href="/templates" class="btn btn-primary btn-lg page-scroll">Get Started</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- about / reviews section -->
        <section class="pb-6" id="about">
            <div class="container">
                <hr class="mt-5"/>
                <div class="row my-5">
                    <div class="col-md-6 order-2 order-md-1 my-md-auto">
                        <h3>Keep It Simple</h3>
                        <p class="text-muted lead">
														Simply input your content and walk away - no coding required! No messing with confusing editors, drag & drop tools, or ridiculously complicated features for "beginners". On Vertex 360, simply input your content and move on with your life, business, family - more important stuff
                        </p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                    <div class="col-md-6 order-1 order-md-2">
                        <div class="text-center">
                          <small><em><a style="color:blue" href="#">Mixtape Template</a> for musicians</em></small>
                        </div>
                        <img src="https://lh3.googleusercontent.com/E0SvWLIWgoUKOCz9XtBUv3cbXhxpjf4hZRdqyPbmHYH2X8AANunA_57jYWX5_13cx_z02h1hqyJ5WXOLTXFbOvNqiA=s1024" class="img-fluid d-block mx-auto" alt="iMac"/>
                    </div>
                </div>

                <div class="row mt-7">
                    <div class="col-md-6">
                      <div class="text-center">
                        <small><em>CMS Admin Console</em></small>
                      </div>
                        <img src="https://lh3.googleusercontent.com/hOMESD3Uu8P2mLkwfHZhFLtz77SZw6_NSILAGi14hPKNn4E68-VXZ8uTirfoT2_KV5ezgDf7CAual78VvkkzHejkKiE=s1024" class="img-fluid d-block mx-auto" alt="MacBook"/>
                    </div>
                    <div class="col-md-6 my-md-auto">
                        <h3>Fully Featured</h3>
                        <p class="text-muted lead">
                            Our simplicty doesn't come at the expense of features. Every Vertex 360 site comes equipped with a full content management system, SSL integration, mobile responsiveness, and more.
                        </p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>

                <div class="row mt-7">
                    <div class="col-md-8 mx-auto slick-users">
                        <div class="review text-center">
                            <p class="quote">Praesent vulputate dolor velit, in condimentum odio pellentesin condimentum odio pellentesque libero.</p>
                            <div class="mt-4 d-flex flex-row align-items-center justify-content-center">
                                <img src="https://lh3.googleusercontent.com/l6J-ahp4zmpja7KhkObbcmab5FaMZ5q3QiYNhIaxbryKm3hVSfkiwLCQDsxAmotOdOCfN2yTd4nISUYa8d67CGz5mQ" class="img-review rounded-circle mr-2" alt="Client 1"/>
                                <span class="text-muted">Ryan Siddle, Google Design</span>
                            </div>
                        </div>
                        <div class="review text-center">
                            <p class="quote">Integer id ante posuere, vestibulum mauris eget, efficitur felis.</p>
                            <div class="mt-4 d-flex flex-row align-items-center justify-content-center">
                                <img src="https://lh3.googleusercontent.com/u--WLrw0LJJ5rGHBcNOAD4D9wHtHy8H4sBvuHMsYRUEKQjRkaxgHpICdLE_Izkh6yxGernINoSCR4ZS-Hl4MnOOy" class="img-review rounded-circle mr-2" alt="Client 2"/>
                                <span class="text-muted">Ameli Mao, VP Facebook</span>
                            </div>
                        </div>
                        <div class="review text-center">
                            <p class="quote">Praesent vulputate dolor velit, pellentesin condimentum odio pellentesque libero.</p>
                            <div class="mt-4 d-flex flex-row align-items-center justify-content-center">
                                <img src="https://lh3.googleusercontent.com/fykJCmNPe3VmGxdwodXXupMBFAkp7SIVdSVYS3CqX9JN25e3QDKkEqGnyMYBxIpN_zHDRsiLTd-u0y2ycPVQe5P9Sw" class="img-review rounded-circle mr-2" alt="Client 3"/>
                                <span class="text-muted">Kathrine Jones, Twitter</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5" id="process">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 mx-auto text-center">
                        <h1>How It Works</h1>
                        <p class="lead text-muted">
                            Donec lacus enim, ullamcorper nec lectus id, ornare finibus nunc.
                            Eleifend option congue nihil imper.
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-7 mx-auto timeline">
                        <div class="media pb-5">
                            <div class="icon-box mt-1">
                                <div class="icon-box-inner small-xs text-primary">
                                  <img style="width:32px;" src="https://lh3.googleusercontent.com/_pjan6kTm0-LYLLGf8KDGtfjnuNaMI8tAC6DraDvF_QaraA38QkXHach0-MCDGJEddH4qtyYoUbbtutSmd8t_oH5vw" />
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>Choose a Template</h5>
                                <p class="text-muted">Select from our growing list of professional templates across several industries.</p>
                            </div>
                        </div>
                        <div class="media pb-5">
                            <div class="icon-box mt-1">
                                <div class="icon-box-inner small-xs text-primary">
                                  <img style="width:32px;" src="https://lh3.googleusercontent.com/7K5JWBiZ52LbjuVnQJaKt6tFZpdhjUw9Z-6iMyclANPP8ix-rDoz6Uck69HX0T4S_-2e1ZzDnn3i3yxXek735ragKA" />
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>Enter Your Content</h5>
                                <p class="text-muted">Add your own text, images, and social media.</p>
                            </div>
                        </div>
                        <div class="media pb-5">
                            <div class="icon-box mt-1">
                                <div class="icon-box-inner small-xs text-primary">
                                  <img style="width:32px;" src="https://lh3.googleusercontent.com/c9yp9QZCM6WXwTGcbmLFBLpS6-5R2NqiKZsIuUtFh6qCnXGSzEIiNqxT9_7LllmxhmKBTGDHGyvv5hnaj2EN062u" />
                                </div>
                            </div>
                            <div class="media-body">
                                <h5>Profit!</h5>
                                <p class="text-muted">That's it! Get back to doing what you do best - growing your business.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!--pricing section-->
        <section class=" pt-6" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <h2 class="dot-circle">Affordable Pricing.</h2>
                        <p class="text-muted lead">Go ahead and compare our prices to the other website builders.<br />We'll be right here when you get back.</p>
                        <div class="row pricing-table mt-5">
                            <div class="col-sm-5">
                                <ul class="list-unstyled pricing-list">
                                    <li>
                                        <h5>Pay once</h5>
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </li>
                                    <li>
                                        <h5>One plan</h5>
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </li>
                                    <li>
                                        <h5>Unlimited access</h5>
                                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-6 ml-auto bg-primary">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p class="h1 text-white">$59</p>
                                        <p class="text-light">One time payment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--help section-->
        <section class=" mt-7" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <h2 class="dot-circle">Any Questions?</h2>
                        <div class="row mt-5">
                            <div class="col-md-6 mb-5">
                                <h6>Can I try Snap for free?</h6>
                                <p class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>Do you have hidden fees?</h6>
                                <p class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>What are the payment methods you accept?</h6>
                                <p class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>How often do you release updates?</h6>
                                <p class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>What is your refund policy?</h6>
                                <p class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</p>
                            </div>
                            <div class="col-md-6 mb-5">
                                <h6>How can I contact you?</h6>
                                <p class="text-muted">Nam liber tempor cum soluta nobis eleifend option congue nihil imper per tem por legere me doming.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="py-6 bg-light mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Privacy</a></li>
                            <li class="list-inline-item"><a href="#">Terms</a></li>
                            <li class="list-inline-item"><a href="#">Affiliates</a></li>
                            <li class="list-inline-item"><a href="#">Support</a></li>
                            <li class="list-inline-item"><a href="#">Blog</a></li>
                        </ul>
                        <ul class="list-inline social social-dark social-sm">
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="https://twitter.com/Vertex3601"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="https://www.youtube.com/channel/UCsJemLfEW2fMTw1y-IGbCdA/videos"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-muted text-center small-xl">
                        &copy; 2019 Vertex 360 - All Rights Reserved
                    </div>
                </div>
            </div>
        </footer>


        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.5.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <script src="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/js/scripts.js"></script>
    </body>
</html>
