<!DOCTYPE html>
<head>
  <title>Vertex 360 | Professional Websites. Fast.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{{cdn}}}/dist/css/style.min.css">
  <style>
    #logo img {
      max-width: 160px;
    }

    #footer-logo {
      max-width: 120px;
    }

    .listing-item-inner span {
      text-transform: capitalize;
    }

    .listing-item-inner h3 {
      text-transform: capitalize;
    }

    .bg-yellow {
      background: #fffffa !important;
    }

    .profile-row {
      margin-top: 16px;
    }

    .profile-row span {
      margin-top: 2px;
      font-size: 12px;
    }

    .profile-icon {
      float: left;
      width: 28px !important;
      border-radius: 50% !important;
      margin-right: 4px;
    }
  </style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<header id="header-container" class="fixed fullwidth">
	<div id="header" class="not-sticky">
		<div class="container">

			<div class="left-side">

				<div id="logo">
					<a href="index.html">
            <img src="https://storage.turbo360.co/vertex360-cms-4hujkc/vertex-logo-2.svg" alt="">
          </a>
				</div>

				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a href="#">Home</a>
							<ul>
								<li><a href="index.html">Home 1</a></li>
								<li><a href="index-2.html">Home 2</a></li>
								<li><a href="index-3.html">Home 3</a></li>
								<li><a href="index-4.html">Home 4</a></li>
							</ul>
						</li>

						<li><a class="current" href="#">Listings</a>
							<ul>
								<li><a href="#">List Layout</a>
									<ul>
										<li><a href="listings-list-with-sidebar.html">With Sidebar</a></li>
										<li><a href="listings-list-full-width.html">Full Width</a></li>
										<li><a href="listings-list-full-width-with-map.html">Full Width + Map</a></li>
									</ul>
								</li>
								<li><a href="#">Grid Layout</a>
									<ul>
										<li><a href="listings-grid-with-sidebar-1.html">With Sidebar 1</a></li>
										<li><a href="listings-grid-with-sidebar-2.html">With Sidebar 2</a></li>
										<li><a href="listings-grid-full-width.html">Full Width</a></li>
										<li><a href="listings-grid-full-width-with-map.html">Full Width + Map</a></li>
									</ul>
								</li>
								<li><a href="#">Half Screen Map</a>
									<ul>
										<li><a href="listings-half-screen-map-list.html">List Layout</a></li>
										<li><a href="listings-half-screen-map-grid-1.html">Grid Layout 1</a></li>
										<li><a href="listings-half-screen-map-grid-2.html">Grid Layout 2</a></li>
									</ul>
								</li>
								<li><a href="listings-single-page.html">Single Listing 1</a></li>
								<li><a href="listings-single-page-2.html">Single Listing 2</a></li>
							</ul>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>

			</div>

			<div class="right-side">
				<div class="header-widget">
					<a href="#sign-in-dialog" class="button with-icon popup-with-zoom-anim">Log In <i class="sl sl-icon-login" style="padding-left:4px"></i></a>
				</div>
			</div>

			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>Sign In</h3>
				</div>

				<div class="sign-in-form style-1">

					<ul class="tabs-nav">
						<li class=""><a href="#tab1">Log In</a></li>
						<li><a href="#tab2">Register</a></li>
					</ul>

					<div class="tabs-container alt">

						<div class="tab-content" id="tab1" style="display: none;">
							<form method="post" class="login">

								<p class="form-row form-row-wide">
									<label for="username">Username:
										<i class="im im-icon-Male"></i>
										<input type="text" class="input-text" name="username" id="username" value="" />
									</label>
								</p>

								<p class="form-row form-row-wide">
									<label for="password">Password:
										<i class="im im-icon-Lock-2"></i>
										<input class="input-text" type="password" name="password" id="password"/>
									</label>
									<span class="lost_password">
										<a href="#" >Lost Your Password?</a>
									</span>
								</p>

								<div class="form-row">
									<input type="submit" class="button border margin-top-5" name="login" value="Login" />
									<div class="checkboxes margin-top-10">
										<input id="remember-me" type="checkbox" name="check">
										<label for="remember-me">Remember Me</label>
									</div>
								</div>

							</form>
						</div>

						<!-- Register -->
						<div class="tab-content" id="tab2" style="display: none;">

							<form method="post" class="register">

							<p class="form-row form-row-wide">
								<label for="username2">Username:
									<i class="im im-icon-Male"></i>
									<input type="text" class="input-text" name="username" id="username2" value="" />
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="email2">Email Address:
									<i class="im im-icon-Mail"></i>
									<input type="text" class="input-text" name="email" id="email2" value="" />
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password1">Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password1" id="password1"/>
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password2">Repeat Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password2" id="password2"/>
								</label>
							</p>

							<input type="submit" class="button border fw margin-top-10" name="register" value="Register" />

							</form>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

</header>
<div class="clearfix"></div>


<div class="fs-container">

	<div class="fs-inner-container content">
		<div class="fs-content">

			<section class="search bg-yellow">
        <h2>Professional Websites. Fast.</h2>
        <p>
          Create fully-featured professional websites in minutes. Select a template
          below to get started.
        </p>

			</section>

  		<section class="listings-container margin-top-30">
  			<div class="row fs-listings">

  				{{#templates}}
  				<div class="col-lg-12 col-md-12">
  					<div class="listing-item-container list-layout">
  						<a href="#" class="listing-item template-preview" id="{{index}}">

  							<div class="listing-item-image">
  								<img src="{{image}}=s360-c" alt="">
  							</div>

  							<div class="listing-item-content">

  								<div class="listing-item-inner">
  									<h3>{{name}}</h3>
  									<span>{{template.category}}</span>
                    <div class="profile-row">
                      <img class="profile-icon" src="{{profile.image}}=s64-c" />
  										<span>{{profile.username}}</span>
  									</div>
  								</div>

  							</div>
  						</a>
  					</div>
  				</div>
          {{/templates}}
  			</div>

  			<div class="row fs-listings">
  				<div class="col-md-12">
  					<div style="text-align:left" class="copyrights margin-top-0">&copy; 2019 Vertex 360. All Rights Reserved.</div>
  				</div>
  			</div>
  		</section>

		</div>
	</div>
	<div class="fs-inner-container map-fixed" style="overflow:scroll">
    <div id="selected-template" class="blog-post" style="margin-top:0px"></div>
	</div>
</div>


</div>
<!-- Wrapper / End -->

<script type="text/template" id="tpl-selected-template">
  <div class="post-content selected-template">
    <img src="<% image %>=s1024" alt="">
    <h3 style="margin-top:20px"><a href="#"><% name %></a></h3>
    <ul class="post-meta">
      <li>August 18, 2017</li>
      <li><a href="#">Tips</a></li>
      <li><a href="#">7 Comments</a></li>
    </ul>
    <p><% description %></p>
    <a href="#" class="read-more">Use This Template <i class="fa fa-angle-right"></i></a>
  </div>
</script>

<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
<script>
  (function(){
    Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side

    var data = window.__PRELOADED__
    var templates = data.templates // this is an array
    var selected = data.selected
    var user = data.user

    var reloadUI = function(){
      var tpl = $('#tpl-selected-template').html()
      $('#selected-template').html(Mustache.render(tpl, selected))
    }

    $('.template-preview').each(function(i, el){
      $(this).click(function(event){
        if (event)
          event.preventDefault()

        var template = templates[this.id]
        selected = template
        reloadUI()
      })
    })

    reloadUI()
  })()
</script>

</body>
</html>
