<!DOCTYPE html>
<head>
  <title>Vertex 360 | Professional Websites. Fast.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{{cdn}}}/dist/css/style.min.css">
  <style>
    #logo img {
      max-width: 160px;
    }

    #footer-logo {
      max-width: 120px;
    }

    .listing-item-inner span {
      text-transform: capitalize;
    }

    .listing-item-inner h3 {
      text-transform: capitalize;
    }

    .bg-yellow {
      background: #fffffa !important;
    }
  </style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

<header id="header-container" class="fixed fullwidth">
	<div id="header" class="not-sticky">
		<div class="container">

			<div class="left-side">

				<div id="logo">
					<a href="index.html">
            <img src="https://storage.turbo360.co/vertex360-cms-4hujkc/vertex-logo-2.svg" alt="">
          </a>
				</div>

				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<li><a href="#">Home</a>
							<ul>
								<li><a href="index.html">Home 1</a></li>
								<li><a href="index-2.html">Home 2</a></li>
								<li><a href="index-3.html">Home 3</a></li>
								<li><a href="index-4.html">Home 4</a></li>
							</ul>
						</li>

						<li><a class="current" href="#">Listings</a>
							<ul>
								<li><a href="#">List Layout</a>
									<ul>
										<li><a href="listings-list-with-sidebar.html">With Sidebar</a></li>
										<li><a href="listings-list-full-width.html">Full Width</a></li>
										<li><a href="listings-list-full-width-with-map.html">Full Width + Map</a></li>
									</ul>
								</li>
								<li><a href="#">Grid Layout</a>
									<ul>
										<li><a href="listings-grid-with-sidebar-1.html">With Sidebar 1</a></li>
										<li><a href="listings-grid-with-sidebar-2.html">With Sidebar 2</a></li>
										<li><a href="listings-grid-full-width.html">Full Width</a></li>
										<li><a href="listings-grid-full-width-with-map.html">Full Width + Map</a></li>
									</ul>
								</li>
								<li><a href="#">Half Screen Map</a>
									<ul>
										<li><a href="listings-half-screen-map-list.html">List Layout</a></li>
										<li><a href="listings-half-screen-map-grid-1.html">Grid Layout 1</a></li>
										<li><a href="listings-half-screen-map-grid-2.html">Grid Layout 2</a></li>
									</ul>
								</li>
								<li><a href="listings-single-page.html">Single Listing 1</a></li>
								<li><a href="listings-single-page-2.html">Single Listing 2</a></li>
							</ul>
						</li>

					</ul>
				</nav>
				<div class="clearfix"></div>

			</div>

			<div class="right-side">
				<div class="header-widget">
					<a href="#sign-in-dialog" class="button with-icon popup-with-zoom-anim">Log In <i class="sl sl-icon-login" style="padding-left:4px"></i></a>
				</div>
			</div>

			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>Sign In</h3>
				</div>

				<div class="sign-in-form style-1">

					<ul class="tabs-nav">
						<li class=""><a href="#tab1">Log In</a></li>
						<li><a href="#tab2">Register</a></li>
					</ul>

					<div class="tabs-container alt">

						<div class="tab-content" id="tab1" style="display: none;">
							<form method="post" class="login">

								<p class="form-row form-row-wide">
									<label for="username">Username:
										<i class="im im-icon-Male"></i>
										<input type="text" class="input-text" name="username" id="username" value="" />
									</label>
								</p>

								<p class="form-row form-row-wide">
									<label for="password">Password:
										<i class="im im-icon-Lock-2"></i>
										<input class="input-text" type="password" name="password" id="password"/>
									</label>
									<span class="lost_password">
										<a href="#" >Lost Your Password?</a>
									</span>
								</p>

								<div class="form-row">
									<input type="submit" class="button border margin-top-5" name="login" value="Login" />
									<div class="checkboxes margin-top-10">
										<input id="remember-me" type="checkbox" name="check">
										<label for="remember-me">Remember Me</label>
									</div>
								</div>

							</form>
						</div>

						<!-- Register -->
						<div class="tab-content" id="tab2" style="display: none;">

							<form method="post" class="register">

							<p class="form-row form-row-wide">
								<label for="username2">Username:
									<i class="im im-icon-Male"></i>
									<input type="text" class="input-text" name="username" id="username2" value="" />
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="email2">Email Address:
									<i class="im im-icon-Mail"></i>
									<input type="text" class="input-text" name="email" id="email2" value="" />
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password1">Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password1" id="password1"/>
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password2">Repeat Password:
									<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="password2" id="password2"/>
								</label>
							</p>

							<input type="submit" class="button border fw margin-top-10" name="register" value="Register" />

							</form>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

</header>
<div class="clearfix"></div>


<div class="fs-container">

	<div class="fs-inner-container content">
		<div class="fs-content">

			<section class="search bg-yellow">

				<div class="row">
					<div class="col-md-12">

							<!-- Row With Forms -->
							<div class="row with-forms">

								<!-- Main Search Input -->
								<div class="col-fs-6">
									<div class="input-with-icon">
										<i class="sl sl-icon-magnifier"></i>
										<input type="text" placeholder="What are you looking for?" value=""/>
									</div>
								</div>

								<!-- Main Search Input -->
								<div class="col-fs-6">
									<div class="input-with-icon location">
										<div id="autocomplete-container">
											<input type="text" placeholder="Location">
										</div>
									</div>
								</div>


								<!-- Filters -->
								<div class="col-fs-12">

									<!-- Panel Dropdown / End -->
									<div class="panel-dropdown">
										<a href="#">Categories</a>
										<div class="panel-dropdown-content checkboxes categories">

											<!-- Checkboxes -->
											<div class="row">
												<div class="col-md-6">
													<input id="check-1" type="checkbox" name="check" checked class="all">
													<label for="check-1">All Categories</label>

													<input id="check-2" type="checkbox" name="check">
													<label for="check-2">Shops</label>

													<input id="check-3" type="checkbox" name="check">
													<label for="check-3">Hotels</label>
												</div>

												<div class="col-md-6">
													<input id="check-4" type="checkbox" name="check" >
													<label for="check-4">Eat & Drink</label>

													<input id="check-5" type="checkbox" name="check">
													<label for="check-5">Fitness</label>

													<input id="check-6" type="checkbox" name="check">
													<label for="check-6">Events</label>
												</div>
											</div>

											<!-- Buttons -->
											<div class="panel-buttons">
												<button class="panel-cancel">Cancel</button>
												<button class="panel-apply">Apply</button>
											</div>

										</div>
									</div>
									<!-- Panel Dropdown / End -->

									<!-- Panel Dropdown -->
									<div class="panel-dropdown wide">
										<a href="#">More Filters</a>
										<div class="panel-dropdown-content checkboxes">

											<!-- Checkboxes -->
											<div class="row">
												<div class="col-md-6">
													<input id="check-a" type="checkbox" name="check">
													<label for="check-a">Elevator in building</label>

													<input id="check-b" type="checkbox" name="check">
													<label for="check-b">Friendly workspace</label>

													<input id="check-c" type="checkbox" name="check">
													<label for="check-c">Instant Book</label>

													<input id="check-d" type="checkbox" name="check">
													<label for="check-d">Wireless Internet</label>
												</div>

												<div class="col-md-6">
													<input id="check-e" type="checkbox" name="check" >
													<label for="check-e">Free parking on premises</label>

													<input id="check-f" type="checkbox" name="check" >
													<label for="check-f">Free parking on street</label>

													<input id="check-g" type="checkbox" name="check">
													<label for="check-g">Smoking allowed</label>

													<input id="check-h" type="checkbox" name="check">
													<label for="check-h">Events</label>
												</div>
											</div>

											<!-- Buttons -->
											<div class="panel-buttons">
												<button class="panel-cancel">Cancel</button>
												<button class="panel-apply">Apply</button>
											</div>

										</div>
									</div>
									<!-- Panel Dropdown / End -->

									<!-- Panel Dropdown -->
									<div class="panel-dropdown">
										<a href="#">Distance Radius</a>
										<div class="panel-dropdown-content">
											<input class="distance-radius" type="range" min="1" max="100" step="1" value="50" data-title="Radius around selected destination">
											<div class="panel-buttons">
												<button class="panel-cancel">Disable</button>
												<button class="panel-apply">Apply</button>
											</div>
										</div>
									</div>
									<!-- Panel Dropdown / End -->

								</div>
								<!-- Filters / End -->

							</div>
							<!-- Row With Forms / End -->

					</div>
				</div>

			</section>
			<!-- Search / End -->

		<section class="listings-container margin-top-30">
			<div class="row fs-listings">

				{{#templates}}
				<div class="col-lg-12 col-md-12">
					<div class="listing-item-container list-layout">
						<a href="#" class="listing-item template-preview" id="{{index}}">

							<div class="listing-item-image">
								<img src="{{image}}=s360-c" alt="">
							</div>

							<div class="listing-item-content">

								<div class="listing-item-inner">
									<h3>{{name}} <i class="verified-icon"></i></h3>
									<span>{{template.category}}</span>
									<div class="star-rating" data-rating="3.5">
										<div class="rating-counter">(12 reviews)</div>
									</div>
								</div>

								<span class="like-icon"></span>
							</div>
						</a>
					</div>
				</div>
        {{/templates}}

			</div>

			<div class="row fs-listings">
				<div class="col-md-12">
					<div class="copyrights margin-top-0">&copy; 2019 Vertext 360. All Rights Reserved.</div>
				</div>
			</div>
		</section>

		</div>
	</div>
	<div class="fs-inner-container map-fixed" style="overflow:scroll">
    <div id="selected-template" class="blog-post" style="margin-top:0px">
			<div class="post-content">
        <img style="max-width:360px" src="images/blog-post-02.jpg" alt="">
				<h3 style="margin-top:20px"><a href="#">The 50 Greatest Street Arts In London</a></h3>

				<ul class="post-meta">
					<li>August 18, 2017</li>
					<li><a href="#">Tips</a></li>
					<li><a href="#">7 Comments</a></li>
				</ul>

				<p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>
        <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis.</p>

				<a href="pages-blog-post.html" class="read-more">Read More <i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</div>
</div>


</div>
<!-- Wrapper / End -->

<script type="text/template" id="tpl-selected-template">
  <div class="post-content">
    <img style="max-width:360px" src="<% image %>" alt="">
    <h3 style="margin-top:20px"><a href="#"><% name %></a></h3>
    <ul class="post-meta">
      <li>August 18, 2017</li>
      <li><a href="#">Tips</a></li>
      <li><a href="#">7 Comments</a></li>
    </ul>
    <p><% description %></p>
    <a href="#" class="read-more">Use This Template <i class="fa fa-angle-right"></i></a>
  </div>
</script>

<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
<script type="text/javascript" src="/js/mustache.js"></script>
<script>
  (function(){
    Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side

    var data = window.__PRELOADED__
    var templates = data.templates // this is an array
    var selected = data.selected
    var user = data.user

    var reloadUI = function(){
      var tpl = $('#tpl-selected-template').html()
      var html = Mustache.render(tpl, selected)
      $('#selected-template').html(html)
    }

    $('.template-preview').each(function(i, el){
      $(this).click(function(event){
        if (event)
          event.preventDefault()

        var template = templates[this.id]
        console.log('SELECT TEMPLATE: ' + JSON.stringify(template))
        selected = template
        reloadUI()
      })

    })


  })()
</script>

</body>
</html>
