<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{post.title}}</title>
    <meta name="description" content="{{post.preview}}" />

    <meta property="og:title" content="Vertex 360 | {{post.title}}" />
  	<meta property="og:type" content="article" />
  	<meta property="og:url" content="https://www.vertex360.co/post/{{post.slug}}" />
  	<meta property="og:image" content="{{{post.image}}}=s260-c" />
  	<meta property="og:image:width" content="260px" />
  	<meta property="og:image:height" content="260px" />
  	<meta property="og:description" content="{{post.preview}}" />

    {{>styles}}
		<style>
			.logo {
				width: 160px;
			}

      .post-content p {
        margin-bottom: 0px;
        line-height: 2.0;
        font-size: 18px;
      }

      .post-content img {
        margin: 12px 0px;
      }

      .post-header small {
        font-size: 14px;
      }

      .post-header hr {
        border-top: 1px solid #ddd;
      }

      .icon-avatar {
        border-radius: 50%;
        margin-right: 6px;
        padding: 4px;
        border: 1px solid #56b48c;
      }

      .author-container {
        display: flex;
        border-top: 1px solid #ddd;
        margin-top: 40px;
        padding: 20px 0px
      }

      .author-container h3 {
        text-transform: capitalize;
      }
		</style>
</head>
    <body>
      {{>nav}}

        <!-- features section -->
        <section class="py-6" id="features" style="background:#f9f9f9">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        <div class="post-header">
                          <h1>{{post.title}}</h1>
                          <img class="icon-avatar" src="{{{post.author.image}}}=s34-c" />
                          <small>{{post.author.username}}</small>
                          <span style="margin:16px">&bull;</span>
                          <small>{{post.dateString}}</small>
                          <hr />
                          <img style="max-width:100%" src="{{{post.image}}}=s400" />
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-8 mx-auto">
                      <div class="post-content">
                        {{{post.text}}}
                      </div>
                      <div class="author-container">
                        <div style="">
                          <img class="icon-avatar" src="{{{post.author.image}}}=s48-c" />
                        </div>
                        <div style="flex:1;padding-left:12px">
                          <h3>{{post.author.firstName}} {{post.author.lastName}}</h3>
                          <p class="text-muted">{{post.author.bio}}</p>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </section>

        {{>register}}
        {{>footer}}
        {{>scripts}}
    </body>
</html>
