<!DOCTYPE html>
<head>
  {{>head}}
  <style>
    .message-by {
      margin-left: 50px !important;
    }

    .user-link {
      padding: 0px !important;
      display: inherit !important;
      color: #37b6bd !important;
    }

    .post-preview {
      margin-bottom: 24px;
      display: flex;
    }

    .post-preview p {
      font-weight: 400;
      line-height: 20px;
    }

    .post-preview span {
      margin: 8px;
      font-weight: 600;
      color: #000;
    }

    .post-preview small {
      color: #999;
      font-weight: 200;
      font-size: 12px;
    }

    .post-preview img {
      float: left;
      width: 44px;
      margin-right: 12px;
      border-radius: 50%;
    }

    .text-green {
      color: #0f949b;
    }

    .text-blue {
      color: blue;
    }

    .message-bubble input {
      border: none !important;
      box-shadow: none !important;
      background: #f6f6f6;
      height: 30px;
      margin: 0px;
      padding: 0px;
    }

    .message-bubble textarea {
      font-size:14px;
      font-weight:200;
      min-height:72px;
      resize:none;
      border:none;
      background:#f6f6f6;
      box-shadow:none;
      padding:0px;
      margin-bottom: 0px !important;
    }

    .message-bubble button {
      padding:0px 9px;
      border-radius:3px;
      margin:0px;
    }

    .message-avatar img {
      width: 44px !important;
      height: 44px  !important;
    }

    .vote-box {
      text-align: center;
      max-width: 30px;
      line-height: 16px
    }

    .submit-button-container {
      text-align: right;
    }

    .submit-button-container button {
      padding: 0px 9px;
      border-radius: 3px;
      margin: 0px;
    }

    .comment-by small {
      color: #999;
      font-weight: 400;
      font-size: 12px;
    }

    .comment-by span {
      margin: 8px;
      font-weight: 600;
      color: #000;
    }

    .small-button {
      flex:1;
      text-align: center;
      font-size: 14px;
      margin: 0px;
      padding: 8px !important;
      border-radius: 4px !important;
    }
  </style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
  {{>nav}}
  <div class="clearfix"></div>

  <div id="dashboard">
  	<div class="dashboard-nav hidden-xs">
  		<div class="dashboard-nav-inner">

  			<ul data-submenu-title="Community">
  				<li id="sidebar-forum" class="active"><a href="#"><i class="sl sl-icon-picture"></i> Templates</a></li>
          <li id="sidebar-blog"><a href="#"><i class="sl sl-icon-bubbles"></i> Comments</a></li>
  				<li id="sidebar-blog"><a href="#"><i class="sl sl-icon-book-open"></i> Blog Posts</a></li>
  			</ul>

  		</div>
  	</div>

  	<div class="dashboard-content">
  		<div class="row">

  			<!-- Listings -->
  			<div class="col-lg-8 col-md-8">
          <div id="selected-content" class="dashboard-list-box margin-top-0">
    				<h4>TEMPLATES</h4>
    				<ul>

              {{#sites}}
              <li>
    						<div class="list-box-listing" style="min-height:110px">
    							<div class="list-box-listing-img" style="max-width:110px">
                    <a href="/template/{{slug}}">
                      <img src="{{{image}}}=s220-c" alt="Vertex 360">
                    </a>
                  </div>
    							<div class="list-box-listing-content">
    								<div class="inner">
    									<h3><a href="/template/{{slug}}">{{name}}</a></h3>
    									<span style="text-transform:capitalize">{{template.category}}</span>
                      <div class="margin-top-20">
                        <a href="/template/{{slug}}" class="button margin-right-10"><i class="sl sl-icon-magnifier-add"></i> View More</a>
          							<a target="_blank" href="https://{{slug}}.vertex360.co" class="button"><i class="sl sl-icon-share-alt"></i> Example</a>
                      </div>
    								</div>
    							</div>
    						</div>
    					</li>
              {{/sites}}

    				</ul>
    			</div>
  			</div>

        <div class="col-lg-4 col-md-4">
          {{#profile}}
          <div id="profile-card" class="dashboard-list-box margin-top-0" style="position:fixed;width:310px;">
            <h4 class="gray">Profile</h4>
            <div class="dashboard-list-box-static">
              <a href="/profile/{{profile.slug}}">
                <img style="border-radius:50%" src="{{{profile.image}}}=s96-c">
              </a>
              <br /><br />
              <small>Profile</small>
              <h4 class="padding-left-0 margin-bottom-20 padding-top-0 padding-bottom-10">
                <a style="text-transform:capitalize" href="/profile/{{profile.slug}}">{{profile.firstName}} {{profile.lastName}}</a>
              </h4>
              <p style="font-size:14px;line-height:20px">{{profile.bio}}</p>
            </div>
          </div>
          {{/profile}}

          {{^profile}}
          <div class="dashboard-list-box margin-top-0" style="position:fixed;width:310px;">
            <h4 class="gray">Register or Login</h4>
            <div class="dashboard-list-box-static">
              <div class="input-container margin-left-0">
                <input id="input-profile-firstName" type="text" placeholder="Email" />
              </div>

              <div class="input-container margin-left-0">
                <input id="input-profile-lastName"type="text" placeholder="Password" />
              </div>

              <hr />
              <div style="display:flex">
                <button class="button small-button margin-right-10">LOG IN</button>
                <button class="button small-button">JOIN</button>
              </div>
            </div>
          </div>
          {{/profile}}

          <div id="create-template-form" class="dashboard-list-box margin-top-0" style="position:fixed;width:310px;display:none">
            <h4 class="gray">Create Template</h4>
            <div class="dashboard-list-box-static">

              <div class="input-container margin-left-0">
                <input id="input-template-name" type="text" placeholder="Name">
              </div>

              <div class="input-container margin-left-0">
                <input id="input-template-description" type="text" placeholder="Description (optional)">
              </div>

              <div class="input-container margin-left-0">
                <select id="input-template-category">
                  <option value="base">Base</option>
                  <option value="resume">Resume</option>
                  <option value="landing">Landing</option>
                  <option value="portfolio">Portfolio</option>
                </select>
              </div>

              <hr>
              <a href="#" id="btn-create-template" class="button btn-view">Create Template</a>
            </div>
          </div>
        </div>

        {{>copyright}}
  		</div>
  	</div>

  </div>
</div>

  <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
  <script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
</body>
</html>
