<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vertex 360</title>
  <meta name="description" content="" />
  {{>head}}
</head>

<body>
  {{>nav}}

  <div class="container pt-5 pb-4">
  	<div class="row justify-content-between">
  		<div class="col-md-8 mx-auto">
  			<h5 class="font-weight-bold spanborder"><span>{{site.name}}</span></h5>

        <div class="mb-5 justify-content-between post-preview">
          <div class="d-flex">
            <a target="_blank" href="{{{link}}}">
    					<img style="width:220px" src="{{{site.image}}}=s440-c">
    				</a>
            <div style="flex:1" class="pl-3">
    					<p class="text-muted">{{site.description}}</p>
    					<div class="card-text text-muted small">
    							<img class="mr-2" style="border-radius:50%" src="{{{site.profile.image}}}=s28-c" />
    						 	<span class="text-capitalize">{{site.profile.firstName}} {{site.profile.lastName}}</span>
    							<span style="margin:6px">&middot;</span>
    							<span class="text-capitalize">{{site.category}}</span>
    							<span style="margin:6px">&middot;</span>
    							<a class="btn btn-sm btn-success comments-button" style="padding:0.12em 1em; box-shadow:none" href="#">Follow</a>
    					</div>
    				</div>
          </div>
  			</div>

  		</div>

  	</div>
  </div>

  {{>footer}}
  {{>auth}}
  {{>scripts}}
  <script>
    (function(){
      var data = window.__PRELOADED__
      var posts = data.posts

      $('.comments-button').each(function(i, btn){
        $(this).click(function(e){
          if (e)
            e.preventDefault()

          var postId = $(this).attr('id')
          window.vertexLib.getRequest('/api/thread?subject.id='+postId, null, function(err, response){
            if (err){
              console.log('ERROR: ' + JSON.stringify(err))
              return
            }

            if (response.results.length > 0){
              var thread = response.results[0]
              // console.log('THREAD: ' + JSON.stringify(thread))
              // https://www.vertex360.co/comments?thread=GSyvfLS4nODhsGkh&schema=post&site=mediumish-l9g2k8
              window.location.href = '/comments?thread='+thread.subject.id+'&schema='+thread.subject.schema+'&site='+thread.site.slug
              return
            }

            var selectedPost = null
            posts.forEach(function(post){
              if (post.id == postId)
                selectedPost = post
            })

            if (selectedPost == null){
              console.log('POST NOT FOUND')
              return
            }

            var site = data.site
            var siteUrl = (site.url=="") ? 'https://'+site.slug+'.vertex360.co' : 'https://'+site.url
            var postUrl = (site.url=="") ? 'https://'+site.slug+'.vertex360.co/post/'+selectedPost.slug : 'https://'+site.url+'/post/'+selectedPost.slug

            // not found, create one
            var params = {
              site: JSON.stringify({id:site.id, slug:site.slug, name:site.name, image:site.image, url:siteUrl}),
              subject: JSON.stringify({id:selectedPost.id, schema:'post', title:selectedPost.title, preview:selectedPost.preview, dateString:selectedPost.dateString, slug:selectedPost.slug, image:selectedPost.image, url:postUrl, category:selectedPost.category}),
              slug: selectedPost.slug
            }

            window.vertexLib.postRequest('/api/thread', params, function(err, resp2){
              if (err){
                console.log('ERR2: ' + JSON.stringify(err))
                return
              }

              console.log('THREAD CREATED: ' + JSON.stringify(resp2))
              var thread = resp2.result
              window.location.href = '/comments?thread='+thread.subject.id+'&schema='+thread.subject.schema+'&site='+thread.site.slug
            })
          })
        })
      })
    })()
  </script>
</body>
</html>
