<!DOCTYPE html>
<head>
  {{>head}}
  <style>
    iframe {
      width: 100%;
      height: 100vh;
      border: none;
    }
  </style>
</head>

<body>
  <div id="wrapper">
    {{>nav}}
    <div class="clearfix"></div>

    <div class="single-listing-page-titlebar"></div>

    <div class="container">
      <div class="row sticky-wrapper">
    		<div class="col-lg-10 col-md-10">

          <div id="add-review" class="add-review-box">
    				<!-- Review Comment -->
    				<form id="add-comment" class="add-comment">
    					<fieldset>
    						<div class="row">
                  <div class="col-md-12 margin-bottom-20">
    								<label>Image:</label>
                    <div id="image-container"></div>
    								<button id="btn-image-upload" class="button">Upload Image</button>
    							</div>

    							<div class="col-md-6">
    								<input id="input-event-name" placeholder="Name" type="text" />
    							</div>

                  <div class="col-md-6">
    								<input id="input-event-venue" placeholder="Venue" type="text" />
    							</div>

                  <div class="col-md-6">
    								<input id="input-event-address" placeholder="Address" type="text" />
    							</div>

                  <div class="col-md-6">
    								<input id="input-event-city" placeholder="City" type="text" />
    							</div>

                  <div class="col-md-6">
    								<input id="input-event-state" placeholder="State" type="text" />
    							</div>

                  <div class="col-md-6">
    								<input id="input-event-zip" placeholder="Zip" type="text" />
    							</div>

                  <div class="col-md-6">
                    <input id="input-event-date" type="datetime-local" />
    							</div>
    						</div>

    						<div>
    							<label>Description:</label>
    							<textarea id="input-event-description" cols="40" rows="3"></textarea>
    						</div>

    					</fieldset>

    					<button id="btn-create-event" class="button">Create Event</button>
    				</form>
    			</div>
    		</div>
    	</div>

    </div>

    {{>footer}}
    <a style="display:none" id="btn-show-modal" href="#sign-in-dialog" class="popup-with-zoom-anim">test</a>
  </div>

  <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
  <script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>

  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
  <script>
    (function(){
      var data = window.__PRELOADED__
      var turbo = Turbo({site_id:'5c244564231ff10015a113ea'})
      var currentEvent = data.event || {id:null, name:'', description:'', image:''}
      // console.log('BASE_URL == '+window.location.origin)

      $('#btn-image-upload').click(function(event){
  			if (event)
  				event.preventDefault()

  			// console.log('Upload Image')
  			turbo.uploadFile({
  				apiKey: '16874eb4-417b-4147-9657-18a4a2c8cada',
  				completion: function(err, response){
            if (response.confirmation != 'success'){
              alert(response.message)
              return
            }

            // console.log('File Uploaded: ' + url)
            // File Uploaded: {"confirmation":"success","result":{"site":"5c244564231ff10015a113ea","name":"logo.jpg","type":"image/jpeg","url":"https://lh3.googleusercontent.com/ZJeWlO3KpLXdAKEfgNuqtfaLkRqCRvUJtG0AyfUpF1CMDyQohrF0lF7Zxy1125t3LOre1cwQSv6oB8sCAytxGuHK","size":39052,"timestamp":"2019-04-19T22:27:49.619Z","schema":"blob","id":"5cba4b6554f69a00156fbfee"}}
            var image = response.result
            var url = image.url
            currentEvent['image'] = url
            $('#image-container').html('<img style="margin-bottom:16px" src="'+url+'=s160" />')
  				}
  			})
  		})

      $('#btn-create-event').click(function(event){
        if (event)
          event.preventDefault()

        currentEvent['name'] = $('#input-event-name').val()
        currentEvent['description'] = $('#input-event-description').val()
        currentEvent['date'] = $('#input-event-date').val()

        if (currentEvent.name.length == 0){
          alert('Please enter a name.')
          return
        }

        if (currentEvent.description.length == 0){
          alert('Please enter description.')
          return
        }

        var location = {
          venue: $('#input-event-venue').val(),
          address: $('#input-event-address').val(),
          city: $('#input-event-city').val(),
          state: $('#input-event-state').val(),
          zip: $('#input-event-zip').val()
        }

        currentEvent['location'] = JSON.stringify(location)
        console.log('CREATE EVENT == ' + JSON.stringify(currentEvent))

        $.ajax({
          url: '/api/event',
          type: 'POST',
          data: currentEvent,
          success: function(response){
            if (response.confirmation != 'success'){
              alert(response.message)
              return
            }

            console.log(JSON.stringify(response.result))
            // window.location.href = '/post/'+response.result.slug
          },
          error: function(err){
            console.log('ERROR - '+err)
          }
        })
      })

      $('#btn-update-event').click(function(event){
        if (event)
          event.preventDefault()

        // only send updates, not the entire post again:
        var updates = {
          title: $('#input-event-title').val(),
          text: $('#input-event-text').val(),
          image: post.image
        }

        if (updates.title.length == 0){
          alert('Please enter a title.')
          return
        }

        if (updates.text.length == 0){
          alert('Please enter text.')
          return
        }

        $.ajax({
          url: '/api/post/'+post.id,
          type: 'PUT',
          data: updates,
          success: function(response){
            if (response.confirmation != 'success'){
              alert(response.message)
              return
            }

            // console.log(JSON.stringify(response.result))
            window.location.href = '/post/'+response.result.slug
          },
          error: function(err){
            console.log('ERROR - '+err)
          }
        })
      })

      $('#btn-delete-event').click(function(event){
        if (event)
          event.preventDefault()

        if (post.id == null)
          return

        if (confirm('Are you sure? This cannot be reversed.')!=true)
          return

        $.ajax({
          url: '/api/post/'+post.id,
          type: 'DELETE',
          data: null,
          success: function(response){
            window.location.href = '/community?selected=blog'
          },
          error: function(response, err){
            alert('Error - ' + JSON.stringify(response))
          }
        })
      })

    })()
  </script>
</body>
</html>
