<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Vertex 360 | The Easiest Website Builder. Period.</title>
  <meta name="description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />

  <meta property="og:title" content="Vertex 360 | Websites for the Modern Digital Age" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.vertex360.co" />
  <meta property="og:image" content="https://lh3.googleusercontent.com/ZM_FCvAPcwUXd3NZJNpvA-t8jb4RQkkjVAKNXYk_SQHV155T-W36Ghos9W7iiTyxaiKzXl9Z2XhaABotatD3HomhAQ=s260-c" />
  <meta property="og:image:width" content="260px" />
  <meta property="og:image:height" content="260px" />
  <meta property="og:description" content="Vertex 360 launches websites for influencers, YouTubers, content creators, startups, podcasters or anyone who want to expand their online brand." />

  {{>head}}
  <link rel="stylesheet" href="{{{cdn}}}/css/sidebar.css" />
</head>

<body>
  {{>nav}}

  <div class="wrapper">
      <nav id="sidebar">
          <div class="sidebar-header mb-4">
              <h5 style="color:#333">Search Templates</h5>
              <div>
                <input id="input-search-templates" type="text" class="pl-1" placeholder="ex: blog, portfolio..." />
                <button id="btn-search-templates" class="btn btn-sm btn-primary ml-1">GO</button>
                <p class="mt-4" style="color:#333;width:95%">
                  Search for templates by category (blog, resume, portfolio etc), name ("the gallery") or feature (newsletter).
                </p>
              </div>
          </div>
      </nav>

      <div id="content">
          <!-- features section -->
          <section class="py-6" id="features" style="background:#f9f9f9">
              <div class="container mt-4">
                  <div id="templates-row" class="row">

                      {{#templates}}
                      <article class="col-md-6 {{features}} all">
                          <a id="{{id}}-card" class="tpl-link" href="#" data-toggle="modal" data-target="#template-modal">
                            <div class="card mb-4" style="background-image: url('{{{image}}}=s1024')"></div>
                          </a>
                          <h5 style="margin-bottom:0px">
                            <a id="{{id}}-title"class="tpl-link" href="#" data-toggle="modal" data-target="#template-modal">{{name}}</a>
                          </h5>
                      </article>
                      {{/templates}}

                  </div>
              </div>
          </section>
          {{>footer-dark}}
      </div>
  </div>

  {{>auth}}

  <div class="modal fade" id="template-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:960px" role="document">
      <div class="modal-content" style="border-radius:4px">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Launch Site</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="template-modal-content" class="modal-body" style="display:flex"></div>
        <div class="text-left" style="padding:1.5rem;border-top:1px solid #ededed">
          <input id="input-site-name" type="text" class="form-control mr-3" placeholder="Your Site Name" style="display:initial;width:290px;height:48px;padding-top:2px;background:#fffffa" />
          <div style="display:inline-block" id="btn-launch-container"><button id="btn-launch-template" type="button" class="btn btn-primary btn-lg mr-2">LAUNCH SITE</button></div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/template" id="tpl-modal">
    <div class="modal-body" style="display:flex">
      <div style="flex:1">
        <div class="mb-2">
          <img src="<% image %>=s282-c" />
        </div>
        <div>
          <%#images%>
          <img class="preview-image" src="<% . %>=s50-c" />
          <%/images%>
        </div>
      </div>
      <div style="flex:2">
        <a target="_blank" style="float:right" href="https://<% url %>" class="btn btn-sm btn-danger">Live Example</a>
        <button style="float:right" class="btn btn-sm btn-success mr-2">Free</button>
        <h3><% name %></h3>
        <p><%{description}%></p>
        <h4 class="mb-0">Includes</h4>
        <ol style="padding-left:16px">
          <li>YouTube Transcriptions</li>
          <li>Podcast Player</li>
          <li>Instagram Gallery</li>
          <li>Blog</li>
          <li>Email Subscribers</li>
        </ol>
      </div>
    </div>
  </script>

  <script type="text/template" id="tpl-card">
    <article class="col-md-6 <% features %> all">
        <a id="<% id %>-card" class="tpl-link" href="#" data-toggle="modal" data-target="#template-modal">
          <div class="card mb-4" style="background-image: url('<%{image}%>=s1024')"></div>
        </a>
        <h5 style="margin-bottom:0px">
          <a id="<% id %>-title"class="tpl-link" href="#" data-toggle="modal" data-target="#template-modal"><% name %></a>
        </h5>
    </article>
  </script>

  <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
  <script type="text/javascript" src="{{{cdn}}}/scripts/vertex-lib.js"></script>
  <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>
  <script type="text/javascript" src="{{{cdn}}}/snap/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{{{cdn}}}/snap/js/popper.min.js"></script>
  <script type="text/javascript" src="{{{cdn}}}/snap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{{cdn}}}/snap/js/feather.min.js"></script>
  <script type="text/javascript" src="{{{cdn}}}/snap/js/slick.min.js"></script>
  <script type="text/javascript" src="{{{cdn}}}/snap/js/scripts.js"></script>
  <script type="text/javascript" src="{{{cdn}}}/scripts/referrer.js"></script>
  <script type="text/javascript" src="{{{cdn}}}/scripts/auth.js"></script>
  {{#renderAnalytics}}{{>analytics}}{{/renderAnalytics}}

  <script>
    (function(){
      Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side
      var data = window.__PRELOADED__
      var user = data.user
      var templates = data.templates
      var templatesMap = data.templatesMap
      var selected = null

      var connectModalHandlers = function(){
        $('.tpl-link').each(function(i, link){
          $(this).click(function(e){
            var tplId = $(this).attr('id')
            tplId = tplId.split('-')[0]
            var template = templatesMap[tplId]
            selected = template

            template['url'] = (template.url.length==0) ? template.slug+'.vertex360.co' : template.url
            template['description'] = (template.description.length==0) ? 'No Description' : template.description
            console.log('Select Template: ' + JSON.stringify(template))

            var tpl = $('#tpl-modal').html()
            var tplModal = Mustache.render(tpl, template)
            $('#template-modal-content').html(tplModal)
          })
        })
      }

      var searchTemplates = function(){
        var searchTerm = $('#input-search-templates').val()
        if (searchTerm.length == 0){
          alert('Please enter a search term.')
          return
        }

        // console.log('Search Templates: '+searchTerm)
        window.vertexLib.postRequest('/admin/search', {text:searchTerm, resource:'site'}, function(err, response){
          if (err){
            alert('Error - '+err.message)
            return
          }

          if (response.confirmation != 'success'){
            alert('Error - ' + response.message)
            return
          }

          var results = response.results
          // console.log('SEARCH RESULTS: ' + JSON.stringify(results))

          templatesMap = {} // reset map
          var templatesHtml = ''
          var tpl = $('#tpl-card').html()
          results.forEach(function(template){
            templatesMap[template.id] = template
            templatesHtml += Mustache.render(tpl, template)
          })

          $('#templates-row').html(templatesHtml)
          setTimeout(function(){
            connectModalHandlers()
          }, 500)
        })
      }

      $('#input-search-templates').on('keyup', function(event){
        if (event.keyCode !== 13)
          return
          
        // console.log('KEYUP == '+event.keyCode)
        searchTemplates()
      })

      $('#btn-search-templates').click(function(event){
        if (event)
          event.preventDefault()

        searchTemplates()        
      })

      // checks if a template is ready when cloning:
      var checkTemplate = function(siteSlug){
        var body = {template:siteSlug}
        window.vertexLib.postRequest('/account/check-template', body, function(err, response){
          if (err){
            // console.log('TEMPLATE NOT READY: ' + siteSlug)
            setTimeout(function(){
              checkTemplate(siteSlug)
            }, 4000)
            return
          }

          if (response.confirmation != 'success'){
            setTimeout(function(){
              checkTemplate(siteSlug)
            }, 4000)
            return
          }

          console.log('CHECK TEMPLATE: ' + JSON.stringify(response))
          if (response.confirmation != 'success'){
            alert('Error - ' + response.message)
            return
          }

          window.location.href = '/admin/pages/'+siteSlug // redirect to site admin page
        })
      }

      var launchTemplate = function(){
        var body = {
          name: $('#input-site-name').val().trim(), // this needs to be entered by the user,
          source: selected.id // ID of the template being copied
        }

        if (body.name.length == 0){
          alert('Please enter a name for your site')
          return
        }

        // console.log('launchTemplate: ' + JSON.stringify(body))
        $('#btn-launch-container').html("<img style='width:50px;margin-right:12px' src='https://storage.turbo360.co/vertex360-cms-4hujkc/loader.gif' /><em style='color:#888'>Launching your site. This may take up to 2 minutes...</em>")
        window.vertexLib.postRequest('/account/launch-template', body, function(err, response){
          if (err){
            alert('Error: ' + err.message)
            return
          }

          console.log('SITE LAUNCHED: ' + JSON.stringify(response))
          setTimeout(function(){
            checkTemplate(response.data.slug)
          }, 4000)
        })
      }

      $('#btn-launch-template').click(function(event){
        if (event)
          event.preventDefault()

        if (user == null){
          alert('Please log in or register to clone this site.')
          return
        }

        if (selected == null)
          return

        launchTemplate()
      })

      connectModalHandlers()

    })()
  </script>

</body>
</html>
