<!DOCTYPE html>
<head>
  {{>head}}
  <style>
    .template-details {
      text-align: right
    }

    .template-details img {
      width: 32px;
      border-radius: 50%;
      margin-left: 4px;
    }
  </style>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
  {{>nav}}
  <div class="clearfix"></div>

  <div class="single-listing-page-titlebar"></div>

<div class="container">
  <div class="row sticky-wrapper">
    <div class="col-lg-8 col-md-8 padding-right-30 padding-top-120">
      <h2>{{template.name}}</h2>
      <button style="float:right" class="button with-icon popup-with-zoom-anim">Launch This Template</button>
      <span>
        <a href="/profile/{{template.profile.slug}}" class="listing-address">{{template.profile.username}}</a>
      </span>
      <div class="star-rating" data-rating="5">
        <div class="rating-counter"><a href="#listing-reviews">(31 reviews)</a></div>
      </div>
    </div>
  </div>

	<div class="row sticky-wrapper">
		<div class="col-lg-8 col-md-8 padding-right-30 margin-top-0">
			<div id="titlebar" class="listing-titlebar padding-top-0">
				<div class="listing-titlebar-title">
          <img class="margin-top-20" src="{{{template.image}}}=s1024" />
				</div>
			</div>

			<!-- Listing Nav -->
			<div id="listing-nav" class="listing-nav-container">
				<ul class="listing-nav">
					<li><a href="#listing-overview" class="active">Overview</a></li>
					<li><a href="#listing-gallery">Gallery</a></li>
					<li><a href="#listing-pricing-list">Pricing</a></li>
					<li><a href="#listing-location">Location</a></li>
					<li><a href="#listing-reviews">Reviews</a></li>
					<li><a href="#add-review">Add Review</a></li>
				</ul>
			</div>

			<!-- Overview -->
			<div id="listing-overview" class="listing-section">
				<p>{{{template.description}}}</p>

				<h3 class="listing-desc-headline">Tags</h3>
				<ul class="listing-features checkboxes">
          {{#template.tags}}
					<li>{{.}}</li>
          {{/template.tags}}
				</ul>
			</div>

			<div id="listing-gallery" class="listing-section">
				<h3 class="listing-desc-headline margin-top-70">Screenshots</h3>
				<div class="listing-slider-small mfp-gallery-container margin-bottom-0">
          {{#template.images}}
          <a target="_blank" href="{{{.}}}=s1024" data-background-image="{{{.}}}=s1024-c" class="item mfp-gallery" title="Vertex 360"></a>
          {{/template.images}}
				</div>
			</div>

			<!-- Add Review Box -->
			<div id="add-review" class="add-review-box">

				<!-- Add Review -->
				<h3 class="listing-desc-headline margin-bottom-20">Add Review</h3>

				<span class="leave-rating-title">Your rating for this listing</span>

				<!-- Rating / Upload Button -->
				<div class="row">
					<div class="col-md-6">
						<!-- Leave Rating -->
						<div class="clearfix"></div>
						<div class="leave-rating margin-bottom-30">
							<input type="radio" name="rating" id="rating-1" value="1"/>
							<label for="rating-1" class="fa fa-star"></label>
							<input type="radio" name="rating" id="rating-2" value="2"/>
							<label for="rating-2" class="fa fa-star"></label>
							<input type="radio" name="rating" id="rating-3" value="3"/>
							<label for="rating-3" class="fa fa-star"></label>
							<input type="radio" name="rating" id="rating-4" value="4"/>
							<label for="rating-4" class="fa fa-star"></label>
							<input type="radio" name="rating" id="rating-5" value="5"/>
							<label for="rating-5" class="fa fa-star"></label>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="col-md-6">
						<!-- Uplaod Photos -->
						<div class="add-review-photos margin-bottom-30">
							<div class="photoUpload">
							    <span><i class="sl sl-icon-arrow-up-circle"></i> Upload Photos</span>
							    <input type="file" class="upload" />
							</div>
						</div>
					</div>
				</div>

				<!-- Review Comment -->
				<form id="add-comment" class="add-comment">
					<fieldset>

						<div class="row">
							<div class="col-md-6">
								<label>Name:</label>
								<input type="text" value=""/>
							</div>

							<div class="col-md-6">
								<label>Email:</label>
								<input type="text" value=""/>
							</div>
						</div>

						<div>
							<label>Review:</label>
							<textarea cols="40" rows="3"></textarea>
						</div>

					</fieldset>

					<button class="button">Submit Review</button>
					<div class="clearfix"></div>
				</form>

			</div>
			<!-- Add Review Box / End -->


		</div>

		<div class="col-lg-4 col-md-4 margin-top-25 sticky">

			<div class="boxed-widget margin-top-0">
				<div class="hosted-by-title">
					<h4><span>Created by</span> <a class="capitalize" href="/profile/{{template.profile.slug}}">{{template.profile.firstName}} {{template.profile.lastName}}</a></h4>
					<a href="/profile/{{template.profile.slug}}" class="hosted-by-avatar"><img src="{{{template.profile.image}}}=s120-c" alt="Vertex 360 | {{template.profile.firstName}} {{template.profile.lastName}}"></a>
				</div>

				<ul class="listing-details-sidebar social-profiles">
					<li><a href="#" class="facebook-profile"><i class="fa fa-facebook-square"></i> Facebook</a></li>
					<li><a href="#" class="linkedin-profile"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
				</ul>
				<a href="/profile/{{template.profile.slug}}" class="send-message-to-owner button">View Profile</a>
			</div>


			<!-- Share / Like -->
			<div class="listing-share margin-top-40 margin-bottom-40 no-border">
				<button class="like-button"><span class="like-icon"></span> Save this template</button>

				<ul class="share-buttons margin-top-40 margin-bottom-0">
					<li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a></li>
					<li><a class="twitter-share" href="#"><i class="fa fa-twitter"></i> Tweet</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>

      <div class="widget margin-top-40">
				<h3>Related</h3>
				<ul id="related-sites" class="widget-tabs"></ul>
			</div>

		</div>
		<!-- Sidebar / End -->

	</div>
</div>

{{>footer}}

</div>
<!-- Wrapper / End -->

<script type="text/template" id="tpl-site-preview">
  <li>
  	<div class="widget-content">
  		<div class="widget-thumb">
  			<a href="/template/<% slug %>"><img src="<%{image}%>=s120-c" alt="Vertex 360 | <% name %>" /></a>
  		</div>

  		<div class="widget-text">
  			<h5><a href="/template/<% slug %>"><% name %></a></h5>
  			<span><% template.category %></span>
  		</div>
  		<div class="clearfix"></div>
  	</div>
  </li>
</script>

<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
<script>
  (function(){
    Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side

    var data = window.__PRELOADED__
    // console.log(JSON.stringify(data))
    var currentTemplate = data.template

    $.ajax({
      url: '/api/site?origin=vertex360&template.category='+currentTemplate.template.category+'&limit=5',
      data: null,
      type: 'GET',
      success: function(response){
        if (response.confirmation != 'success'){
          return
        }

        var templates = response.results
        // console.log(JSON.stringify(templates))

        var tpl = $('#tpl-site-preview').html()
        var templatesHtml = ''
        templates.forEach(function(template){
          templatesHtml += Mustache.render(tpl, template)
        })

        $('#related-sites').html(templatesHtml)
      },
      error: function(response){

      }
    })

  })()
</script>

</body>
</html>
