<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{template.name}}</title>
    <meta name="description" content="{{template.preview}}" />

    <meta property="og:title" content="Vertex 360 | {{template.name}}" />
  	<meta property="og:type" content="article" />
  	<meta property="og:url" content="https://www.vertex360.co/template/{{template.slug}}" />
  	<meta property="og:image" content="{{{template.image}}}=s260-c" />
  	<meta property="og:image:width" content="260px" />
  	<meta property="og:image:height" content="260px" />
  	<meta property="og:description" content="{{template.preview}}" />

    {{>styles}}
    <style>
			.logo {
				width: 160px;
			}

      .icon-avatar {
        border-radius: 50%;
        margin-right: 6px;
        padding: 4px;
        border: 1px solid #56b48c;
      }

      .author-container {
        display: flex;
        border-top: 1px solid #ddd;
        margin-top: 40px;
        padding: 20px 0px
      }

      .author-container h3 {
        text-transform: capitalize;
      }

      .template-header {
        background: #fff;
        padding: 24px;
      }

      .template-header small {
        font-size: 14px;
      }

      .template-header p {
        margin-bottom: 0px;
        line-height: 2.0;
        font-size: 18px;
      }

      .screenshot {
        margin-bottom: 24px;
        max-width: 100%;
        border: 1px solid #ddd;
        padding: 3px;
        background: #fff;
      }

      .bg-green {
        background: #56b48c;
        border-color: #56b48c;
      }

      .btn-get-started {
        width: 100%;
        border-radius: 4px;
        padding: 12px 11em;
      }

      @media (max-width: 768px) {
        .btn-get-started {
          padding: 12px 5.5em;
        }
      }

		</style>
</head>
    <body>
      {{>nav}}

        <!-- features section -->
        <section class="py-6" id="features" style="background:#f9f9f9">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        <div class="template-header">
                          <h1>{{template.name}} Template</h1>
                          <img class="icon-avatar" src="{{{template.profile.image}}}=s34-c" />
                          <small>{{template.profile.username}}</small>
                          <span style="margin:16px">&bull;</span>
                          <small><a style="color:red" target="_blank" href="https://{{template.slug}}.vertex360.co">Live Example</a></small>
                          <hr />
                          <img style="max-width:100%;margin-bottom:20px" src="{{{template.image}}}=s1024" />
                          <p class="mb-5">{{{template.description}}}</p>
                          <h3>Screenshots</h3>
                          {{#template.images}}
                          <a target="_blank" href="{{{.}}}=s1024">
                            <img class="screenshot" src="{{{.}}}=s512" />
                          </a>
                          {{/template.images}}

                          <a href="/templates" class="btn btn-primary d-inline-flex flex-row align-items-center text-white btn-lg btn-get-started bg-green">
                              Launch This Template
                          </a>
                        </div>

                        <div class="author-container">
                          <div style="">
                            <img class="icon-avatar" src="{{{template.profile.image}}}=s48-c" />
                          </div>
                          <div style="flex:1;padding-left:12px">
                            <h3>{{template.profile.firstName}} {{template.profile.lastName}}</h3>
                            <p class="text-muted">{{template.profile.bio}}</p>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        {{>register}}
        {{>footer}}
        {{>scripts}}
    </body>
</html>
