<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{template.name}}</title>
    <meta name="description" content="{{template.description}}" />
    <link rel="icon" href="https://lh3.googleusercontent.com/5SVrpLI9utkuVJbQb48cpD3tar59mgWaWSAM73Ghj8dxFJMD2UOzkhO5ptWDd2uV2eqgSvDCSa-Ad8aOrygXx6nv=s32-c" type="image/png" />

    <meta property="og:title" content="Vertex 360 | {{template.name}}" />
  	<meta property="og:type" content="article" />
  	<meta property="og:url" content="https://www.vertex360.co/template/{{template.slug}}" />
  	<meta property="og:image" content="{{{template.image}}}=s260-c" />
  	<meta property="og:image:width" content="260px" />
  	<meta property="og:image:height" content="260px" />
  	<meta property="og:description" content="{{template.description}}" />


    <!--Inter UI font-->
    <link href="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/css/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/css/slick.min.css">
    <link rel="stylesheet" href="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/css/slick-theme.min.css">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/css/blue.css" id="theme-color">
    <style>
			.logo {
				width: 160px;
			}

      .icon-avatar {
        border-radius: 50%;
        margin-right: 6px;
        padding: 4px;
        border: 1px solid #56b48c;
      }

      .author-container {
        display: flex;
        border-top: 1px solid #ddd;
        margin-top: 40px;
        padding: 20px 0px
      }

      .author-container h3 {
        text-transform: capitalize;
      }

      .template-header {
        background: #fff;
        padding: 24px;
      }

      .template-header small {
        font-size: 14px;
      }

      .template-header p {
        margin-bottom: 0px;
        line-height: 2.0;
        font-size: 18px;
      }

      .screenshot {
        margin-bottom: 24px;
        max-width: 100%;
        border: 1px solid #ddd;
        padding: 3px;
        background: #fff;
      }

      .bg-green {
        background: #56b48c;
        border-color: #56b48c;
      }

      .btn-get-started {
        width: 100%;
        border-radius: 4px;
        padding: 12px 11em;
      }

      @media (max-width: 768px) {
        .btn-get-started {
          padding: 12px 5.5em;
        }
      }

		</style>
</head>
    <body>
				<!--navigation-->
				<nav style="height:72px" class="navbar navbar-expand-md navbar-light bg-white fixed-top sticky-navigation">
				  <div class="container">
				    <a class="navbar-brand mx-auto" href="/">
				        <img class="logo" src="https://lh3.googleusercontent.com/hlcLdauNL9UiLa3K4wF5ZPNpHzi50R26y61Ahx7oRMbUNgujN-1SmeC_3zG4EHLBH5WnRhQ1ZS19KF_xcWqkTKoENw=s320" />
				    </a>
				    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
				            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				        <span data-feather="grid"></span>
				    </button>
				    <div class="collapse navbar-collapse" id="navbarCollapse">
				        <ul class="navbar-nav ml-auto">
				            <li class="nav-item">
				                <a class="nav-link page-scroll" href="#about">About</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link page-scroll" href="#services">Services</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link page-scroll" href="#process">Templates</a>
				            </li>
				            <li class="nav-item">
				                <a class="nav-link page-scroll" href="#blog">Blog</a>
				            </li>
                    <li class="nav-item">
				                <a style="border-radius:6px;color:#fff" class="nav-link page-scroll btn btn-primary" href="#">Join</a>
				            </li>
				        </ul>
				    </div>
				  </div>
				</nav>


        <!-- features section -->
        <section class="py-6" id="features" style="background:#f9f9f9">
            <div class="container mt-4">
                <div class="row">
                    {{#templates}}
                    <div class="col-md-3">
                      <div class="card mb-4" style="border-radius:3px">
                        <div style="padding:12px">
                          <h3 style="margin-bottom:0px"><a href="/template/{{slug}}">{{name}}</a></h3>
                        </div>
                        <a href="/template/{{slug}}">
                          <img style="width:100%" src="{{{image}}}=s512-c" />
                        </a>
                        <a href="/template/{{slug}}">View More</a>
                      </div>
                    </div>
                    {{/templates}}
                </div>

            </div>
        </section>


        <!--help section-->
        <section class="mt-5" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 mx-auto">
                      <div class="card" style="padding:28px;background:#f9f9f9">
                        <div class="text-center">
                          <h1>Join Free</h1>
                          <p class="text-muted lead">
                            Join today and launch your first website for free. This is not trial period - your first site is free forever!
                          </p>
                        </div>

                        <form class="py-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                      <input type="text"  class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                      <input type="text"  class="form-control" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-primary mb-4">SIGN UP</button><br />
                                <img src="https://lh3.googleusercontent.com/hlcLdauNL9UiLa3K4wF5ZPNpHzi50R26y61Ahx7oRMbUNgujN-1SmeC_3zG4EHLBH5WnRhQ1ZS19KF_xcWqkTKoENw=s180" />
                            </div>
                        </form>

                      </div>

                    </div>
                </div>
            </div>
        </section>

        <footer class="py-6 bg-light mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Privacy</a></li>
                            <li class="list-inline-item"><a href="#">Terms</a></li>
                            <li class="list-inline-item"><a href="#">Affiliates</a></li>
                            <li class="list-inline-item"><a href="#">Support</a></li>
                            <li class="list-inline-item"><a href="#">Blog</a></li>
                        </ul>
                        <ul class="list-inline social social-dark social-sm">
                            <li class="list-inline-item">
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="https://twitter.com/Vertex3601"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="https://www.youtube.com/channel/UCsJemLfEW2fMTw1y-IGbCdA/videos"><i class="fa fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-muted text-center small-xl">
                        &copy; 2019 Vertex 360 - All Rights Reserved
                    </div>
                </div>
            </div>
        </footer>


        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/js/jquery-3.2.1.min.js"></script>
        <script src="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/js/popper.min.js"></script>
        <script src="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/js/bootstrap.min.js"></script>
        <script src="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/js/feather.min.js"></script>
        <script src="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/js/slick.min.js"></script>
        <script src="https://cdn.turbo360-vertex.com/vertex360-cms-4hujkc/public/snap/js/scripts.js"></script>
    </body>
</html>
