<!DOCTYPE html>
<head>
  {{>head}}
  <style>
    .template-details {
      text-align: right
    }

    .template-details img {
      width: 32px;
      border-radius: 50%;
      margin-left: 4px;
    }
  </style>
</head>

<body>
<div id="wrapper">
  {{>nav}}

<div class="clearfix"></div>

<div id="titlebar" class="gradient padding-top-120">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Templates</h2>
        <span>Grid Layout With Sidebar</span>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">

		<div class="col-md-12">
			<div class="main-search-input gray-style margin-top-0 margin-bottom-30">
				<div class="main-search-input-item">
					<input id="input-search-templates" type="text" placeholder="What are you looking for?" />
				</div>
				<div class="main-search-input-item">
					<select id="select-search-templates" data-placeholder="Select Category" class="chosen-select">
						<option value="featured">Featured</option>
						<option value="resume">Resume</option>
						<option value="landing">Landing Page</option>
						<option value="portfolio">Portfolio</option>
					</select>
				</div>

				<button id="btn-search-templates" class="button">Search</button>
			</div>
		</div>

		<div class="col-md-12">
			<div class="row">

        {{#templates}}
				<div class="col-lg-4 col-md-6">
					<a href="#" class="listing-item-container compact">
						<div class="listing-item">
							<img src="{{{image}}}=s1024" alt="Vertex 360">
							<div class="listing-item-details template-details">
                {{profile.username}}
                <img src="{{{profile.image}}}=s120-c" />
							</div>
							<div class="listing-item-content">
								<h3 style="line-height:22px">{{name}}</h3>
								<span>{{description}}</span>
							</div>
							<span class="like-icon"></span>
						</div>
					</a>
				</div>
        {{/templates}}

			</div>
		</div>

	</div>
</div>



<div id="footer" class="margin-top-80" style="background:#f9f9f9">
	<div class="container">
		<div class="row padding-bottom-40">
			<div class="col-md-6 col-sm-6">
				<img class="footer-logo" src="https://lh3.googleusercontent.com/DacvMRc4I_Zq0hENs6RyqlUcgQqY_jBdcLHvQckcpk3ZecgvzctF9_GnemZE3nCtnWFoY8g5C6gnCmccsMFP7aJi=s140" alt="Vertex 360">
				<br><br>
				<p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
			</div>

			<div class="col-md-3 col-sm-6">
				<ul class="footer-links">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Templates</a></li>
					<li><a href="#">How It Works</a></li>
					<li><a href="#">Terms of Use</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>

			<div class="col-md-3 col-sm-12">
				<div class="text-widget">
					<span>12345 Little Lonsdale St, Melbourne</span> <br>
					Phone: <span>(123) 123-456 </span><br>
					E-Mail:<span> <a href="#">office@example.com</a> </span><br>
				</div>

        <!--
				<ul class="social-icons margin-top-20">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
				</ul> -->
			</div>
		</div>

		<!-- Copyright -->
		<div class="row">
      {{>copyright}}
		</div>
	</div>
</div>
<!-- Footer / End -->

</div>

<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="{{{cdn}}}/dist/js/vendor.min.js"></script>
<script>
  (function(){
    $('#btn-search-templates').click(function(event){
      if (event)
        event.preventDefault()

      const category = $('#select-search-templates').val()
      const tags = $('#input-search-templates').val()

      console.log('SEARCH TEMPLATES: ' + category)
      console.log('SEARCH TEMPLATES: ' + tags)

      $.ajax({
        url: '/api/site?limit=10',
        data: null,
        type: 'GET',
        success: function(response){
          if (response.confirmation != 'success'){
            alert(response.message)
            return
          }

          var templates = response.results
          console.log(JSON.stringify(templates))
        },
        error: function(){

        }
      })
    })
  })()
</script>


</body>
</html>
