#logo img {
  max-width: 160px;
}

#footer-logo {
  max-width: 120px;
}

.listing-item-inner span {
  text-transform: capitalize;
}

.listing-item-inner h3 {
  text-transform: capitalize;
}

.bg-yellow {
  background: #fffffa !important;
}

.profile-row {
  margin-top: 34px;
}

.profile-row span {
  margin-top: 2px;
  font-size: 12px;
}

.profile-icon {
  float: left;
  width: 28px !important;
  border-radius: 50% !important;
  margin-right: 4px;
}

.template-preview {
  max-height: 160px !important;
}

.selected-template h3 {
  margin-top: 20px;
}

.capitalize {
  text-transform: capitalize;
}

.screenshot img {
  max-width: 80%;
  margin-top: 24px;
  border: 1px solid #ddd;
  padding: 6px;
}
