<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{post.title}}</title>
  <meta name="description" content="{{post.preview}}" />

  <meta property="og:title" content="Vertex 360 | {{post.title}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.vertex360.co/post/{{post.slug}}" />
  <meta property="og:image" content="{{{post.image}}}=s260-c" />
  <meta property="og:image:width" content="260px" />
  <meta property="og:image:height" content="260px" />
  <meta property="og:description" content="{{post.preview}}" />

  {{>head}}
</head>
<body>

<body>
  {{>nav}}

<div class="container">
	<div class="row justify-content-between">
		<div class="col-md-12 col-lg-8 offset-lg-2 pt-6 pb-3 pr-6 align-self-center">
			<p class="text-uppercase font-weight-bold">
				<a class="text-danger" href="#">Stories</a>
			</p>
			<h1 style="font-weight:600" class="display-5 mb-3">{{post.title}}</h1>
      {{#post.tagLine}}
			<p class="mb-3">{{post.tagLine}}</p>
      {{/post.tagLine}}
			<div class="d-flex align-items-center">
				<img class="rounded-circle" src="{{{post.author.image}}}=s72-c" width="36">
				<small class="ml-2 text-capitalize">{{post.author.firstName}} {{post.author.lastName}}<span class="text-muted d-block">{{post.dateString}} &middot; 5 min. read</span>
				</small>
			</div>
		</div>
	</div>
  <div class="row justify-content-between">
    <div class="col-md-12 col-lg-8 offset-lg-2 pt-0 pb-4 pr-6 align-self-center">
      <img src="{{{post.image}}}=s750" />
    </div>
  </div>
</div>
<!-- End Header -->

<div class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-2 pr-0 mb-4 col-md-12">
			<div class="sticky-top text-center">
				<div class="text-muted">
					Share
				</div>
				<div class="share d-inline-block">
					<!-- AddToAny BEGIN -->
					<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
						<a class="a2a_button_facebook mb-3"></a>
						<a class="a2a_button_twitter mb-3"></a>
            <a class="a2a_button_linkedin mb-3"></a>
            <a class="a2a_button_reddit"></a>
					</div>
					<script async src="https://static.addtoany.com/menu/page.js"></script>
					<!-- AddToAny END -->
				</div>
			</div>
		</div>

		<div class="col-md-12 col-lg-8">
			<article class="article-post">
        {{{post.text}}}
			</article>
			<div class="border p-5 bg-lightblue">
				<div class="row justify-content-between">
					<div class="col-md-5 mb-2 mb-md-0">
						<h5 class="font-weight-bold secondfont">Become a member</h5>
						 Get the latest news right in your inbox. We never spam!
					</div>
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-12">
								<input type="text" class="form-control" placeholder="Enter your e-mail address">
							</div>
							<div class="col-md-12 mt-2">
								<button type="submit" class="btn btn-success btn-block">Subscribe</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container pt-4 pb-4">
	<h5 class="font-weight-bold spanborder">
    <span>Read next</span>
  </h5>
	<div class="row">
		<div class="col-lg-6">
			<div class="card border-0 mb-4 box-shadow h-xl-300">
				<div style="background-image: url(/img/demo/3.jpg); height: 150px; background-size: cover; background-repeat: no-repeat;">
				</div>
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<a class="text-dark" href="#">Brain Stimulation Relieves Depression Symptoms</a>
					</h2>
					<p class="card-text">
						 Researchers have found an effective target in the brain for electrical stimulation to improve mood in people suffering from depression.
					</p>
					<div>
						<small class="d-block"><a class="text-muted" href="./author.html">Favid Rick</a></small>
						<small class="text-muted">Dec 12 · 5 min read</small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="flex-md-row mb-4 box-shadow h-xl-300">
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/img/demo/blog4.jpg">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="./article.html">Nasa's IceSat space laser makes height maps of Earth</a>
						</h2>
						<div class="card-text text-muted small">
							 Jake Bittle in LOVE/HATE
						</div>
						<small class="text-muted">Dec 12 · 5 min read</small>
					</div>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/img/demo/blog5.jpg">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="./article.html">Underwater museum brings hope to Lake Titicaca</a>
						</h2>
						<div class="card-text text-muted small">
							 Jake Bittle in LOVE/HATE
						</div>
						<small class="text-muted">Dec 12 · 5 min read</small>
					</div>
				</div>
				<div class="mb-3 d-flex align-items-center">
					<img height="80" src="/img/demo/blog6.jpg">
					<div class="pl-3">
						<h2 class="mb-2 h6 font-weight-bold">
						<a class="text-dark" href="./article.html">Sun-skimming probe starts calling home</a>
						</h2>
						<div class="card-text text-muted small">
							 Jake Bittle in LOVE/HATE
						</div>
						<small class="text-muted">Dec 12 · 5 min read</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Main -->

  {{>footer}}
  {{>auth}}
  {{>scripts}}
</body>
</html>
