<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vertex 360</title>
    <meta name="description" content="" />

    <meta property="og:title" content="{{meta.title}}" />
  	<meta property="og:type" content="article" />
  	<meta property="og:url" content="{{{meta.url}}}" />
  	<meta property="og:image" content="{{{meta.image}}}=s260-c" />
  	<meta property="og:image:width" content="260px" />
  	<meta property="og:image:height" content="260px" />
  	<meta property="og:description" content="{{meta.description}}" />


    {{>head}}
    <style>
        .wrapper {
            display: flex;
            width: 100%;
        }
        #sidebar {
            width: 275px;
            position: sticky;
            top: 0;
            left: 0;
            height: 100vh;
            color: #fff;
            transition: all 0.3s;
            background: #f9f9f9;
            border-right: 1px solid #ededed;
            overflow: scroll;
        }
        #sidebar ul li a,
        #sidebar .sidebar-header {
            /* padding-left: 2rem; */
        }
        #sidebar ul li a:hover {
            transition: all 0.2s;
            color: #0000cc;
        }
        #sidebar ul li.active {
            background: #fff;
        }
        #sidebar ul li.active a {
            color: #0000cc;
        }
        #sidebar ul li {
            padding: 16px;
            border-bottom: 1px solid #ededed;
            margin-bottom: 0px !important;
        }
        #content {
            width: calc(100% - 275px);
            min-height: 100vh;
            transition: all 0.3s;
            position: relative;
        }
        #features {
            min-height: 100vh;
        }
        #features .card {
            margin-bottom: 1rem !important;
            height: 300px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
        }
        #features article {
            margin-bottom: 3rem;
        }
        #features article h5 {
            text-align: center;
            font-size: 1.15rem;
        }

        @media (min-width: 820px) {
            #features .container {
                max-width: 93%;
            }
        }

        @media (max-width: 768px) {
            #sidebar {
                width: 200px;
            }
            #content {
                width: 100%;
            }
        }

        @media (max-width: 475px) {
            #sidebar {
                margin-left: 0;
                height: auto;
                width: 100%;
                padding-left: 0;
                padding-top: 7rem;
                transition: all 0.3s;
            }
            .wrapper {
                display: block;
            }
            .sidebar-header h5,
            .list-unstyled {
                text-align: center;
            }
            .list-unstyled {
                margin-bottom: 0;
            }
            #sidebar ul li {
                display: inline-block;
                margin-right: .5rem;
            }
            #sidebar ul li a,
            #sidebar .sidebar-header {
                padding-left: 0;
            }
        }

			.logo {
				width: 160px;
			}

      .icon-avatar {
        border-radius: 50%;
        margin-right: 6px;
        padding: 4px;
        border: 1px solid #56b48c;
      }

      .author-container {
        display: flex;
        border-top: 1px solid #ddd;
        margin-top: 40px;
        padding: 20px 0px
      }

      .author-container h3 {
        text-transform: capitalize;
      }

      .template-header {
        background: #fff;
        padding: 24px;
      }

      .template-header small {
        font-size: 14px;
      }

      .template-header p {
        margin-bottom: 0px;
        line-height: 2.0;
        font-size: 18px;
      }

      .screenshot {
        margin-bottom: 24px;
        max-width: 100%;
        border: 1px solid #ddd;
        padding: 3px;
        background: #fff;
      }

      .bg-green {
        background: #56b48c;
        border-color: #56b48c;
      }

      .btn-get-started {
        width: 100%;
        border-radius: 4px;
        padding: 12px 11em;
      }

      @media (max-width: 768px) {
        .btn-get-started {
          padding: 12px 5.5em;
        }
      }

      h5 {
        text-transform: capitalize;
      }

      .sidebar-link {
        text-decoration: none !important;
      }

      .bg-dark {
        background: #3a3a3a !important;
      }
		</style>
</head>
    <body>
      <nav class="topnav navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <div class="container">
        	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        		<span class="navbar-toggler-icon"></span>
        	</button>
          <ul style="margin:auto" class="navbar-nav d-flex align-items-center">
            <li class="nav-item">
              <a class="navbar-brand" href="/">
                <img style="max-width:160px;margin-bottom:12px" src="https://lh3.googleusercontent.com/pdS5a8pCwrYEp2dbvBPvBxq1WPO57VexjG0fkCNOSw6lIeUNuLK1PAyizKIWEvX6UgFBVQ9OHzbtkQMhvbS57ZRXww=s320" />
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="/about"><span class="mr-2 invisible">&#8226;</span>About</a>
            </li>
            <li class="nav-item" id="nav-login">
              <a class="nav-link text-white" href="#" style="color:#03a87c" href="#" data-toggle="modal" data-target="#login-modal"><span class="mr-2 invisible">&#8226;</span>Sign In</a>
            </li>
            <li class="nav-item highlight ml-4 mr-2" id="login-container">
              <a id="nav-register" style="background:#03a87c;border-radius:5px;color:#fff !important" class="nav-link" href="#" data-toggle="modal" data-target="#register-modal">JOIN VERTEX</a>
            </li>
            <li class="nav-item ml-4">
              <select id="category-select" style="min-width:110px;height:34px;border-radius:3px" class="btn btn-danger">
                <option value="news">News</option>
                <option value="culture">Culture</option>
                <option value="politics">Politics</option>
                <option value="tech">Tech</option>
                <option value="entertainment">Entertainment</option>
                <option value="sports">Sports</option>
              </select>
            </li>
          </ul>
        </div>
      </nav>
      <!-- End Navbar -->


      <div class="wrapper">

          <!-- Sidebar -->
          <nav id="sidebar">
              <ul class="list-unstyled components">
                  {{#threads}}
                  <li style="line-height:20px" id="li-{{id}}">
                      <small style="font-size:12px;color:#ababab">{{subject.dateString}}</small><br />
                      <a href="#" id="{{id}}" class="sidebar-link">{{subject.title}}</a>
                      <br /><br />
                      <a target="_blank" href="{{{site.url}}}"><img class="mr-2" style="border-radius:50%" src="{{{site.image}}}=s28-c" /></a>
                      <a target="_blank" href="{{{site.url}}}" style="color:#333;font-size:14px">{{site.name}}</a>
                  </li>
                  {{/threads}}
              </ul>
          </nav>

          <div id="content">
            <div id="loading-container" class="" style="text-align:center;margin-top:140px">
              <img src="https://storage.turbo360.co/vertex360-cms-4hujkc/loading.gif" />
            </div>
            <iframe id="entity-content-iframe" class="invisible" style="width:100%;height:100vh;border:none"></iframe>
            {{>footer-dark}}
          </div>
      </div>

      {{>auth}}
      <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/vertex-lib.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/popper.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/feather.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/slick.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/scripts.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/auth.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/referrer.js"></script>
      {{#renderAnalytics}}{{>analytics}}{{/renderAnalytics}}

      <script>
        (function(){
          var data = window.__PRELOADED__
          var query = data.query // object
          var threads = data.threads // array
          var threadsMap = data.threadsMap // object
          var selectedIndex = data.selectedIndex // number
          var isLoading = false
          var currentCategory = 'culture'

          var setActive = function(id){
            threads.forEach(function(thread){
              if (thread.id == id)
                $('#li-'+thread.id).addClass('active')
              else
                $('#li-'+thread.id).removeClass('active')
            })
          }

          var reloadUI = function(){
            var selectedThread = threads[selectedIndex]
            setActive(selectedThread.id)
            // var site = selectedThread.site
            var url = 'https://'+selectedThread.site.slug+'.vertex360.co/post/'+selectedThread.subject.slug
            $('#entity-content-iframe').attr('src', url)
          }

          $('#category-select').change(function(e){
            console.log('Category Selected: ' + e.target.value)
            currentCategory = e.target.value

            // Load new set of threads based on category
            window.vertexLib.getRequest('/api/thread?subject.category='+currentCategory, null, function(err, resp){
              if (err){
                console.log('ERR - ' + err)
                return
              }

              if (resp.confirmation != 'success'){
                alert(resp.message)
                return
              }

              // console.log(JSON.stringify(resp.results))
              selectedIndex = 0
              threads = resp.results
              threads.forEach((thread, i) => {
          			// if (thread.subject.slug == req.query.current)
          			// 	selectedIndex = i
          			threadsMap[thread.id] = thread
          			threadsMap[thread.slug] = thread
          		})

              reloadUI()
            })
          })

          var iframe = document.getElementById('entity-content-iframe')
          iframe.onload = function(){
            // console.log('myframe is loaded')
            isLoading = false
            $('#loading-container').addClass('d-none')
            $('#entity-content-iframe').removeClass('invisible')
          }

          // var selectedThread = threads[selectedIndex]
          // setActive(selectedThread.id)
          // var site = selectedThread.site
          // var url = 'https://'+site.slug+'.vertex360.co/post/'+selectedThread.subject.slug
          // $('#entity-content-iframe').attr('src', url)
          reloadUI()

          $('.sidebar-link').each(function(i, link){
            $(this).click(function(event){
              if (event)
                event.preventDefault()

              // something is currently loading, ignore
              if (isLoading == true)
                return

              isLoading = true
              $('#loading-container').removeClass('d-none')
              $('#entity-content-iframe').addClass('invisible')

              var threadId = $(this).attr('id')
              var thread = threadsMap[threadId]
              setActive(threadId)
              // console.log('Select Entity: ' + JSON.stringify(thread))

              var site = thread.site
              var url = 'https://'+site.slug+'.vertex360.co/post/'+thread.subject.slug
              $('#entity-content-iframe').attr('src', url)
              window.history.pushState("string", thread.subject.title, "/feed/"+thread.subject.slug)
            })
          })
        })()
      </script>
    </body>
</html>
