<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vertex 360 | The Easiest Website Builder. Period.</title>
    <meta name="description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />

    <meta property="og:title" content="Vertex 360 | The Easiest Website Builder. Period." />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.vertex360.co" />
    <meta property="og:image" content="https://lh3.googleusercontent.com/ZM_FCvAPcwUXd3NZJNpvA-t8jb4RQkkjVAKNXYk_SQHV155T-W36Ghos9W7iiTyxaiKzXl9Z2XhaABotatD3HomhAQ=s260-c" />
    <meta property="og:image:width" content="260px" />
    <meta property="og:image:height" content="260px" />
    <meta property="og:description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />

    {{>head}}
    <link rel="stylesheet" href="{{{cdn}}}/css/sidebar.css" />
    <style>
      .thread-preview {
        border: 1px solid #ededed;
        border-radius: 6px;
        display: flex
      }

      .thread-preview-img {
        padding: 0px;
      }

      .thread-preview-img img {
        max-width: 220px;
        max-height: 220px;
      }

      .thread-preview-container {
        flex: 1;
        padding: 16px;
      }

      .thread-preview-container small {
        color: #b1b0b0;
        font-size: 12px;
      }

      .thread-preview-container span {
        margin: 6px;
      }

      .thread-preview-container a {
        text-decoration: none;
      }

      .thread-preview-container img {
        border-radius: 50%;
        margin-left: 6px;
        width: 22px;
      }
    </style>
</head>
    <body>
      {{>nav}}

      <div class="wrapper">

          <!-- Sidebar -->
          <nav id="sidebar">
              <div class="sidebar-header">
                  <h5 style="color:#333">Category</h5>
              </div>
              <ul class="list-unstyled components">
                  <li class="active">
                      <a href="#" class="sidebar-link">Recent</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-link">Lifestyle</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-link">Sports</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-link">Politics</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-link">Tech</a>
                  </li>
              </ul>
          </nav>

          <div id="content">
              <!-- features section -->
              <section class="py-5" id="features" style="background:#f9f9f9">
                  <div class="container mt-4">
                      <div class="row">

                        <div id="threads-container" class="col-md-9">
                          {{#threads.recent}}
                          <div class="bg-white mb-4 thread-preview">
                            <div class="thread-preview-img">
                              <a target="_blank" href="{{subject.url}}">
                                <img src="{{subject.image}}=s440-c" />
                              </a>
                            </div>
                            <div class="thread-preview-container">
                              <div class="mb-2" style="text-align:right">
                                <small>{{subject.dateString}}</small>
                                <span>&middot;</span>
                                <a href="/feed/{{subject.slug}}"><small>Comments</small></a>
                                <span>&middot;</span>
                                <a target="_blank" href="{{{site.url}}}"><small>{{site.name}}</small></a>
                                <a target="_blank" href="{{{site.url}}}"><img src="{{{site.image}}}=s44-c" /></a>
                              </div>
                              <a style="color:#333" target="_blank" href="{{{subject.url}}}">
                                <h4>{{subject.title}}</h4>
                              </a>
                              <p><a style="color:#7d7d7d" target="_blank" href="{{{subject.url}}}">{{subject.preview}}</a></p>
                            </div>
                            <div style="width:24px;background:#e8f2ff">
                            </div>
                          </div>
                          {{/threads.recent}}
                        </div>

                      </div>
                  </div>
              </section>
              {{>footer-dark}}
          </div>
      </div>

      {{>auth}}

      <script type="text/template" id="tpl-thread-preview">
        <div class="bg-white mb-4 thread-preview">
          <div class="thread-preview-img">
            <a target="_blank" href="<% subject.url %>">
              <img src="<%{subject.image}%>=s440-c" />
            </a>
          </div>
          <div class="thread-preview-container">
            <div class="mb-2" style="text-align:right">
              <small><% subject.dateString %></small>
              <span>&middot;</span>
              <a href="/feed/<% subject.slug %>"><small>Comments</small></a>
              <span>&middot;</span>
              <a target="_blank" href="<%{site.url}%>"><small><% site.name %></small></a>
              <a target="_blank" href="<%{site.url}%>"><img src="<%{site.image}%>=s44-c" /></a>
            </div>
            <a style="color:#333" target="_blank" href="<%{subject.url}%>">
              <h4><% subject.title %></h4>
            </a>
            <p><a style="color:#7d7d7d" target="_blank" href="<%{subject.url}%>"><% subject.preview %></a></p>
          </div>
          <div style="width:24px;background:#e8f2ff">
          </div>
        </div>
      </script>

      <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/vertex-lib.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/popper.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/feather.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/slick.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/scripts.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/auth.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/referrer.js"></script>

      <script>
        (function(){
          Mustache.tags = ['<%', '%>']
          var data = window.__PRELOADED__
          var threads = data.threads // this is an object
          var currentCategory = 'recent'

          var reloadUI = function(){
            $('.sidebar-link').each(function(i, link){
              var category = $(this).html().toLowerCase()
              if (category != currentCategory)
                $(this).parent().removeClass('active')

              var currentThreads = threads[currentCategory] // array
              if (currentThreads == null)
                return

              var threadsHtml = ''
              var tpl = $('#tpl-thread-preview').html()
              currentThreads.forEach(function(thread, i){
                threadsHtml += Mustache.render(tpl, thread)
              })

              $('#threads-container').html(threadsHtml)
            })
          }

          $('.sidebar-link').each(function(i, link){
            $(this).click(function(e){
              if (e)
                e.preventDefault()

              window.scrollTo(0, 0)

              var category = $(this).html().toLowerCase()
              // console.log('click sidebar: ' + category)
              currentCategory = category
              $(this).parent().addClass('active')

              if (threads[currentCategory] != null){
                reloadUI()
                return
              }

              window.vertexLib.getRequest('/api/thread', null, function(err, resp){
                if (err)
                  return

                if (resp.confirmation != 'success')
                  return

                // var results = resp.results
                console.log(JSON.stringify(resp.results))
                threads[currentCategory] = resp.results
                reloadUI()
              })
            })
          })
        })()
      </script>

    </body>
</html>
