<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vertex 360</title>
    <meta name="description" content="" />

    {{>head}}
    <style>
        .wrapper {
            display: flex;
            width: 100%;
        }
        #sidebar {
            width: 275px;
            position: sticky;
            top: 0;
            left: 0;
            height: 100vh;
            color: #fff;
            transition: all 0.3s;
            background: #f9f9f9;
            border-right: 1px solid #ededed;
            overflow: scroll;
        }
        #sidebar ul li a,
        #sidebar .sidebar-header {
            /* padding-left: 2rem; */
        }
        #sidebar ul li a:hover {
            transition: all 0.2s;
            color: #0000cc;
        }
        #sidebar ul li.active {
            background: #fff;
        }
        #sidebar ul li.active a {
            color: #0000cc;
        }
        #sidebar ul li {
            padding: 16px;
            border-bottom: 1px solid #ededed;
            margin-bottom: 0px !important;
        }
        #content {
            width: calc(100% - 275px);
            min-height: 100vh;
            transition: all 0.3s;
            position: relative;
        }
        #features {
            min-height: 100vh;
        }
        #features .card {
            margin-bottom: 1rem !important;
            height: 300px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
        }
        #features article {
            margin-bottom: 3rem;
        }
        #features article h5 {
            text-align: center;
            font-size: 1.15rem;
        }

        @media (min-width: 820px) {
            #features .container {
                max-width: 93%;
            }
        }

        @media (max-width: 768px) {
            #sidebar {
                width: 200px;
            }
            #content {
                width: 100%;
            }
        }

        @media (max-width: 475px) {
            #sidebar {
                margin-left: 0;
                height: auto;
                width: 100%;
                padding-left: 0;
                padding-top: 7rem;
                transition: all 0.3s;
            }
            .wrapper {
                display: block;
            }
            .sidebar-header h5,
            .list-unstyled {
                text-align: center;
            }
            .list-unstyled {
                margin-bottom: 0;
            }
            #sidebar ul li {
                display: inline-block;
                margin-right: .5rem;
            }
            #sidebar ul li a,
            #sidebar .sidebar-header {
                padding-left: 0;
            }
        }

			.logo {
				width: 160px;
			}

      .icon-avatar {
        border-radius: 50%;
        margin-right: 6px;
        padding: 4px;
        border: 1px solid #56b48c;
      }

      .author-container {
        display: flex;
        border-top: 1px solid #ddd;
        margin-top: 40px;
        padding: 20px 0px
      }

      .author-container h3 {
        text-transform: capitalize;
      }

      .template-header {
        background: #fff;
        padding: 24px;
      }

      .template-header small {
        font-size: 14px;
      }

      .template-header p {
        margin-bottom: 0px;
        line-height: 2.0;
        font-size: 18px;
      }

      .screenshot {
        margin-bottom: 24px;
        max-width: 100%;
        border: 1px solid #ddd;
        padding: 3px;
        background: #fff;
      }

      .bg-green {
        background: #56b48c;
        border-color: #56b48c;
      }

      .btn-get-started {
        width: 100%;
        border-radius: 4px;
        padding: 12px 11em;
      }

      @media (max-width: 768px) {
        .btn-get-started {
          padding: 12px 5.5em;
        }
      }

      h5 {
        text-transform: capitalize;
      }

      .sidebar-link {
        text-decoration: none !important;
      }

      .bg-dark {
        background: #3a3a3a !important;
      }
		</style>
</head>
    <body>
      <nav class="topnav navbar navbar-expand-lg navbar-light bg-dark fixed-top">
      <div class="container">
      	<a class="navbar-brand" href="/">
      		<img style="max-width:160px" src="https://lh3.googleusercontent.com/pdS5a8pCwrYEp2dbvBPvBxq1WPO57VexjG0fkCNOSw6lIeUNuLK1PAyizKIWEvX6UgFBVQ9OHzbtkQMhvbS57ZRXww=s320" />
      	</a>
      	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
      	</button>
      	<div class="navbar-collapse collapse" id="navbarColor02" style="">
      		<ul class="navbar-nav ml-auto d-flex align-items-center">
      			<li class="nav-item">
      				<a class="nav-link text-white" href="/posts?category=culture">Culture</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link text-white" href="/posts?category=fashion">Fashion</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link text-white" href="/posts?category=tech">Tech</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link text-white" href="/about">About</a>
      			</li>
      			<li class="nav-item" id="nav-login">
      				<a class="nav-link text-white" href="#" style="color:#03a87c" href="#" data-toggle="modal" data-target="#login-modal">Sign In</a>
      			</li>
      			<li class="nav-item highlight ml-4" id="login-container">
      				<a id="nav-register" style="background:#03a87c;color:#fff !important" class="nav-link" href="#" data-toggle="modal" data-target="#register-modal">JOIN VERTEX</a>
      			</li>
      		</ul>
      	</div>
      </div>
      </nav>
      <!-- End Navbar -->


      <div class="wrapper">

          <!-- Sidebar -->
          <nav id="sidebar">
              <ul class="list-unstyled components">
                  {{#threads}}
                  <li id="li-{{id}}">
                      <a href="#" id="{{id}}" class="sidebar-link">{{subject.title}}</a>
                  </li>
                  {{/threads}}
              </ul>
          </nav>

          <div id="content">
            <iframe id="entity-content" style="width:100%;height:100vh;border:none"></iframe>
            {{>footer-dark}}
          </div>
      </div>

      <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content" style="border-radius:4px">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input id="input-login-email" style="background:#fffffa" class="form-control mb-4" type="text" placeholder="Email" />
              <input id="input-login-password" style="background:#fffffa" class="form-control mb-4" type="password" placeholder="Password" />
              <button id="input-login" style="width:100%" type="button" class="btn btn-primary btn-lg">Login</button>
              <hr />
            </div>
            <div class="text-center" style="padding:1.5rem">
              <img style="width:160px" src="https://lh3.googleusercontent.com/hlcLdauNL9UiLa3K4wF5ZPNpHzi50R26y61Ahx7oRMbUNgujN-1SmeC_3zG4EHLBH5WnRhQ1ZS19KF_xcWqkTKoENw=s320" />
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/vertex-lib.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/popper.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/feather.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/slick.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/scripts.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/auth.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/referrer.js"></script>
      {{#renderAnalytics}}{{>analytics}}{{/renderAnalytics}}

      <script>
        (function(){
          var data = window.__PRELOADED__
          var query = data.query
          var threads = data.threads
          var threadsMap = {}

          var selectedIndex = 0
          threads.forEach(function(thread, i){
            if (thread.subject.slug == query.current)
              selectedIndex = i

            threadsMap[thread.id] = thread
            threadsMap[thread.slug] = thread
          })

          var setActive = function(id){
            threads.forEach(function(thread){
              if (thread.id == id){
                $('#li-'+thread.id).addClass('active')
              }
              else {
                $('#li-'+thread.id).removeClass('active')
              }
            })
          }

          var selectedThread = threads[selectedIndex]
          setActive(selectedThread.id)
          var site = selectedThread.site
          var url = 'https://'+site.slug+'.vertex360.co/post/'+selectedThread.subject.slug
          $('#entity-content').attr('src', url)

          $('.sidebar-link').each(function(i, link){
            $(this).click(function(event){
              if (event)
                event.preventDefault()

              var threadId = $(this).attr('id')
              var thread = threadsMap[threadId]
              setActive(threadId)
              console.log('Select Entity: ' + JSON.stringify(thread))

              var site = thread.site
              var url = 'https://'+site.slug+'.vertex360.co/post/'+thread.subject.slug
              $('#entity-content').attr('src', url)
              window.history.pushState("string", thread.subject.title, "/?current="+thread.subject.slug)
            })
          })
        })()
      </script>
    </body>
</html>
