<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vertex 360 | The Easiest Website Builder. Period.</title>
    <meta name="description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />

    <meta property="og:title" content="Vertex 360 | The Easiest Website Builder. Period." />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.vertex360.co" />
    <meta property="og:image" content="https://lh3.googleusercontent.com/ZM_FCvAPcwUXd3NZJNpvA-t8jb4RQkkjVAKNXYk_SQHV155T-W36Ghos9W7iiTyxaiKzXl9Z2XhaABotatD3HomhAQ=s260-c" />
    <meta property="og:image:width" content="260px" />
    <meta property="og:image:height" content="260px" />
    <meta property="og:description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />

    {{>head}}
    <link rel="stylesheet" href="{{{cdn}}}/css/sidebar.css" />
</head>
    <body>
      {{>nav}}

      <div class="wrapper">

          <!-- Sidebar -->
          <nav id="sidebar">
              <div class="sidebar-header">
                  <h5 style="color:#333">Features</h5>
              </div>
              <ul class="list-unstyled components">
                  <li class="active">
                      <a href="#" class="sidebar-link">Recent</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-link">Lifestyle</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-link">Sports</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-link">Politics</a>
                  </li>
              </ul>
          </nav>

          <div id="content">
              <!-- features section -->
              <section class="py-5" id="features" style="background:#f9f9f9">
                  <div class="container mt-4">
                      <div class="row">

                        <div class="col-md-9">
                          {{#threads}}
                            <div class="bg-white mb-4" style="border:1px solid #ededed;border-radius:6px;display:flex">
                              <div style="text-align:right">
                                <small style="color:#b1b0b0">{{subject.dateString}}</small>
                                <span style="margin:6px">&middot;</span>
                                <small style="color:#b1b0b0">{{site.name}}</small>
                                <img style="margin-left:6px;width:24px;border-radius:50%" src="{{{site.image}}}=s48-c" />
                              </div>
                              <div style="padding:16px 0px 16px 16px">
                                <img style="max-width:150px;max-height:150px" src="{{subject.image}}=s300-c" />
                              </div>
                              <div style="flex:1;padding:16px">
                                <h4>{{subject.title}}</h4>
                                <p>{{subject.preview}}</p>
                              </div>
                              <div style="width:24px;background:#e8f2ff">
                              </div>
                            </div>
                          {{/threads}}
                        </div>

                      </div>
                  </div>
              </section>
              {{>footer-dark}}
          </div>
      </div>

      {{>auth}}

      <div class="modal fade" id="template-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width:960px" role="document">
          <div class="modal-content" style="border-radius:4px">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Launch Site</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="template-modal-content" class="modal-body" style="display:flex"></div>
            <div class="text-left" style="padding:1.5rem;border-top:1px solid #ededed">
              <input id="input-site-name" type="text" class="form-control mr-3" placeholder="Your Site Name" style="display:initial;width:290px;height:48px;padding-top:2px;background:#fffffa" />
              <div style="display:inline-block" id="btn-launch-container"><button id="btn-launch-template" type="button" class="btn btn-primary btn-lg mr-2">LAUNCH SITE</button></div>
            </div>
          </div>
        </div>
      </div>

      <script type="text/template" id="tpl-modal">
        <div class="modal-body" style="display:flex">
          <div style="flex:1">
            <div class="mb-2">
              <img src="<% image %>=s282-c" />
            </div>
            <div>
              <%#images%>
              <img class="preview-image" src="<% . %>=s50-c" />
              <%/images%>
            </div>
          </div>
          <div style="flex:2">
            <a target="_blank" style="float:right" href="https://<% url %>" class="btn btn-sm btn-danger">Live Example</a>
            <h3><% name %></h3>
            <p><%{description}%></p>
            <h4 class="mb-0">Includes</h4>
            <ol style="padding-left:16px">
              <li>YouTube Transcriptions</li>
              <li>Podcast Player</li>
              <li>Instagram Gallery</li>
              <li>Blog</li>
              <li>Email Subscribers</li>
            </ol>
          </div>
        </div>
      </script>

      <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/vertex-lib.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/popper.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/feather.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/slick.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/scripts.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/auth.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/referrer.js"></script>

    </body>
</html>
