<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vertex 360 | The Easiest Website Builder. Period.</title>
    <meta name="description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />

    <meta property="og:title" content="Vertex 360 | The Easiest Website Builder. Period." />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.vertex360.co" />
    <meta property="og:image" content="https://lh3.googleusercontent.com/ZM_FCvAPcwUXd3NZJNpvA-t8jb4RQkkjVAKNXYk_SQHV155T-W36Ghos9W7iiTyxaiKzXl9Z2XhaABotatD3HomhAQ=s260-c" />
    <meta property="og:image:width" content="260px" />
    <meta property="og:image:height" content="260px" />
    <meta property="og:description" content="Vertex 360 is a powerful, fully featured, easy website builder made for busy people. Create your website in under an hour by selecting one of our professional templates and simply updating it with your content. No more messing with confusing editors, drag & drop tools, or ridiculously complicated features for 'beginners'. On Vertex 360, simply input your text and images and move on with your life, business, family - the important stuff." />

    {{>head}}
    <link rel="stylesheet" href="{{{cdn}}}/css/sidebar.css" />
    <style>
      .thread-preview {
        border: 1px solid #ededed;
        border-radius: 6px;
        display: flex
      }

      .thread-preview-img {
        padding: 0px;
        width: 230px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
      }

      .thread-preview-img img {
        /* max-width: 220px;
        max-height: 220px; */
        width: 100%;
        height: 100%;
        max-height: 230px;
        opacity:0;
      }

      .thread-preview-container {
        flex: 1;
        padding: 16px;
      }

      .thread-preview-container small {
        color: #b1b0b0;
        font-size: 12px;
      }

      .thread-preview-container span {
        margin: 6px;
      }

      .thread-preview-container a {
        text-decoration: none;
      }

      .thread-preview-container img {
        border-radius: 50%;
        margin-left: 6px;
        width: 22px;
      }

      @media (max-width: 568px) {
        .thread-preview-img {
          display: none;
        }

        #sidebar {
          padding-top: 1rem;
        }

        #features {
          padding-top: 1px !important;
        }
      }

    </style>
</head>
    <body>
      {{>nav}}

      <div class="wrapper">

          <!-- Sidebar -->
          <nav id="sidebar">
              <div class="sidebar-header">
                  <h5 style="color:#333">Category</h5>
              </div>
              <ul class="list-unstyled components">
                  <li class="active">
                      <a href="#" class="sidebar-link">Recent</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-link">Culture</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-link">Sports</a>
                  </li>
                  <li>
                      <a href="#" class="sidebar-link">Tech</a>
                  </li>
              </ul>
          </nav>

          <div id="content">
              <!-- features section -->
              <section class="py-5" id="features" style="background:#f9f9f9">
                  <div class="container mt-4">
                      <div class="row">

                        <div id="threads-container" class="col-md-9">
                          {{#threads.recent}}
                          <div id="{{slug}}" class="bg-white mb-4 thread-preview">
                            <div class="thread-preview-img" style="background: url('{{{subject.image}}}')">
                              <a target="_blank" href="{{subject.url}}">
                                <img src="{{subject.image}}" />
                              </a>
                            </div>
                            <div class="thread-preview-container">
                              <div class="mb-2" style="text-align:right">
                                <small style="text-transform:capitalize">{{subject.category}}</small>
                                <span>&middot;</span>
                                <small>{{subject.dateString}}</small>
                                <span>&middot;</span>
                                <a href="/feed/{{slug}}"><small>Comments</small></a>
                                {{#site.id}}
                                <span>&middot;</span>
                                <a target="_blank" href="{{{site.url}}}"><small>{{site.name}}</small></a>
                                <a target="_blank" href="{{{site.url}}}"><img src="{{{site.image}}}=s44-c" /></a>
                                {{/site.id}}
                              </div>
                              <a style="color:#333" target="_blank" href="{{{subject.url}}}">
                                <h4>{{subject.title}}</h4>
                              </a>
                              <p><a style="color:#7d7d7d" target="_blank" href="{{{subject.url}}}">{{subject.preview}}</a></p>
                            </div>
                            <div style="width:24px;background:#e8f2ff">
                            </div>
                          </div>
                          {{/threads.recent}}
                        </div>

                        <div class="col-md-3">

                          <div class="modal-content" style="border-radius:4px;margin:auto">
                            <div class="modal-header">
                              <h5 class="modal-title">Submit Link</h5>
                            </div>
                            <div class="modal-body">
                              <input id="input-thread-url" style="background:#f9f9f9;border:none;padding:4px" class="form-control mb-3" type="text" placeholder="URL">
                              <input id="input-thread-title" style="background:#f9f9f9;border:none;padding:4px" class="form-control mb-3" type="text" placeholder="Title">
                              <textarea id="input-thread-description" style="background:#f9f9f9;border:none;padding:4px;resize: none;" rows="4" class="form-control mb-3" placeholder="Description"></textarea>
                              <select id="input-thread-category">
                                <option value="sports">Sports</option>
                                <option value="culture">Culture</option>
                              </select>
                              <div id="preview-image-container" style="margin-top:12px"></div>
                              <button id="btn-submit-thread" style="width:100%" type="button" class="btn btn-primary btn-lg mb-3 mt-4">Submit</button>
                              <div id="loading-indicator" style="text-align:center"></div>
                            </div>
                          </div>
                        </div>

                      </div>
                  </div>
              </section>
              {{>footer-dark}}
          </div>
      </div>

      {{>auth}}

      <script type="text/template" id="tpl-thread-preview">
        <div id="<%slug%>" class="bg-white mb-4 thread-preview">
          <div class="thread-preview-img" style="background: url('<%{subject.image}%>')">
            <a target="_blank" href="<% subject.url %>">
              <img src="<%{subject.image}%>" />
            </a>
          </div>
          <div class="thread-preview-container">
            <div class="mb-2" style="text-align:right">
              <small style="text-transform:capitalize"><% subject.category %></small>
              <span>&middot;</span>
              <small><% subject.dateString %></small>
              <span>&middot;</span>
              <a href="/feed/<% slug %>"><small>Comments</small></a>
              <%#site.id%>
              <span>&middot;</span>
              <a target="_blank" href="<%{site.url}%>"><small><% site.name %></small></a>
              <a target="_blank" href="<%{site.url}%>"><img src="<%{site.image}%>=s44-c" /></a>
              <%/site.id%>
            </div>
            <a style="color:#333" target="_blank" href="<%{subject.url}%>">
              <h4><% subject.title %></h4>
            </a>
            <p><a style="color:#7d7d7d" target="_blank" href="<%{subject.url}%>"><% subject.preview %></a></p>
          </div>
          <div style="width:24px;background:#e8f2ff">
          </div>
        </div>
      </script>

      <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/vertex-lib.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/popper.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/feather.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/slick.min.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/snap/js/scripts.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/referrer.js"></script>

      <script>
        (function(){
          Mustache.tags = ['<%', '%>']
          var data = window.__PRELOADED__
          var query = data.query
          var user = data.user
          var threads = data.threads // this is an object
          var currentCategory = 'recent'

          var formattedDate = function(date){
            var options = {year:'numeric', month:'long', day:'numeric'}
            if (date == null)
              date = new Date()

            return date.toLocaleDateString('en-US', options) // Monday, May 6, 2019
          }

          var reloadUI = function(){
            $('.sidebar-link').each(function(i, link){
              var category = $(this).html().toLowerCase()
              if (category != currentCategory)
                $(this).parent().removeClass('active')

              var currentThreads = threads[currentCategory] // array
              if (currentThreads == null)
                return

              var threadsHtml = ''
              var tpl = $('#tpl-thread-preview').html()
              currentThreads.forEach(function(thread, i){
                threadsHtml += Mustache.render(tpl, thread)
              })

              $('#threads-container').html(threadsHtml)
            })
          }

          $('.sidebar-link').each(function(i, link){
            $(this).click(function(e){
              if (e)
                e.preventDefault()

              window.scrollTo(0, 0)

              var category = $(this).html().toLowerCase()
              // console.log('click sidebar: ' + category)
              currentCategory = category
              $(this).parent().addClass('active')

              if (threads[currentCategory] != null){
                reloadUI()
                return
              }

              window.vertexLib.getRequest('/api/thread', null, function(err, resp){
                if (err)
                  return

                if (resp.confirmation != 'success')
                  return

                // var results = resp.results
                console.log(JSON.stringify(resp.results))
                threads[currentCategory] = resp.results
                reloadUI()
              })
            })
          })

          $('#input-thread-url').change(function(){
            var url = $(this).val()
            if (url.indexOf('http') == -1){
              alert('Invalid URL. Copy & paste url from browser.')
              return
            }

            $('#btn-submit-thread').css('display', 'none')
            $('#loading-indicator').html('<img style="width:30%" src="https://storage.turbo360.co/vertex360-cms-4hujkc/loader.gif" />')
            window.vertexLib.getRequest('/account/scrape', {url:url}, function(err, resp){
              if (err){
                console.log('ERR - ' + err)
                return
              }

              if (resp.confirmation != 'success'){
                console.log('ERR - ' + resp.message)
                return
              }

              var meta = resp.data
              console.log(JSON.stringify(meta))
              // {title: '', description:'', image:'', url:''}
              // {"title":"Daniel Jones has given Eli Manning no room to fail","url":"https://nypost.com/2019/08/23/daniel-jones-has-given-eli-manning-no-room-to-fail/","description":"We hold these truths to be self-evident: Eli Manning was not brought back to be a $23.2 million backup quarterback. You don’t draft a quarterback with the sixth pick to sit him. “Eli ‘s our starter…","image":"https://thenypost.files.wordpress.com/2019/08/djones.jpg?quality=90&strip=all&w=1200"}
              $('#input-thread-description').val(meta.description)
              $('#input-thread-title').val(meta.title)
              $('#preview-image-container').html('<img id="thread-image" style="max-width:100%" src="'+meta.image+'" />')

              $('#btn-submit-thread').css('display', '')
              $('#loading-indicator').html('')
            })
          })

          $('#btn-submit-thread').click(function(event){
            if (user == null){
              alert('Please login or register to submit.')
              return
            }

            var subject = {
              // id: '',
              // slug: '',
              // schema: '',
              dateString: formattedDate(),
              title: $('#input-thread-title').val(),
              image: $('#thread-image').attr('src'),
              url: $('#input-thread-url').val(),
              preview: $('#input-thread-description').val(),
              category: $('#input-thread-category').val()
            }

            if (subject.title.length == 0){
              alert('Please enter a TITLE')
              return
            }

            if (subject.url.length == 0){
              alert('Please enter a URL')
              return
            }

            var thread = {
              slug: '',
              subject: JSON.stringify(subject),
              profile: JSON.stringify({
                id: user.id,
                slug: user.slug,
                username: user.username,
                image: user.image
              })
            }

            console.log('SUBMIT THREAD: ' + JSON.stringify(thread))
            window.vertexLib.postRequest('/api/thread', thread, function(err, resp){
              if (err){
                alert('Error - ' + err)
                return
              }

              if (resp.confirmation != 'success'){
                alert('Error - ' + resp.message)
                return
              }

              console.log('THREAD CREATED: ' + JSON.stringify(resp.result))
              // var category = resp.result.subject.category
              var recentThreads = threads['recent']
              recentThreads.unshift(resp.result)

              currentCategory = 'recent'
              window.scrollTo(0,0)
              reloadUI()
            })
          })

          console.log('QUERY: ' + JSON.stringify(query))
          if (query.selected == null)
            return

          var selected = query.selected // thread slug
          if (document.getElementById(selected)==null)
            return

          var scrollToTargetAdjusted = function(id, offset){
            var element = document.getElementById(id)
            var elementPosition = element.getBoundingClientRect().top
            var offsetPosition = elementPosition - offset
            window.scrollTo({top:offsetPosition, behavior:'smooth'})
          }

          setTimeout(function(){
            // console.log('selected == '+ selected)
            scrollToTargetAdjusted(selected, 95)
          }, 400)

        })()
      </script>

      <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/googleauth.js"></script>
      <script type="text/javascript" src="{{{cdn}}}/scripts/auth.js"></script>
    </body>
</html>
