<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vertex 360</title>
  <meta name="description" content="" />
  {{>head}}
</head>

<body>
  {{>nav}}

<div class="container">
	<div style="background-position: 50%;background-image:url('https://lh3.googleusercontent.com/1arnINnEBE0l1OwBhY3UcyAPYvG7zlFVlS3iXbarnAjKeWTRk_vJTQLkhAMpcpxP-PuRP1F3WvNs84_1Mo310m_MNkM=s1024');" class="jumbotron jumbotron-fluid mb-3 pt-0 mt-4 pb-0 pr-0 pl-0 position-relative">
		<div class="pl-4 pr-4 h-100 tofront" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.65));">
			<div class="row justify-content-between" style="padding-top:96px">
				<div class="col-md-12 pt-6 pb-4 align-self-center">
					<h1 class="secondfont mb-3 font-weight-bold" style="color:#f3f3f3">
            <a style="color:#f3f3f3;text-decoration:none" href="#">Service Business Website Must Haves</a>
          </h1>
					<p class="mb-0 lead">
            <a style="color:#f3f3f3;text-decoration:none" href="#">If you have a service business, there a couple key pages that your website needs. Amongst all service-based businesses, no matter what niche they are in, there are certain pages that are crucial to th...</a><a style="text-decoration:none" href="#">read more</a>
					</p>
				</div>
			</div>
		</div>
	</div>

  </div>
</div>
<!-- End Header -->


<div class="container pt-4 pb-4">
	<div class="row justify-content-between">
		<div class="col-md-8">
			<h5 class="font-weight-bold spanborder"><span>Recent</span></h5>

      {{#posts}}
			<div class="mb-5 d-flex justify-content-between post-preview">
				<div class="pr-4">
					<h2 class="mb-1 h4">
						<a class="text-dark" href="/post/{{slug}}">{{title}}</a>
					</h2>
					<p class="text-muted">{{preview}}</p>
					<div class="card-text text-muted small">
							<img class="mr-2" style="border-radius:50%" src="{{{author.image}}}=s28-c" />
						 	<span class="text-capitalize">{{author.firstName}} {{author.lastName}}</span>
							<span style="margin:6px">&middot;</span>
							{{dateString}}
							<span style="margin:6px">&middot;</span>
							<a href="#">Comments</a>
					</div>
				</div>
				<a href="/post/{{slug}}">
					<img src="{{{image}}}=s220-c">
				</a>
			</div>
      {{/posts}}

		</div>
		<div class="col-md-4 pl-4">
      <div class="sticky-top">
        <h5 class="font-weight-bold spanborder"><span>About</span></h5>
        <div style="padding:24px;background:#dedafb">
          <h2>Build Your Brand</h2>
          <div class="text-center mb-4 mt-3">
            <img style="max-width:200px" src="https://lh3.googleusercontent.com/uFcvuH_Yifl0PaAMqcNIvuUqXl67M2hc54S523D1pwceSWrphPExoGe2rhPauCNjTgxzVQWSUolQTNeoow4m9mK5ibI" />
          </div>
          <p>Vertex 360 is a platform for content creators in the modern media age. Whether you manage a YouTube channel, podcast, blog, Instagram folowing, or all of the above, Vertex 360 provides the best way to deliver your content under a unified, coherent brand that you control.</p>
          <a href="/about" class="btn btn-danger w-100">Learn More</a>
        </div>
      </div>

		</div>
	</div>
</div>
  {{>footer}}
  {{>auth}}
  {{>scripts}}
</body>
</html>
