<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="apple-touch-icon" href="{{{cdn}}}/mobili/images/apple-touch-icon.png" />
  <link rel="apple-touch-startup-image" href="{{{cdn}}}/mobili/images/apple-touch-startup-image-640x920.png">
  <title>Vertex 360</title>
  <meta name="description" content="{{meta.description}}" />

  <link rel="stylesheet" href="{{{cdn}}}/mobili/css/swiper.css" />
  <link rel="stylesheet" href="{{{cdn}}}/mobili/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900" rel="stylesheet">

  <style>
    .selected {
      background:#fff;
    }

  </style>
</head>

<body id="mobile_wrap">
    <div id="panel-overlay" class="panel-overlay"></div>

    <div id="panel-left" class="panel panel-left panel-reveal">
                  <!-- Slider -->
                 <div class="swiper-container-subnav multinav">
                    <div class="swiper-wrapper">
			<div class="swiper-slide" style="background:#c8c8c8;">
        <div class="subnav_header" style="border-bottom:1px solid #ddd">
          <span>Recent Stories</span>
          <select id="category-select" style="float:right;margin-top:8px">
            <option value="news">News</option>
            <option value="culture">Culture</option>
            <option value="politics">Politics</option>
            <option value="tech">Tech</option>
            <option value="entertainment">Entertainment</option>
            <option value="sports">Sports</option>
          </select>
        </div>
				<nav style="width:100%;background:#f1f7f8;padding:0px !important;" class="main_nav_underline">
  				<ul style="width:100%">

            {{#threads}}
            <li id="li-{{id}}" style="border-bottom:1px solid #ddd;width:100%;padding:0px;margin:0px">
              <div style="display:flex;padding:12px">
                <a id="{{id}}" class="sidebar-link" style="flex:1;color:#333;font-weight:400;font-size:15px" href="#">
                  <img style="width:64px;height:64px;max-width:100%;margin-right:12px;border-radius:4px" src="{{{subject.image}}}=s128-c" alt="Vertex 360" />
                  {{subject.title}}
                </a>
              </div>
              <div style="font-size:12px;height:22px;text-align:right;">
                <a target="_blank" href="{{{site.url}}}">
                  <img style="border-radius:50%;margin-left:8px;margin-bottom:9px;float:right" src="{{{site.image}}}=s28-c" />
                  <span style="float:initial;display:inline-block;margin-top:6px">{{subject.dateString}} | {{site.name}}</span>
                </a>
              </div>
            </li>
            {{/threads}}
  				</ul>
				</nav>
			</div>

		    </div>
		</div>
    </div>

    <div class="panel panel-right panel-reveal">
      <div class="user_login_info">
        <div style="padding:12px;background:#f9f9f9">
          <div id="comment-header"></div>
          <textarea style="margin-top:0px;width:100%;border:none;border-radius:0px;background:#fff" rows="4"></textarea>
          <button style="width:100%;border-radius:0px;border:none;background:#43603e;padding:9px;color:#fff;">Submit</button>
        </div>

        <div>
          This is the comments section
        </div>

      </div>
    </div>

    <div class="views">

      <div class="view view-main">
<div class="pages">
  <div data-page="team" class="page">
    <div class="page-content">

		<div style="background:#333;" class="navbar navbar--fixed navbar--fixed-top navbar--bg">
			<div class="navbar__col navbar__col--icon navbar__col--icon-left">
				<a id="btn-menu-toggle" href="#" data-panel="left" class="open-panel"><img src="{{{cdn}}}/mobili/images/icons/white/menu.png" alt="Vertex 360" /></a>
			</div>
      <div class="navbar__col navbar__col--title" style="text-align:center">
				<a href="/"><img style="width:140px;margin-top:6px" src="https://lh3.googleusercontent.com/pdS5a8pCwrYEp2dbvBPvBxq1WPO57VexjG0fkCNOSw6lIeUNuLK1PAyizKIWEvX6UgFBVQ9OHzbtkQMhvbS57ZRXww=s280" /></a>
			</div>
      <div class="navbar__col navbar__col--icon navbar__col--icon-right">
				<a id="btn-nav-comments" href="#" data-panel="right" class="open-panel"><img src="{{{cdn}}}/mobili/images/icons/white/message.png" alt="Vertex 360" /></a>
			</div>

    </div>

     <div id="pages_maincontent">
       <div id="loading-container" class="" style="text-align:center;margin-top:120px">
         <img style="width:50%;margin:auto" src="https://storage.turbo360.co/vertex360-cms-4hujkc/loading.gif" />
       </div>

       <iframe id="entity-content-iframe" class="invisible" style="width:100%;height:100vh;border:none"></iframe>
     </div>

    </div>
  </div>
</div>

         </div>
    </div>

    <!-- Login Popup -->
    <div class="popup popup-login">
        <div class="content-block">
            <h4>LOGIN</h4>
            <div class="loginform">
                <form id="LoginForm" method="post">
                    <input type="text" name="Username" value="" class="form_input required" placeholder="username" />
                    <input type="password" name="Password" value="" class="form_input required" placeholder="password" />
                    <div class="forgot_pass"><a href="#" data-popup=".popup-forgot" class="open-popup">Forgot Password?</a></div>
                    <input type="submit" name="submit" class="form_submit" id="submit" value="SIGN IN" />
                </form>
                <div class="signup_bottom">
                    <p>Don't have an account?</p>
                    <a href="#" data-popup=".popup-signup" class="open-popup">SIGN UP</a>
                </div>
            </div>
            <div class="close_popup_button">
                <a href="#" class="close-popup" data-popup=".popup-login"><img src="{{{cdn}}}/mobili/images/icons/black/menu_close.png" alt="Vertex 360" /></a>
            </div>
        </div>
    </div>

    <!-- Register Popup -->
    <div class="popup popup-signup">
        <div class="content-block">
            <h4>REGISTER</h4>
            <div class="loginform">
                <form id="RegisterForm" method="post">
                    <input type="text" name="Username" value="" class="form_input required" placeholder="Username" />
                    <input type="text" name="Email" value="" class="form_input required" placeholder="Email" />
                    <input type="password" name="Password" value="" class="form_input required" placeholder="Password" />
                    <input type="submit" name="submit" class="form_submit" id="submitregister" value="SIGN UP" />
                </form>
            </div>
            <div class="close_popup_button">
                <a href="#" class="close-popup" data-popup=".popup-signup"><img src="{{{cdn}}}/mobili/images/icons/black/menu_close.png" alt="Vertex 360" /></a>
            </div>
        </div>
    </div>


    <!-- Social Icons Popup -->
    <div class="popup popup-social">
    <div class="content-block">
      <h4>Social Share</h4>
      <p>Share icons solution that allows you share and increase your social popularity.</p>
      <ul class="social_share">
      <li><a href="http://twitter.com/"><img src="{{{cdn}}}/mobili/images/icons/black/twitter.png" alt="Vertex 360" /><span>TWITTER</span></a></li>
      <li><a href="http://www.facebook.com/"><img src="{{{cdn}}}/mobili/images/icons/black/facebook.png" alt="Vertex 360" /><span>FACEBOOK</span></a></li>
      <li><a href="http://plus.google.com"><img src="{{{cdn}}}/mobili/images/icons/black/gplus.png" alt="Vertex 360" /><span>GOOGLE</span></a></li>
      <li><a href="http://www.dribbble.com/"><img src="{{{cdn}}}/mobili/images/icons/black/dribbble.png" alt="Vertex 360" /><span>DRIBBBLE</span></a></li>
      <li><a href="http://www.linkedin.com/"><img src="{{{cdn}}}/mobili/images/icons/black/linkedin.png" alt="Vertex 360" /><span>LINKEDIN</span></a></li>
      <li><a href="http://www.pinterest.com/"><img src="{{{cdn}}}/mobili/images/icons/black/pinterest.png" alt="Vertex 360" /><span>PINTEREST</span></a></li>
      </ul>
      <div class="close_popup_button"><a href="#" class="close-popup" data-popup=".popup-social"><img src="{{{cdn}}}/mobili/images/icons/black/menu_close.png" alt="Vertex 360" /></a></div>
    </div>
    </div>

    <script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
    <script type="text/javascript" src="{{{cdn}}}/scripts/vertex-lib.js"></script>
    <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>
    <script type="text/javascript" src="{{{cdn}}}/mobili/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{{{cdn}}}/mobili/js/jquery.validate.min.js" ></script>
    <script type="text/javascript" src="{{{cdn}}}/mobili/js/swiper.min.js"></script>
    <script type="text/javascript" src="{{{cdn}}}/mobili/js/jquery.custom.js"></script>

    <script>
      (function(){
        Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side
        var data = window.__PRELOADED__
        var query = data.query // object
        var threads = data.threads // array
        var threadsMap = data.threadsMap // object
        var selectedIndex = data.selectedIndex // number
        var showSidebar = data.showSidebar
        var isLoading = false

        var iframe = document.getElementById('entity-content-iframe')
        iframe.onload = function(){
          // console.log('myframe is loaded')
          isLoading = false
          $('#loading-container').css('display', 'none')
          $('#entity-content-iframe').css('display', '')

          var selectedThread = threads[selectedIndex]
          if (selectedThread==null){
            return
          }

          var header = '<h4 style="margin-bottom:8px;padding:0px">'+selectedThread.subject.title+'</h4>'
          $('#comment-header').html(header)
        }

        $('#category-select').change(function(e){
          console.log('Category Selected: ' + e.target.value)
          var viewportmeta = document.querySelector('meta[name="viewport"]')

          viewportmeta.setAttribute('content', "width=device-width, initial-scale=0")
          console.log(document.querySelector('meta[name="viewport"]'))
        })

        var setActive = function(id){
          threads.forEach(function(thread){
            if (thread.id == id)
              $('#li-'+thread.id).addClass('selected')
            else
              $('#li-'+thread.id).removeClass('selected')
          })
        }

        var connectSidebar = function(){
          $('.sidebar-link').each(function(i, link){
            $(this).click(function(event){
              if (event)
                event.preventDefault()

              console.log('Click Article Link')

              // this slides the main view back and hides sidebar:
              $('#mobile_wrap').attr('class', 'panel-closing')
              $('#panel-overlay').removeClass('active')
              $('#panel-overlay').css('display', '')
              $('#panel-left').removeClass('active')

              // something is currently loading, ignore
              if (isLoading == true)
                return

              isLoading = true
              selectedIndex = i

              $('#loading-container').css('display', '')
              $('#entity-content-iframe').css('display', 'none')

              var threadId = $(this).attr('id')
              var thread = threadsMap[threadId]
              setActive(threadId)
              console.log('Select Entity: ' + JSON.stringify(thread))

              var site = thread.site
              var url = 'https://'+site.slug+'.vertex360.co/post/'+thread.subject.slug
              $('#entity-content-iframe').attr('src', url)
              window.history.pushState("string", thread.subject.title, "/feed/"+thread.subject.slug)
            })
          })
        }

        var reloadUI = function(){
          // var tpl = $('#tpl-thread-preview').html()
          // var threadsHtml = ''
          // threads.forEach(function(thread){
          //   threadsHtml += Mustache.render(tpl, thread)
          // })
          //
          // $('#threads-sidebar').html(threadsHtml)

          var selectedThread = threads[selectedIndex]
          var url = 'https://'+selectedThread.site.slug+'.vertex360.co/post/'+selectedThread.subject.slug
          $('#entity-content-iframe').attr('src', url)
          setTimeout(function(){
            setActive(selectedThread.id)
            connectSidebar()
          }, 200)
        }

        $('#btn-nav-comments').click(function(e){
          var selectedThread = threads[selectedIndex]
          if (selectedThread==null)
            return

          console.log('Fetch Comments: ' + JSON.stringify(selectedThread))
          window.vertexLib.getRequest('/api/comment?thread='+selectedThread.id, null, function(err, resp){
            if (err){
              console.log('ERR: ' + JSON.stringify(err))
              return
            }

            console.log(JSON.stringify(resp))
          })
        })

        reloadUI()

        if (showSidebar==false)
          return

        // slide out sidebar on initial page load
        setTimeout(function(){
          document.getElementById('btn-menu-toggle').click()
        }, 400)

      })()
    </script>

  </body>
</html>
