<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vertex 360</title>
  <meta name="description" content="" />
  {{>head}}
</head>

<body>
  {{>nav}}

<div class="container pt-5 pb-4">
	<div class="row justify-content-between">
		<div class="col-md-8">
			<h5 class="font-weight-bold spanborder"><span>Recent</span></h5>

      {{#posts}}
			<div class="mb-5 justify-content-between post-preview">
        <h2 class="mb-1 h4">
          <a class="text-dark" target="_blank" href="{{{link}}}">{{title}}</a>
        </h2>
        <div class="d-flex">
          <div class="pr-4">
  					<p class="text-muted">{{preview}}</p>
  					<div class="card-text text-muted small">
  							<img class="mr-2" style="border-radius:50%" src="{{{author.image}}}=s28-c" />
  						 	<span class="text-capitalize">{{author.firstName}} {{author.lastName}}</span>
  							<span style="margin:6px">&middot;</span>
  							{{dateString}}
  							<span style="margin:6px">&middot;</span>
  							<a id="{{id}}" class="btn btn-sm btn-success comments-button" style="padding:0.12em 1em; box-shadow:none" href="#">Comments</a>
  					</div>
  				</div>
  				<a target="_blank" href="{{{link}}}">
  					<img src="{{{image}}}=s220-c">
  				</a>
        </div>

			</div>
      {{/posts}}
		</div>

		<div class="col-md-4 pl-4">
      <div class="sticky-top">
        <h5 class="font-weight-bold spanborder"><span>Site</span></h5>
        <div style="padding:24px;background:#dedafb">
          <h2>{{site.name}}</h2>
          <div class="text-center mb-4 mt-3">
            <img src="{{{site.image}}}=s512" />
          </div>
          <p>{{site.description}}</p>
          <a target="_blank" href="{{{site.link}}}" class="btn btn-danger w-100">View Site</a>
        </div>
      </div>

		</div>
	</div>
</div>

  {{>footer}}
  {{>auth}}
  {{>scripts}}
  <script>
    (function(){
      var data = window.__PRELOADED__
      var posts = data.posts

      $('.comments-button').each(function(i, btn){
        $(this).click(function(e){
          if (e)
            e.preventDefault()

          var postId = $(this).attr('id')
          window.vertexLib.getRequest('/api/thread?subject.id='+postId, null, function(err, response){
            if (err){
              console.log('ERROR: ' + JSON.stringify(err))
              return
            }

            if (response.results.length > 0){
              var thread = response.results[0]
              console.log('THREAD: ' + JSON.stringify(thread))
              return
            }

            var selectedPost = null
            posts.forEach(function(post){
              if (post.id == postId)
                selectedPost = post
            })

            if (selectedPost == null){
              console.log('POST NOT FOUND')
              return
            }

            var site = data.site
            var siteUrl = (site.url.legth==0) ? 'https://'+site.slug+'.vertex360.co' : 'https://'+site.url
            var postUrl = (site.url.legth==0) ? 'https://'+site.slug+'.vertex360.co/post/'+selectedPost.slug : 'https://'+site.url+'/post/'+selectedPost.slug

            // not found, create one
            var params = {
              site: JSON.stringify({id:site.id, slug:site.slug, name:site.name, image:site.image, url:siteUrl}),
              subject: JSON.stringify({id:selectedPost.id, schema:'post', title:selectedPost.title, preview:selectedPost.preview, slug:selectedPost.slug, image:selectedPost.image, url:postUrl}),
              slug: selectedPost.slug
            }

            window.vertexLib.postRequest('/api/thread', params, function(err, resp2){
              if (err){
                console.log('ERR2: ' + JSON.stringify(err))
                return
              }

              console.log('THREAD CREATED: ' + JSON.stringify(resp2))
            })
          })
        })
      })
    })()
  </script>
</body>
</html>
