<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vertex 360</title>
  <meta name="description" content="" />
  {{>head}}
  <style>
    .subject-image-container {
      width:110px;
      height: 110px;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
    }

    @media screen and (max-width: 525px) {
      .subject-image-container {
        display: none;
      }
    }
  </style>
</head>

<body>
  {{>nav}}

<div class="container pt-5">
  <div class="row">


  </div>
</div>
<!-- End Header -->


<div class="container pt-4 pb-4">
	<div class="row justify-content-between">
		<div class="col-md-8 mx-auto">
      <div style="display:flex">
        <div class="mr-3 subject-image-container" style="background:url('{{{thread.subject.image}}}')">
        </div>
        <div style="flex:1">
          <h3 class="mb-0">
            <a target="_blank" style="text-decoration:none" href="{{{thread.subject.url}}}"><span>{{thread.subject.title}}</span></a>
          </h3>
          <small>{{thread.subject.dateString}}</small>
          {{#thread.site.id}}
          <span style="margin:6px">&middot;</span>
          <small><a target="_blank" style="text-decoration:none" href="{{{thread.site.url}}}">{{thread.site.name}}</a></small>
          {{/thread.site.id}}

          {{#thread.profile.id}}
          <span style="margin:6px">&middot;</span>
          <small>posted by <a target="_blank" style="text-decoration:none" href="#">{{thread.profile.username}}</a></small>
          {{/thread.profile.id}}

        </div>
      </div>
      <textarea id="text-area-comment" class="form-control mt-4 mb-3" rows="4" style="padding:0px 8px;resize:none"></textarea>
      <button id="btn-submit-comment" class="mb-4 btn btn-success">Add Comment</button>
      <div id="comments-container">

        {{#comments}}
        <div class="mt-2 d-flex justify-content-between post-preview">
          <div class="pr-4">
            <div class="card-text text-muted small">
                <a href="#">{{ profile.username }}</a>
                <span style="margin:6px">&middot;</span>
                <span>{{ dateString }}</span>
            </div>
            <p class="text-muted">{{{text}}}</p>
          </div>
        </div>
        {{/comments}}

      </div>
		</div>

	</div>
</div>
  {{>footer}}
  {{>auth}}

  <script type="text/template" id="tpl-comment">
    <div class="mt-2 d-flex justify-content-between post-preview">
      <div class="pr-4">
        <div class="card-text text-muted small">
            <a href="#"><% profile.username %></a>
            <span style="margin:6px">&middot;</span>
            <span><% dateString %></span>
        </div>
        <p class="text-muted"><%{text}%></p>
      </div>
    </div>
  </script>

  {{>scripts}}
  <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>

  <script>
    (function(){
      Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side
      var data = window.__PRELOADED__
      var user = data.user
      var site = data.site // full site data
      var thread = data.thread
      var schema = data.schema // post, video, episode, etc
      var comments = data.comments

      var reloadUI = function(){
        var tpl = $('#tpl-comment').html()
        var commentsHtml = ''
        comments.forEach(function(comment){
          commentsHtml += Mustache.render(tpl, comment)
        })

        $('#comments-container').html(commentsHtml)
      }

      var fetchComments = function(){
        window.vertexLib.getRequest('/api/comment?thread='+thread.subject.id, null, function(err, resp){
          if (err)
            return

          comments = resp.results
          reloadUI()
        })
      }

      $('#btn-submit-comment').click(function(event){
        if (event)
          event.preventDefault()

        if (user == null){
          alert('Please login or register to submit comment.')
          document.getElementById('nav-register').click()
          return
        }

        var commentText = $('#text-area-comment').val()
        if (commentText.length == 0){
          alert('Please enter a comment.')
          return
        }

        var comment = {
          text: commentText,
          thread: thread.subject.id,
          site: (site==null) ? null : JSON.stringify({id:site.id, slug:site.slug, name:site.name, image:site.image}),
          profile: JSON.stringify({
            id: user.id,
            firstName: user.firstName,
            lastName: user.lastName,
            username: user.username,
            slug: user.slug
          })
        }

        window.vertexLib.postRequest('/api/comment', comment, function(err, resp){
          if (err){
            alert('Error - '+err)
            return
          }

          // console.log('Comment Created: ' + JSON.stringify(resp))
          $('#text-area-comment').val('')
          comments.unshift(resp.result)
          reloadUI()
        })
      })

      // fetchComments()
    })()
  </script>
</body>
</html>
