<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vertex 360</title>
  <meta name="description" content="" />
  {{>head}}
</head>

<body>
  {{>nav}}

<div class="container pt-5">
  <div class="row">


  </div>
</div>
<!-- End Header -->


<div class="container pt-4 pb-4">
	<div class="row justify-content-between">
		<div class="col-md-8">
      <div id="thread-container"></div>
      <textarea id="text-area-comment" class="form-control mt-4 mb-3" rows="4" style="padding:0px 8px;resize:none"></textarea>
      <button id="btn-submit-comment" class="mb-5 btn btn-success">Add Comment</button>
      <div id="comments-container"></div>
		</div>

		<div class="col-md-4 pl-4">
      <div class="sticky-top">
        <div class="mb-5" style="padding:24px;background:#dedafb">
          <h2>Build Your Brand</h2>
          <div class="text-center mb-4 mt-3">
            <img style="max-width:200px" src="https://lh3.googleusercontent.com/uFcvuH_Yifl0PaAMqcNIvuUqXl67M2hc54S523D1pwceSWrphPExoGe2rhPauCNjTgxzVQWSUolQTNeoow4m9mK5ibI" />
          </div>
          <p>Vertex 360 is a platform for content creators in the modern media age. Whether you manage a YouTube channel, podcast, blog, Instagram folowing, or all of the above, Vertex 360 provides the best way to deliver your content under a unified, coherent brand that you control.</p>
          <a href="/about" class="btn btn-danger w-100">Learn More</a>
        </div>
      </div>

		</div>
	</div>
</div>
  {{>footer}}
  {{>auth}}

  <script type="text/template" id="tpl-thread">
    <h3 class="mb-0">
      <a target="_blank" style="text-decoration:none" href="<%{subject.url}%>"><span><% subject.title %></span></a>
    </h3>
    <small><% subject.dateString %></small>
    <span style="margin:6px">&middot;</span>
    <small>
      <a style="text-decoration:none" href="/site/<% site.slug %>"><% site.name %></a>
    </small>
  </script>

  <script type="text/template" id="tpl-comment">
    <div class="mt-2 d-flex justify-content-between post-preview">
      <div class="pr-4">
        <div class="card-text text-muted small">
            <a href="#"><% profile.username %></a>
            <span style="margin:6px">&middot;</span>
            <span><% dateString %></span>
        </div>
        <p class="text-muted"><%{text}%></p>
      </div>
    </div>
  </script>

  {{>scripts}}
  <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>

  <script>
    (function(){
      Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side
      var data = window.__PRELOADED__
      var user = data.user
      var site = data.site // full site data
      var threadId = data.thread // ID number
      var schema = data.schema // post, video, episode, etc

      var thread = null // full thread data
      var comments = []

      var reloadUI = function(){
        var tplThread = $('#tpl-thread').html()
        var threadHtml = Mustache.render(tplThread, thread)
        $('#thread-container').html(threadHtml)

        var tpl = $('#tpl-comment').html()
        var commentsHtml = ''
        comments.forEach(function(comment){
          commentsHtml += Mustache.render(tpl, comment)
        })

        $('#comments-container').html(commentsHtml)
      }

      var fetchComments = function(){
        console.log('FETCH COMMENTS: ' + JSON.stringify(thread))
        window.vertexLib.getRequest('/api/comment?thread='+threadId, null, function(err, resp){
          if (err)
            return

          comments = resp.results
          reloadUI()
        })
      }

      // check if thread entity exists:
      window.vertexLib.getRequest('/api/thread?subject.id='+threadId, null, function(err, resp){
        if (err){
          return
        }

        if (resp.results.length == 0){
          // console.log('THREAD NOT FOUND')
          alert('Error - Inavlid URL.')
          return
        }

        thread = resp.results[0]
        fetchComments()
        return
      })

      $('#btn-submit-comment').click(function(event){
        if (event)
          event.preventDefault()

        if (user == null){
          alert('Please login or register to submit comment.')
          document.getElementById('nav-register').click()
          return
        }

        var commentText = $('#text-area-comment').val()
        if (commentText.length == 0){
          alert('Please enter a comment.')
          return
        }

        var comment = {
          text: commentText,
          thread: threadId,
          profile: JSON.stringify({
            id: user.id,
            firstName: user.firstName,
            lastName: user.lastName,
            username: user.username,
            slug: user.slug
          })
        }

        window.vertexLib.postRequest('/api/comment', comment, function(err, resp){
          if (err){
            alert('Error - '+err)
            return
          }

          console.log('Comment Created: ' + JSON.stringify(resp))
          $('#text-area-comment').val('')
          comments.unshift(resp.result)
          reloadUI()
        })
      })
    })()
  </script>
</body>
</html>
