<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vertex 360</title>
  <meta name="description" content="" />

  {{>head}}
  <link rel="stylesheet" href="{{{cdn}}}/css/fontawesome-5.3.1.min.css" />
  <style>
    .thread-preview {
      border: 1px solid #ededed;
      border-radius: 6px;
      display: flex
    }

    .thread-preview-img {
      padding: 0px;
    }

    .thread-preview-img img {
      max-width: 220px;
      max-height: 220px;
    }

    .thread-preview-container {
      flex: 1;
      padding: 12px;
    }

    .thread-preview-container small {
      color: #b1b0b0;
      font-size: 12px;
    }

    .thread-preview-container span {
      margin: 6px;
    }

    .thread-preview-container a {
      text-decoration: none;
    }

    .site-icon {
      border-radius: 50%;
      margin-right: 6px;
      width: 22px;
    }

    .entity-header {
      padding: 4px;
      background: #f9f9f9;
      text-align: left;
      line-height: 20px;
    }

    .entity-header h1 {
      font-size: 22px;
      margin-bottom: 0px;
      text-align: left;
      font-family: Arial;
      line-height: 28px;
      font-weight: 400;
      color: #333;
    }

    .entity-header small {
      color: #999;
      font-size: 14px;
      font-weight: 400;
      font-family: Arial;
    }

    .comment-vote {
      padding: 6px;
      background: #e8f2ff;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }

    .comment-vote small {
      margin-bottom: 3px;
    }

    .comment-vote i {
      font-size: 20px;
    }

    .context-container small {
      color: #6c757d;
    }

    .context-container i {
      color: #6c757d;
      margin-left: 6px;
    }

    .context-link i {
      font-size: 12px;
      text-decoration: none;
    }
  </style>

</head>

<body style="padding-top:0px;background:#f9f9f9">
<div class="container pt-0 pb-4">
	<div class="row justify-content-between">
		<div class="col-md-8">
      <div class="entity-header mt-2">
        <h1 id="entity-title"></h1>
        <small id="entity-date"></small>
      </div>

      <div id="comments-header" class="d-none">
        <textarea id="text-area-comment" class="form-control mt-3 mb-1" rows="3" style="padding:0px 8px;resize:none"></textarea>
        <small class="text-muted" id="display-username"></small>
        <div id="btn-logout-container" class="btn-group">
          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="ml-1" style="max-width:26px;opacity:0.6" src="https://lh3.googleusercontent.com/eJ6Xz07dlPwSEaT8pdPgsrBwExjl0IzK2DpEpJ_8ljbTmBAu0tqQ0KGT9IHJr_LkiQ-BaJs9VmsXI365lRSYt_bB4kk=s120" />
          </a>
          <ul style="padding:6px 12px" class="dropdown-menu">
            <li>
              <a id="btn-logout" style="text-decoration:none" href="#">Logout</a>
            </li>
            <li>
              <a id="btn-view-profile" target="_blank" style="text-decoration:none" href="#">View Profile</a>
            </li>
          </ul>
        </div>

        <button id="btn-submit-comment" class="mb-3 btn btn-success float-right mt-2">Add Comment</button>
      </div>

      <div id="register-or-login" class="mt-4 mb-4 d-none" style="background:#f9f9f9;">
        <small>Please join or login to submit a comment:</small><br />
        <button type="button" class="btn btn-primary mb-0 mt-2 mr-2" data-toggle="modal" data-target="#register-modal">REGISTER</button>
        <button type="button" class="btn mb-0 mt-2" data-toggle="modal" data-target="#login-modal">LOGIN</button>
      </div>

      <div id="comments-container" class="mt-5">
      </div>

		</div>
	</div>
</div>

<footer class="container p-3 text-muted small d-flex">
	<div style="flex:1">
		<a target="_blank" href="/landing">
			<img class="mr-3 mb-3" style="max-width:120px" src="https://lh3.googleusercontent.com/hlcLdauNL9UiLa3K4wF5ZPNpHzi50R26y61Ahx7oRMbUNgujN-1SmeC_3zG4EHLBH5WnRhQ1ZS19KF_xcWqkTKoENw=s320" />
		</a>
	</div>
	<div style="padding-top:9px">
		Copyright &copy; <script>document.write(new Date().getFullYear())</script>. All rights reserved.
	</div>
</footer>


  {{>auth}}
  <a id="nav-register" style="display:none;" class="nav-link" href="#" data-toggle="modal" data-target="#register-modal">JOIN</a>


  <script type="text/template" id="tpl-comment">
    <div class="mb-3">
      <%#showContext%>
      <a href="#" id="<% id %>" class="context-link ml-1">
        <small><% context.title %></small>
        <i class="fa fa-external-link-alt ml-1"></i>
      </a>
      <%/showContext%>
      <div class="bg-white thread-preview">
        <div class="thread-preview-container">
          <div class="mb-2">
            <a target="_blank" href="#"><img class="site-icon" src="<%{profile.image}%>=s44-c" /></a>
            <a target="_blank" href="#"><small><%profile.username%></small></a>
            <span>&middot;</span>
            <small><%dateString%></small>

            <%#isAuthor%>
            <div class="btn-group" style="vertical-align:inherit">
              <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="ml-2" style="max-width:18px;opacity:0.6" src="https://lh3.googleusercontent.com/eJ6Xz07dlPwSEaT8pdPgsrBwExjl0IzK2DpEpJ_8ljbTmBAu0tqQ0KGT9IHJr_LkiQ-BaJs9VmsXI365lRSYt_bB4kk=s120" />
              </a>
              <ul style="padding:6px 12px" class="dropdown-menu">
                <li>
                  <a style="text-decoration:none" href="#">Edit</a>
                </li>
                <li>
                  <a target="_blank" style="text-decoration:none" href="#">Delete</a>
                </li>
              </ul>
            </div>
            <%/isAuthor%>

          </div>
          <p style="color:#7d7d7d"><%{text}%></p>
          <a class="btn-reply-comment" id="reply-<% id %>" href="#">Reply</a>
          <div id="input-reply-container-<% id %>" style="display:none">
            <input id="input-reply-<% id %>" type="text" class="form-control p-1" />
            <button id="btn-submit-reply-<% id %>" class="btn btn-success btn-sm mt-2" style="float:right">Submit</button>
          </div>
        </div>
        <div class="comment-vote">
          <a href="#"><i id="<% id %>" class="fa fa-arrow-up btn-upvote"></i></a>
          <small id="score-<%id%>"><% votes.score %></small>
          <a href="#"><i id="<% id %>" class="fa fa-arrow-down btn-downvote"></i></a>
        </div>
      </div>    

      <%#replies%>
      <div>
        <% text %>
      </div>
      <%/replies%>
    </div>
  </script>

  {{>scripts}}
  <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>
  <script>
    (function(){
      var userAgent = navigator.userAgent.toLowerCase()

      Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side
      var data = window.__PRELOADED__
      // var user = data.user
      var user = null
      var entity = null
      var url = null
      var site = data.site // full site data
      var schema = data.schema // post, video, episode, etc
      var comments = data.comments || []

      var format = data.format // readonly or comment
      var canComment = (format!=='readonly')
      var showContext = (format==='readonly')

      if (user == null){
        $('#register-or-login').removeClass('d-none')
        if (data.token != null){
          // console.log('TOKEN: ' + data.token)
          setTimeout(function(){
            parent.postMessage({action:'validate-token', data:data.token}, '*')
          }, 500)
          return
        }
      }
      else
        $('#comments-header').removeClass('d-none')

      window.addEventListener('message', function(event){
        var message = event.data
        // console.log('MESSAGE RECEIVED == ' + JSON.stringify(message))
        if (message.type == null)
          return

        if (message.type == 'user-logged-in'){
          user = message.user
          document.getElementById('btn-close-login').click()
          document.getElementById('btn-close-register').click()
          reloadUI()
        }

        if (message.type == 'user-logged-out'){
          user = null
          reloadUI()
        }

        if (message.type == 'set-entity'){
          // console.log('SET ENTITY: '+JSON.stringify(message.entity))
          entity = message.entity
          url = message.url
          reloadUI()
        }
      })

      var reloadUI = function(){
        if (user){
          if (canComment){
            $('#comments-header').removeClass('d-none')
          }
          else {
            $('#comments-header').addClass('d-none')
          }

          $('#register-or-login').addClass('d-none')
          $('#display-username').html('Logged in as '+user.username)
          $('#btn-view-profile').attr('href', '/profile/'+user.slug)
        }
        else {
          $('#comments-header').addClass('d-none')
          $('#register-or-login').removeClass('d-none')
        }

        if (entity!=null){
          $('#entity-title').html(entity.title)
          $('#entity-date').html(entity.dateString)
        }

        var tpl = $('#tpl-comment').html()
        var commentsHtml = ''
        comments.forEach(function(comment){
          comment['showContext'] = (showContext) ? 'true' : null
          if (user != null)
            comment['isAuthor'] = (user.id===comment.profile.id) ? 'yes' : null

          commentsHtml += Mustache.render(tpl, comment)
        })

        $('#comments-container').html(commentsHtml)

        // all of these should be in the SDK:
        setTimeout(function(){
          $('.context-link').each(function(i, link){
            $(this).unbind()
            var id = $(this).attr('id')
            $(this).click(function(event){
              if (event)
                event.preventDefault()
              
              var comment = data.commentsMap[id]
              if (comment == null)
                return
              
              if (comment.context == null)
                return

              console.log('click context link: ' + JSON.stringify(comment))
              parent.postMessage({action:'click-context-link', data:comment.context}, '*')
            })
          })

          $('.btn-reply-comment').each(function(i, btnReply){
            var id = $(this).attr('id') // "reply-1231a..."
            var parts = id.split('-')
            var commentId = parts[1]
            var comment = data.commentsMap[commentId]

            $(this).unbind()
            $(this).click(function(event){
              if (event)
                event.preventDefault()

              if (user==null){
                alert('Please login or register to reply to comments')
                return
              }

              console.log('reply comment: ' + JSON.stringify(comment))
              $('#btn-submit-reply-'+commentId).click(function(event){
                if (event)
                  event.preventDefault()

                var replyText = $('#input-reply-'+commentId).val()
                if (replyText.length == 0){
                  alert('Please enter a reply.')
                  return
                }

                var reply = {
                  text: replyText,
                  thread: data.thread,
                  site: JSON.stringify({id:site.id, slug:site.slug, name:site.name, image:site.image, url:'https://'+site.url}),
                  profile: JSON.stringify({id:user.id, username:user.username, image:user.image, slug:user.slug}),
                  context: JSON.stringify({
                    id: comment.id,
                    schema: 'comment',
                    dateString: comment.dateString,
                    title: comment.text.substring(0, 100)+'...',
                    url: url || ''
                  })
                }

                console.log('submit reply: ' + JSON.stringify(reply))
                window.vertexLib.postRequest('/api/comment', reply, function(err, resp){
                  if (err){
                    alert('Error - '+err)
                    return
                  }

                  console.log('Comment Created: ' + JSON.stringify(resp))
                  $('#text-area-comment').val('')
                  comments.unshift(resp.result)
                  reloadUI()
                })
              })

              $('#reply-'+commentId).css('display', 'none')
              $('#input-reply-container-'+commentId).css('display', '')
            })
          })

          $('.btn-upvote').each(function(i, upvote){
            var id = $(this).attr('id')
            $(this).unbind()
            $(this).click(function(event){
              if (event)
                event.preventDefault()
              
              if (user==null){
                alert('Please login or register to upvote')
                return
              }

              // {"profile":"5cb93ce57df02703d5ddc25a","comment":"downvote-5cd859b13c68910c1f909bad"}
              var params = {
                profile: user.id,
                comment: 'upvote-'+id,
              }

              console.log('UPVOTE: ' + JSON.stringify(params))
              window.vertexLib.postRequest('/account/vote', params, function(err, resp){
                if (err){
                  alert('Error - ' + err.message)
                  return
                }

                if (resp.confirmation != 'success'){
                  alert(resp.message)
                  return
                }

                console.log('COMMENT UPVOTED: ' + JSON.stringify(resp))
                var comment = resp.data
                $('#score-'+comment.id).html(comment.votes.score)
              })
            })
          })

          $('.btn-downvote').each(function(i, downvote){
            $(this).unbind()
            var id = $(this).attr('id')
            $(this).click(function(event){
              if (event)
                event.preventDefault()
              
              if (user==null){
                alert('Please login or register to downvote')
                return
              }

              var params = {
                profile: user.id,
                comment: 'downvote-'+id,
              }

              console.log('DOWNVOTE: ' + JSON.stringify(params))
              window.vertexLib.postRequest('/account/vote', params, function(err, resp){
                if (err){
                  alert('Error - ' + err.message)
                  return
                }

                if (resp.confirmation != 'success'){
                  alert(resp.message)
                  return
                }

                console.log('COMMENT DOWNVOTED: ' + JSON.stringify(resp))
                var comment = resp.data
                $('#score-'+comment.id).html(comment.votes.score)
              })
            })
          })
        }, 1000)
      }

      $('#btn-submit-comment').click(function(event){
        if (event)
          event.preventDefault()

        if (user == null){
          alert('Please login or register to submit comment.')
          document.getElementById('nav-register').click()
          return
        }

        var commentText = $('#text-area-comment').val()
        if (commentText.length == 0){
          alert('Please enter a comment.')
          return
        }

        var threadId = data.thread // ID number
        if (threadId == null){
          console.log('THREAD ID NUMBER MISSING')
          return
        }

        var comment = {
          text: commentText,
          thread: threadId,
          site: JSON.stringify({id:site.id, slug:site.slug, name:site.name, image:site.image, url:'https://'+site.url}),
          profile: JSON.stringify({id:user.id, username:user.username, image:user.image, slug:user.slug}),
          context: JSON.stringify({
            id: entity.id,
            schema: entity.schema,
            title: entity.title || '',
            slug: entity.slug || '',
            preview: entity.preview || '',
            image: entity.image || '',
            dateString: entity.dateString || '',
            url: url || ''
          })
        }

        // console.log('SUBMIT COMMENT: '+JSON.stringify(comment))
        window.vertexLib.postRequest('/api/comment', comment, function(err, resp){
          if (err){
            alert('Error - '+err)
            return
          }

          console.log('Comment Created: ' + JSON.stringify(resp))
          $('#text-area-comment').val('')
          comments.unshift(resp.result)
          reloadUI()
        })
      })
    })()
  </script>
</body>
</html>
