<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vertex 360</title>
  <meta name="description" content="" />

  {{>head}}
  <style>
    .thread-preview {
      border: 1px solid #ededed;
      border-radius: 6px;
      display: flex
    }

    .thread-preview-img {
      padding: 0px;
    }

    .thread-preview-img img {
      max-width: 220px;
      max-height: 220px;
    }

    .thread-preview-container {
      flex: 1;
      padding: 12px;
    }

    .thread-preview-container small {
      color: #b1b0b0;
      font-size: 12px;
    }

    .thread-preview-container span {
      margin: 6px;
    }

    .thread-preview-container a {
      text-decoration: none;
    }

    .site-icon {
      border-radius: 50%;
      margin-right: 6px;
      width: 22px;
    }

    .entity-header {
      padding: 4px;
      background: #f9f9f9;
      text-align: left;
      line-height: 20px;
    }

    .entity-header h1 {
      font-size: 22px;
      margin-bottom: 0px;
      text-align: left;
      font-family: Arial;
      line-height: 28px;
      font-weight: 400;
      color: #333;
    }

    .entity-header small {
      color: #999;
      font-size: 14px;
      font-weight: 400;
      font-family: Arial;
    }
  </style>

</head>

<body style="padding-top:0px;background:#f9f9f9">
<div class="container pt-0 pb-4">
	<div class="row justify-content-between">
		<div class="col-md-8">
      <div class="entity-header mt-2">
        <h1 id="entity-title"></h1>
        <small id="entity-date"></small>
      </div>

      <div id="comments-header" class="d-none">
        <textarea id="text-area-comment" class="form-control mt-3 mb-1" rows="3" style="padding:0px 8px;resize:none"></textarea>
        <small class="text-muted" id="display-username"></small>
        <div class="btn-group">
          <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="ml-1" style="max-width:26px;opacity:0.6" src="https://lh3.googleusercontent.com/eJ6Xz07dlPwSEaT8pdPgsrBwExjl0IzK2DpEpJ_8ljbTmBAu0tqQ0KGT9IHJr_LkiQ-BaJs9VmsXI365lRSYt_bB4kk=s120" />
          </a>
          <div style="padding:6px" class="dropdown-menu">
            <a id="btn-logout" style="text-decoration:none" href="#">Logout</a>
          </div>
        </div>

        <button id="btn-submit-comment" class="mb-3 btn btn-success float-right mt-2">Add Comment</button>
      </div>

      <div id="register-or-login" class="mt-4 mb-4 d-none" style="background:#f9f9f9;">
        <small>Please join or login to submit a comment:</small><br />
        <button type="button" class="btn btn-primary mb-0 mt-2 mr-2" data-toggle="modal" data-target="#register-modal">REGISTER</button>
        <button type="button" class="btn mb-0 mt-2" data-toggle="modal" data-target="#login-modal">LOGIN</button>
      </div>

      <div id="comments-container" class="mt-5">

        {{#comments}}
        <div class="bg-white mb-3 thread-preview">
          <div class="thread-preview-container">
            <div class="mb-2">
              <a target="_blank" href="{{{site.url}}}"><img class="site-icon" src="{{{profile.image}}}=s44-c" /></a>
              <a target="_blank" href="{{{site.url}}}"><small>{{profile.username}}</small></a>
              <span>&middot;</span>
              <small>{{dateString}}</small>
            </div>
            <p style="color:#7d7d7d">{{{text}}}</p>
          </div>
          <div style="width:24px;background:#e8f2ff">
          </div>
        </div>
        {{/comments}}

      </div>
		</div>
	</div>
</div>

<footer class="container p-3 text-muted small d-flex">
	<div style="flex:1">
		<a href="/">
			<img class="mr-3 mb-3" style="max-width:120px" src="https://lh3.googleusercontent.com/hlcLdauNL9UiLa3K4wF5ZPNpHzi50R26y61Ahx7oRMbUNgujN-1SmeC_3zG4EHLBH5WnRhQ1ZS19KF_xcWqkTKoENw=s320" />
		</a>
	</div>
	<div style="padding-top:9px">
		Copyright &copy; <script>document.write(new Date().getFullYear())</script>. All rights reserved.
	</div>
</footer>


  {{>auth}}
  <a id="nav-register" style="display:none;" class="nav-link" href="#" data-toggle="modal" data-target="#register-modal">JOIN</a>


  <script type="text/template" id="tpl-comment">
    <div class="bg-white mb-3 thread-preview">
      <div class="thread-preview-container">
        <div class="mb-2">
          <a target="_blank" href="#"><img class="site-icon" src="<%{profile.image}%>=s44-c" /></a>
          <a target="_blank" href="#"><small><%profile.username%></small></a>
          <span>&middot;</span>
          <small><%dateString%></small>
        </div>
        <p style="color:#7d7d7d"><%{text}%></p>
      </div>
      <div style="width:24px;background:#e8f2ff">
      </div>
    </div>
  </script>

  {{>scripts}}
  <script type="text/javascript" src="{{{cdn}}}/js/mustache.js"></script>
  <script>
    (function(){
      var userAgent = navigator.userAgent.toLowerCase()

      Mustache.tags = ["<%", "%>"] // change delimiter so it doesn't conflict server side
      var data = window.__PRELOADED__
      // var user = data.user
      var user = null
      var entity = null
      var site = data.site // full site data
      var schema = data.schema // post, video, episode, etc
      var comments = data.comments || []

      if (user == null)
        $('#register-or-login').removeClass('d-none')
      else
        $('#comments-header').removeClass('d-none')

      window.addEventListener('message', function(event){
        var message = event.data
        // console.log('MESSAGE RECEIVED == ' + JSON.stringify(message))
        if (message.type == null)
          return

        if (message.type == 'user-logged-in'){
          user = message.user
          document.getElementById('btn-close-login').click()
          document.getElementById('btn-close-register').click()
          reloadUI()
        }

        if (message.type == 'user-logged-out'){
          user = null
          reloadUI()
        }

        if (message.type == 'set-entity'){
          // console.log('SET ENTITY: '+JSON.stringify(message.entity))
          entity = message.entity
          reloadUI()
        }
      })

      var reloadUI = function(){
        if (user){
          $('#comments-header').removeClass('d-none')
          $('#register-or-login').addClass('d-none')
          $('#display-username').html('Logged in as '+user.username)
        }
        else {
          $('#comments-header').addClass('d-none')
          $('#register-or-login').removeClass('d-none')
        }

        if (entity!=null){
          $('#entity-title').html(entity.title)
          $('#entity-date').html(entity.dateString)
        }

        var tpl = $('#tpl-comment').html()
        var commentsHtml = ''
        comments.forEach(function(comment){
          commentsHtml += Mustache.render(tpl, comment)
        })

        $('#comments-container').html(commentsHtml)
      }

      /*
      $('#btn-logout').click(function(){
        if (event)
          event.preventDefault()

        parent.postMessage({action:'log-out', data:null}, '*')
      }) */

      $('#btn-submit-comment').click(function(event){
        if (event)
          event.preventDefault()

        if (user == null){
          alert('Please login or register to submit comment.')
          document.getElementById('nav-register').click()
          return
        }

        var commentText = $('#text-area-comment').val()
        if (commentText.length == 0){
          alert('Please enter a comment.')
          return
        }

        var threadId = data.thread // ID number
        if (threadId == null){
          console.log('THREAD ID NUMBER MISSING')
          return
        }

        var comment = {
          text: commentText,
          thread: threadId,
          // url: window.location.href,
          site: JSON.stringify({id:site.id, slug:site.slug, name:site.name, image:site.image, url:'https://'+site.url}),
          profile: JSON.stringify({
            id: user.id,
            // firstName: user.firstName,
            // lastName: user.lastName,
            username: user.username,
            image: user.image,
            slug: user.slug
          })
        }

        // console.log('SUBMIT COMMENT: '+JSON.stringify(comment))
        window.vertexLib.postRequest('/api/comment', comment, function(err, resp){
          if (err){
            alert('Error - '+err)
            return
          }

          console.log('Comment Created: ' + JSON.stringify(resp))
          $('#text-area-comment').val('')
          comments.unshift(resp.result)
          reloadUI()
        })
      })
    })()
  </script>
</body>
</html>
