<nav class="topnav navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
<div class="container">
	<a class="navbar-brand" href="/">
		<img style="max-width:160px" src="https://lh3.googleusercontent.com/pdS5a8pCwrYEp2dbvBPvBxq1WPO57VexjG0fkCNOSw6lIeUNuLK1PAyizKIWEvX6UgFBVQ9OHzbtkQMhvbS57ZRXww=s320" />
	</a>
	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbarColor02">
		<ul class="navbar-nav ml-auto d-flex align-items-center">
			<li class="nav-item">
				<a class="nav-link" href="/templates">Templates</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/feed">Feed</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://blog.vertex360.co">Blog</a>
			</li>
			<li class="nav-item" id="nav-login">
				<a class="nav-link" href="#" href="#" data-toggle="modal" data-target="#login-modal">Sign In</a>
			</li>
			<li class="nav-item highlight ml-4" id="login-container">
				<a id="nav-register" style="background:#03a87c;color:#fff !important" class="nav-link" href="#" data-toggle="modal" data-target="#register-modal">JOIN VERTEX</a>
			</li>
		</ul>
	</div>
</div>
</nav>
<!-- End Navbar -->
