<script type="text/javascript">window.__PRELOADED__ = {{{preloaded}}}</script>
<script type="text/javascript" src="{{{cdn}}}/medium/js/vendor.min.js"></script>
<script type="text/javascript" src="{{{cdn}}}/scripts/auth.js"></script>
