<script src="/medium/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="/medium/js/vendor/popper.min.js" type="text/javascript"></script>
<script src="/medium/js/vendor/bootstrap.min.js" type="text/javascript"></script>
<script src="/medium/js/functions.js" type="text/javascript"></script>
